.question.box
  %h2
    Example Question.
    %small
      Drag and drop the correct word from the list below to complete the sentence.

  %ul.unstyled.fg-list
    // The answer will need to validate if dropped. If it's incorrect, it should snap back to the starting position.
    %li
      A Resident's
      %span.droppable.example
        %span.droppable-example vital
      signs such as temperature are also referred to as 'obs' or 'observations'.
  .fg-words
    // The order of the words needs to be randomised each page load. They should never load in the correct sequence.
    %h4 Word List
    %span.draggable-disabled.ui-widget-content
      vital
    %span.draggable-disabled.ui-widget-content
      life
    %span.draggable-disabled.ui-widget-content
      key
    %span.draggable-disabled.ui-widget-content
      health

-#.question.box
  %h2
    Question 1.
    %small
      Drag the correct word from the Word Pane into the gap to complete the sentence.

  %ul.unstyled.fg-list
    // The answer will need to validate if dropped. If it's incorrect, it should snap back to the starting position.
    %li
      Putting out an
      %span.droppable
      with water is not a safe practice. Water conducts electricity and can cause a shock. Instead, smother the electrical fire with a flame-retardant blanket or use a fire extinguisher.
  .fg-words
    // The order of the words needs to be randomised each page load. They should never load in the correct sequence.
    %h4 Word Pane
    %span.draggable.ui-widget-content
      a cigarette
    %span.draggable.ui-widget-content
      a house fire
    %span.draggable.ui-widget-content
      a gas fire
    %span.draggable.ui-widget-content
      an electrical fire
    %span.draggable.ui-widget-content
      a chemical fire