%h2 Learning Plans

%p
  Learning Plans are a collection of programs and assessments that you are required to complete. They have been set up by your Coordinator. Click or tap anywhere on a Learning Plan to open it.

%p
  %a{href: "http://support.acctv.co/entries/21860928-learning-plans", target: "_blank"}
    %strong Read More

%hr

%h2 Plan Statuses 

%ul
  %li
    %strong Overdue
    %span - A program or assessment within the Learning Plan has not been completed in the allocated time.
  %li
    %strong Active
    %span - The Learning Plan is not yet completed, but is not overdue.
  %li
    %strong Completed
    %span - All programs and assessments within the Learning Plan have been completed.

%p
  %a{:href => "http://support.acctv.co/entries/21860928-learning-plans", target: "_blank"}
    %strong Read More