.box.minheight-overflow.pending-programs
  .row-fluid
    .span12
      %h3= @title
      - if @viewed_program
        %span Viewed on #{@viewed_at_date} at #{@viewed_at_time}
      - else
        %span Not Viewed
      %hr
  %ul.row-fluid
    %li.span3.vidcontainer
      .vidthumb
        %a{href: "/programs/#{@program_id}"}
          %img{src: @thumb_200_200_url, :alt => 'thumbnail'}
          .caption
            %span.icon
              C
            = @duration
      %a.btn.btn-info.btn-wide{href: "/programs/#{@program_id}"}
        View Program
    %li.span3{ 'data-essentials-assessment' => true }
      - if @require_essentials
        - if @completed_essentials
          %span.badge.badge-rounded.badge-large.badge-success.icon T
          %span.status-label Essentials
          %span Passed
        - else if @is_essential_assessment_unsuccessful
          %span.badge.badge-rounded.badge-large.badge-important.icon $
          %span.status-label Essentials
          %span Unsuccessful
        - else if @overdue_essentials
          %span.badge.badge-rounded.badge-large.badge-overdue.icon C
          %span.status-label Essentials
          %span Overdue
        - else
          %span.badge.badge-rounded.badge-large.badge-pending.icon !
          %span.status-label Essentials
          %span Pending
        - if !@completed_essentials && @is_essential_assessment_active
          %a.btn.btn-mini.btn-success.start{href: "/programs/#{@program_id}/essential-assessments/new", role: "start-assessment"}
            Start Assessment
      - else
        %span.badge.badge-rounded.badge-large.badge-default.icon #
        %span.status-label Essentials
        %span Not Required

    - if @require_extension
      %li.span3
        - if @completed_extension
          %span.badge.badge-rounded.badge-large.badge-success.icon T
          %span.status-label Extension
          %span Passed
        - else if @overdue_extension
          %span.badge.badge-rounded.badge-large.badge-overdue.icon C
          %span.status-label Extension
          %span Overdue
        - else
          %span.badge.badge-rounded.badge-large.badge-pending.icon !
          %span.status-label Extension
          %span Pending
    - else
      %li.span3
        %span.badge.badge-rounded.badge-large.badge-default.icon #
        %span.status-label Extension
        %span Not Required

    - if @require_evidence
      %li.span3
        - if @completed_evidence
          %span.badge.badge-rounded.badge-large.badge-success.icon T
          %span.status-label Evidence
          %span Passed
        - else if @overdue_evidence
          %span.badge.badge-rounded.badge-large.badge-overdue.icon C
          %span.status-label Evidence
          %span Overdue
        - else
          %span.badge.badge-rounded.badge-large.badge-pending.icon !
          %span.status-label Evidence
          %span Pending
    - else
      %li.span3
        %span.badge.badge-rounded.badge-large.badge-default.icon #
        %span.status-label Evidence
        %span Not Required
