.widget-box
  .widget-title
    - if f.object.new_record?
      %h5 Create your question below
    - else
      %h5 Edit your question below
  .widget-content

    = f.input :learning_outcome_id, collection: f.object.possible_learning_outcomes, input_html: { class: 'input-xxlarge'}
    = f.input :question, input_html: { class: 'input-xxlarge', rows: 6}

    = render 'admin/programs/assessments/sections/toggleable_reference_image', f: f

    = f.input :answer, collection: [["True", true], ["False", false]], as: :radio_buttons, default: true, label: "Correct Answer"

= f.button :submit, class: 'btn btn-large btn-success', value: "Save"
= f.button :submit, t(:save_and_add_another_question), :class => 'btn btn-large btn-primary' if resource.new_record?
