= simple_form_for [:admin, @service], html: {class: 'form-horizontal'} do |f|
  = f.input :name, label: "Service Name"

  = f.input :group_id, as: :hidden if @group

  = f.input :country, as: :select, collection: @countries

  = f.association :packages, as: :select, collection: @packages
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
