= content_for :title do
  Edit Service -
  = @service.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_service_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Service' do
      %i.icon-home

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    = render partial: 'form'