name,country,disabled_at,activation_token,group,employments_count
<% for service in @services %><%= [service.name, service.country, service.disabled_at, service.activation_token, service.group.to_s, service.employments.count].join(",") %>
<% end %>