= content_for :title do
  Services
  = " for #{@group}" if @group.present?

= content_for :contextual_menu do
  .btn-group
    - if @group.present?
      = link_to [:admin, @group], class: 'btn btn-large tip-bottom', title: 'Show Group' do
        %i.icon-home
    - if can? :create, Service
      = link_to new_admin_service_path, class: 'btn btn-large tip-bottom', title: 'New Service' do
        %i.icon-plus
    = link_to url_for(format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Services' do
      %i.icon-download

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th Name
          %th Group
          %th Users Count
          %th Last updated by
          %th
      %tbody
        - for service in @services
          %tr
            %td
              = link_to service.name, admin_service_path(service)
              - if service.disabled?
                %i.icon-cancel.pull-right(title="Service disabled")
            %td
              = link_to service.group.name, admin_group_path(service.group) if service.group
            %td= service.employments.active.count
            %td
              = service.updated_by.name + ',' if service.updated_by
              = distance_of_time_in_words_to_now service.updated_at
              ago
            %td
              = link_to "Show", admin_service_path(service) if can? :view, Service
              |
              = link_to 'Edit', edit_admin_service_path(service) if can? :update, Service

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Services', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white
