= content_for :title do
  New Service

= content_for :contextual_menu do
  .btn-group
    = link_to admin_services_path, class: 'btn btn-large tip-bottom', title: 'Show Services' do
      %i.icon-home

- unless @group
  .alert.alert-info
    To create a service under a group you must select New Service when
    = link_to 'viewing a group', admin_groups_path

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    = render partial: 'form'