= content_for :title do
  Service -
  = @service.name

= content_for :contextual_menu do
  .btn-group
    - if can? :update, Service
      = link_to edit_admin_service_path(@service), class: 'btn btn-large tip-bottom', title: 'Edit Service' do
        %i.icon-pencil
    - if can? :create, User
      = link_to new_admin_service_questionable_path(@service), class: 'btn btn-large tip-bottom', title: 'Add User' do
        %i.icon-contact
      = link_to new_admin_service_user_import_path(@service), class: 'btn btn-large tip-bottom', title: 'Import Users' do
        %i.icon-import-users
    - if @service.group_id
      = link_to admin_group_job_titles_path(@service.group, format: "csv"), class: 'btn btn-large tip-bottom', title: 'Export Job Titles' do
        %i.icon-download
      = link_to admin_group_job_titles_path(@service.group), class: 'btn btn-large tip-bottom', title: 'Show Job Titles' do
        %i.icon-board
    - else
      = link_to admin_service_job_titles_path(@service, format: "csv"), class: 'btn btn-large tip-bottom', title: 'Export Job Titles' do
        %i.icon-download
      = link_to admin_service_job_titles_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Job Titles' do
        %i.icon-board
    = link_to admin_service_users_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Users' do
      %i.icon-users
    = link_to admin_service_programs_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Programs' do
      %i.icon-play
    = link_to admin_service_learning_plans_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Learning Plans' do
      %i.icon-play
    - if can? :update, Service
      = link_to reset_token_admin_service_path(@service), title: 'Reset Activation Token', class: 'btn btn-large btn-danger tip-bottom', method: :put do
        %i.icon-refresh
    - if can? :destroy, Service
      - if @service.disabled?
        = link_to enable_admin_service_path(@service), title: 'Enable Service', class: 'btn btn-large tip-bottom', method: :put do
          %i.icon-switch
      - else
        = link_to disable_admin_service_path(@service), title: 'Disable Service', class: 'btn btn-large tip-bottom btn-danger', method: :put, confirm: "Are you sure you want to DISABLE the service #{@service.name}? This action has serious implications." do
          %i.icon-switch

- if @service.disabled?
  .alert.alert-danger This Service has been disabled

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td Name
          %td= @service.name
        - if @service.zendesk_id
          %tr
            %td Zendesk Organisation
            %td= link_to @service.zendesk_id, "http://support.acctv.co/organizations/#{@service.zendesk_id}", target: '_blank'
        - if @service.group
          %tr
            %td Group
            %td= link_to @service.group.name, admin_group_path(@service.group)
        %tr
          %td Country
          %td= @service.country
        %tr
          %td Activation Token
          %td= @service.activation_token
        %tr
          %td Status
          %td= @service.status
        %tr
          %td Created At
          %td #{@service.created_at.to_s(:long_ordinal)} by #{@service.created_by.name if @service.created_by}
        %tr
          %td Updated At
          %td #{@service.updated_at.to_s(:long_ordinal)} by #{@service.updated_by.name if @service.updated_by}

        %tr
          %td Users Count
          %td= @service.employments.active.count
        %tr
          %td Programs Count
          %td= @service.programs.count
        %tr
          %td Learning Plans Count
          %td= @service.learning_plans.count

- if @service.subscriptions.any?
  .widget-box
    .widget-title
      %h5 Subscriptions
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Package
            %th Program Count
        %tbody
          - for subscription in @service.subscriptions
            %tr
              %td= link_to subscription.package.name, admin_package_path(subscription.package)
              %td
                = subscription.package.programs.count
                - if subscription.package.programs.processing.any?
                  (
                  = subscription.package.programs.processing.count
                  pending processing)
