.wrapper
  .clearfix#mainheader
    %img{src: @accLogo, class: 'hidden-phone pull-left logo', alt: 'ACC Logo'}
    #welcome.welcome.content
      %section
        %h1
          Settings
        %h2
          user settings
  .row-fluid
    .span12
      .contentblock
        #profile.box
        #employments
        #groups.row-fluid