= content_for :title do
  = "#{@user} - Learning Records"

= content_for :contextual_menu do
  .btn-group
    = link_to admin_user_path(@user), class: 'btn btn-large tip-bottom', title: 'Show User' do
      %i.icon.icon-user

- if @activities.present?
  .widget-box
    .widget-title
      %h5 Learning Records
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %th Program
          %th Activity
          %th Medium
          %th Created By
          %th Date and Time
        %tbody
          - @activities.each do |activity|
            %tr
              %td= link_to activity[:title], activity[:program_url]
              %td= activity[:activity_type]
              %td= activity[:medium]
              %td= activity[:record_created_by]
              %td= "#{activity[:viewed_date]} #{activity[:viewed_time]}"
