= content_for :title do
  Edit Program List -
  = @program.title

.widget-box
  .widget-title
    %h5 Edit
  .widget-content
    = simple_form_for [:admin, @service, @service_program], url: admin_service_program_path(@service), method: :put, html: {class: 'form-horizontal'} do |f|
      .alert.alert-info Programs are automatically divided by the main program based on if they are on introduction or a closer
      %fieldset
        %legend Introductions
        - for program in Program.introductions
          %span{id: "service_program_container_#{program.id}"}
            = f.simple_fields_for :program_lists, build_or_load_service_program_service_program_lists(@service_program, program) do |u|
              = render partial: "form_playlist", locals: {u: u, program: program}

      %fieldset
        %legend Closers
        - for program in Program.closers
          %span{id: "service_program_container_#{program.id}"}
            = f.simple_fields_for :program_lists, build_or_load_service_program_service_program_lists(@service_program, program) do |u|
              = render partial: "form_playlist", locals: {u: u, program: program}

      .form-actions
        = f.submit "Update Service Program", class: 'btn btn-primary'