= content_for :title do
  Programs for Service -
  = @service.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_service_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Service' do
      %i.icon.icon-home

.alert.alert-info
  This section is to edit the introductions and closers for programs. To add additional programs to a group please edit
  = link_to 'the package', admin_packages_path

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Code
          %th Title
          %th Programs Playlists
          %th Last updated by
          %th
      %tbody
        - for service_program in @service_programs
          %tr
            %td= link_to service_program.program_code, admin_program_path(service_program.program)
            %td= link_to service_program.program_title, admin_program_path(service_program.program)
            %td= service_program.program_lists.count
            %td
              = service_program.program_updated_by.name + ',' if service_program.program_updated_by
              = distance_of_time_in_words_to_now service_program.program_updated_at
              ago
            %td
              = link_to 'Edit', edit_admin_service_program_path(@service, service_program.program) if can? :update, Program
