%tr.nested-fields
  %td.full-width
    = f.input :answer, input_html: { :class => "input-block-level", :placeholder => "Add an answer option." }
  %td
    = f.radio_button :correct, true, 'data-not-uniform' => true, 'data-boolean-radio-group-set' => 'correct-answer'
    = f.radio_button :correct, false, 'data-not-uniform' => true, 'data-boolean-radio-group-set' => 'correct-answer'
  %td
    = f.input :id, as: :hidden
    = link_to_remove_association "Delete", f, :class => "btn btn-mini btn-danger"
