= content_for :title do
  == #{resource_class.model_name.human} - #{resource.name}

= content_for :contextual_menu do
  .btn-group
    - if can? :update, resource_class
      = link_to url_for(action: 'edit'), class: 'btn btn-large tip-bottom', title: "Edit #{resource_class.model_name.human}" do
        %i.icon-pencil
    - if can? :destroy, resource_class
      = link_to [:admin, parent, resource], method: :delete, class: 'btn btn-large btn-danger tip-bottom', title: "Delete #{resource_class.model_name.human}", confirm: "Are you sure you want to DELETE the #{resource_class.model_name.human.downcase} #{resource.name}? This action cannot be undone." do
        %i.icon-minus

.row-fluid
  = div_for(resource, class: 'span6') do
    %table.table.table-bordered.table-padded
      %tr
        %th
          = resource_class.human_attribute_name(:question_id)
        %th
          = resource_class.human_attribute_name(:attempts_count)
        %th
          = resource_class.human_attribute_name(:successful_attempts_count)
        %th
          = resource_class.human_attribute_name(:unsuccessful_attempts_count)
        %th
          = resource_class.human_attribute_name(:pass_rate)
      %tr
        %td
          = resource.question_id
        %td
          = resource.attempts_count
        %td
          = resource.successful_attempts_count
        %td
          = resource.unsuccessful_attempts_count
        %td
          = number_to_percentage_or_na(resource.pass_rate * 100)

    .widget-box
      .widget-title
        %h5
          = resource_class.human_attribute_name(:learning_outcome_id)
      .widget-content        
        = resource.learning_outcome.description

    .widget-box.fill-gap-preview
      .widget-title
        %h5
          Preview

      .widget-content
        %p.fill-gap-preview-instructions
          Use the correct word from the Word Pane to fill the gap word in the statement below.
        
        .fill-gap-preview-box
          %h6.fill-gap-preview-box-title
            Correct Answer
          
          %p.fill-gap-preview-question
            = resource.question.gsub("%%", "<span class='fill-gap-preview-question-answer' >#{resource.answers.correct.join(', ')}</span>").html_safe

        .fill-gap-preview-box
          %h6.fill-gap-preview-box-title
            Word Pane
            
          %ul.answers.fill-gap-preview-box-answers
            - resource.answers.each do |answer|
              %li
                = answer.answer

    = link_to 'Edit', edit_polymorphic_url([:admin, resource.section, resource]), class: "btn btn-primary pull-right"

