<section id="left">&nbsp;</section>
<section id="general">
  <h2>Sign up</h2>

  <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <%= f.inputs :class => "inline" do %>
      <div>
        <p><%= f.label :first_name %></p>
        <p><%= f.label :last_name %></p>
      </div>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    <% end %>
    
    <%= f.input :email %>
    <%= f.input :time_zone, :as => :time_zone, :priority_zones => /Australia/, :label => "Timezone" %>
    <%= f.input :born_at, :as => :date_picker, :label => "Date of birth", :hint => "dd/mm/yyyy" %>
    <%= f.input :gender, :as => :radio, :collection => gender_list %>

    <%= f.semantic_fields_for :employments, (@user.employments.any? ? @user.employments.first : @user.employments.build) do |e| %>
      <%= e.input :activation_token %>
    <% end %>

    <p><%= f.submit "Sign up" %></p>
    <%= f.input :self_registered, :as => :hidden, :value => "1" %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</section>