window.ACC =
  Views: {EssentialsAssessment: {}, Group: {}, Service: {}, Sidebar: {Groups: {}}}
  Routers: {}

HAML.globals = ->
  isCoordinator: ACC.User.get('is_coordinator')
  passwordChangeRequired: ACC.User.get('activation_code_set_at')
  ajaxGif: '<%= asset_path("ajax.gif") %>'
  accLogo: '<%= asset_path("acc-logo.png") %>'

Backbone.Validation.configure
  labelFormatter: 'label'