.nested-fields.well.span12
  .row-fluid
    = f.input :correct_position, label: false, input_html: { class: 'input-block-level', role: "SequentialQuestionAdminForm.CorrectPositionInput" }, wrapper_html: { class: 'span2' }

    = f.input :text, label: false, input_html: { class: 'input-block-level' }, wrapper_html: { class: 'span9' }

    .control-group.span1
      .controls
        = link_to_remove_association "Delete", f, :class => "btn btn-mini btn-danger"

  .control-group{role: "SequentialQuestionAdminForm.ImageAnswer"}
    = render 'admin/programs/assessments/sections/image_preview', f: f
