= f.error_notification

= f.input :learning_outcome_id, collection: f.object.possible_learning_outcomes, input_html: { class: 'input-xxlarge' }
= f.input :question, input_html: { rows: 6, class: 'input-xxlarge' }

= f.input :upload_images, as: 'boolean', input_html: { role: "SequentialQuestionAdminForm.AnswerToggler" }, label: false, inline_label: true, wrapper_html: { class: 'inline' }

.row-fluid
  .span7
    .control-group
      %label.control-label
        = child_class.model_name.human.pluralize

      #answer_items.controls{ role: "SequentialQuestionAdminForm.AnswerItems" }
        = f.simple_fields_for :answer_items, f.object.answer_items.sort_by(&:correct_position) do |child_form|
          = render "answer_item_fields", :f => child_form
        .links
          = link_to_add_association "Add Option", f, :answer_items, :class => "btn btn-large btn-success pull-right"
