= content_for :title do
  == Edit #{resource_class.model_name.human} -
  = resource.name

= content_for :contextual_menu do
  .btn-group
    = link_to url_for(action: 'show'), class: 'btn btn-large tip-bottom', title: "Show #{resource_class.model_name.human}" do
      %i.icon-play
    = link_to url_for(action: 'index'), class: 'btn btn-large tip-bottom', title: "Show #{resource_class.model_name.human.pluralize}" do
      %i.icon-play

= simple_form_for resource, url: url_for(action: :update), method: :put, html: {class: 'form-single-column', role: 'SequentialQuestionAdminForm'} do |f|
  .widget-box
    .widget-title
      %h5 Edit your question below
    .widget-content
      = render 'form', f: f

  %hr

  = f.button :submit, 'Save', class: 'btn btn-primary btn-success btn-large'

