= content_for :title do
  == Add #{resource_class.model_name.human}: #{resource.section.assessment.program}

= content_for :contextual_menu do
  .btn-group
    = link_to url_for(action: 'index'), class: 'btn btn-large tip-bottom', title: "Show #{resource_class.model_name.human.pluralize}" do
      %i.icon-play

= simple_form_for resource, url: url_for(action: :create), html: {class: 'form-single-column', role: 'SequentialQuestionAdminForm'} do |f|
  .widget-box
    .widget-title
      %h5 Create your question below
    .widget-content
      = render 'form', f: f

  %hr
  = f.button :submit, 'Save', class: 'btn btn-primary btn-success btn-large'
  = f.button :submit, t(:save_and_add_another_question), :class => 'btn btn-large btn-primary'
