<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td width="70" align="left" valign="top"><img src="http://dev.createur.com.au/edm/acc/images/hello-icon-2x.gif" alt="" width="70" height="50" /></td>
    <td width="570" align="left" valign="top" class="intro">
      <h1>Hello <%= @admin %></h1>
      <p>Your video process queue is complete.</p>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <img align="left" class="hide" src="http://dev.createur.com.au/edm/acc/images/program-icon-2x.gif" alt="" width="30" height="20" /><h2><%= @program %></h2>
    </td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <p class="green"><strong>Successfully processed in the following formats:</p>
      <ul>
        <li>HTML5, Flash: MP4/H.264, High profile (plays natively in Safari, Chrome, and IE9, Flash users)</li>
        <li>HTML5: WebM (WebM works in Firefox (4+), Chrome (6+ or Chromium), and Opera (10.60+)</li>
        <li>Mobile: MP4/H.264, Baseline profile 640×480 (iOS series, Android and modern Blackberrys)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <p>Sincerely,<br>
      The ACC Team.</p>
    </td>
  </tr>
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="left" class="button">
        <tr>
          <td width="15">&nbsp;</td>
          <td height="40" align="center" valign="middle"><%= link_to "View Program", admin_program_url(@program) %></td>
          <td width="15">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="40" /></td>
  </tr>
</table>