<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td width="70" align="left" valign="top"><img src="http://dev.createur.com.au/edm/acc/images/hello-icon-2x.gif" alt="" width="70" height="50" /></td>
    <td width="570" align="left" valign="top" class="intro">
      <h1>Hello <%= @admin %></h1>
      <p>The import for <strong><%= @import.service %></strong> has been completed.</p>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <p><strong><%= @import.total_successful_users %> of <%= @import.total_users %></strong> users were successfully imported.<% if @import.unsuccessful_users.any? %> Please review any errors below:<% end %></p>
      <% if @import.unsuccessful_users.any? %>
        <ul>
          <% @import.unsuccessful_users.each do |user| %>
            <li><%= user %> (<%= user.errors.full_messages.join(", ") %>)</li>
          <% end %>
        </ul>
      <% end %>

      <% if @import.failed_job_titles.any? %>
        <p><%= pluralize @import.failed_job_titles.count, "job title", "job titles" %> failed to match during this import:</p>
        <ul>
          <% @import.failed_job_titles.each do |user| %>
            <li><%= user %> (<%= user.job_title %>)
          <% end %>
        </ul>
      <% end %>

      <p>Sincerely,<br>
      The ACC Team.</p>
    </td>
  </tr>
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="left" class="button">
        <tr>
          <td width="15">&nbsp;</td>
          <td height="40" align="center" valign="middle"><%= link_to "Log In", admin_url %></td>
          <td width="15">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="40" /></td>
  </tr>
</table>