<div class="video_wrap">
  <video id="<%= video_id_helper %>" class="<%= "sublime " if partial_counter == 1 %>sv_html5_fullscreen" width="<%= program.videos.sd.first.try(:width) %>" height="<%= program.videos.sd.first.try(:height) %>" poster="<%= program.thumb.try(:image).try(:url) %>" preload="none">
    <%= render(:partial => "layouts/shared/video", :collection => program.videos.sd) %>
    <%= render(:partial => "layouts/shared/video", :collection => program.videos.mobile) %>
    <p>Having issues viewing this video? Please check out <%= link_to "our support steps", "http://support.acctv.co/entries/21106332-issues-playing-videos" %>.</p>
  </video>
</div>
