<source src="<%= video_cdn_url(video) %>" type="<%= raw video.codec %>" />
<% if video.hd_video.present? %><source src="<%= video_cdn_url(video.hd_video) %>" type="<%= raw video.hd_video.codec %>" data-quality="hd" /><% end %>