#content-header
  %h1 Question Summary for MC100

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessment Summary
  %a{:href => "#", :class => "current"}
    MC100

.container-fluid
  .row-fluid
    .span12
      .row-fluid
        .span6    
          %table.table.table-bordered.table-padded
            %tr
              %th
                Question ID
              %th 
                Attempts
              %th 
                Successful
              %th 
                Unsuccessful
              %th 
                Pass Rate
            %tr
              %td
                MC100
              %td
                456
              %td 
                200
              %td 
                256
              %td 
                43.86%
          %table.table.table-bordered.table-padded
            %tr
              %th 
                Learning Outcome
            %tr 
              %td
                Ability to control a fire

          %table.table.table-bordered.table-padded
            %tr 
              %th{:colspan => "5"}
                Question
            %tr
              %td{:colspan => "5"}
                If there's a fire burning, what course of action should you take?

          %table.table.table-bordered.table-padded.mc
            %tr 
              %th{:colspan => "5"}
                Answer
            %tr
              %td{:colspan => "5"}
                %ul 
                  %li.muted 
                    Run away screaming
                  %li
                    Extinguish it immediately.
                  %li.muted
                    Cover yourself in water
                  %li.muted 
                    Read an instruction manual on how to put out fires

          %a{:href => "#", :class => "btn btn-primary pull-right"}                        
            Edit