#content-header
  %h1 Add Matching Type Question: Fire Safety

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessments
  %a{:href => "#"}
    Essentials
  %a{:href => "#", :class => "current"}
    New

.container-fluid
  .row-fluid
    .span12
      %form
        .widget-box
          .widget-title
            %h5 Create your question below
          .widget-content.sortable-match-admin
            .row-fluid
              .span12
                %h5 Learning Outcome:
                %select.input-xxlarge
                  %option
                    Select a learning outcome
                  %option
                    Ability to control a fire
                  %option
                    Extinguishing a fire with a fire extinguisher
                  %option
                    Ability to identify nearest exit points in the building
                  %option
                    Maintain a high level of assertion when escorting residents in an emergency

                %h5 Directions
                %textarea{:type => "text", :rows => "6", :class => "input-xxlarge", :placeholder => "Match the tasks on the right with their corresponding answers."}

                %hr
            
            .row-fluid
              .span6
                %h5
                  Enter answer options below. Components on the left will be fixed. Only components on the right can be moved by the user.
                %table.table.table-bordered
                  %tr 
                    %th{:colspan => "2"}
                      Fixed Answer Options
                    %th{:colspan => "2"}
                      Matching Answer Options
                  %tr 
                    %th
                      Position
                    %th
                      Option 
                    %th
                      Position
                    %th
                      Option 
                  %tr 
                    %td
                      1. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :placeholder => "Enter fixed answer option"}  
                    %td
                      A. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :placeholder => "Enter draggable answer option"} 
                  %tr 
                    %td
                      2. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :placeholder => "Enter fixed answer option"}  
                    %td
                      B. 
                    %td 
                      %input{:type => "text", :class => "input-block-level", :placeholder => "Enter draggable answer option"} 
                  %tr 
                    %td
                      3. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :placeholder => "Enter fixed answer option"}  
                    %td
                      C. 
                    %td 
                      %input{:type => "text", :class => "input-block-level", :placeholder => "Enter draggable answer option"} 
                  %tr 
                    %td{:colspan => "4"}
                      %a{:href => "#", :class => "btn btn-success pull-right"} 
                        Add

        %a.btn.btn-large.btn-success
          Save
        %a.btn.btn-large.btn-primary
          Save &amp; Add Another Question