#content-header
  %h1 Edit Sequencing Question: Fire Safety

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessments
  %a{:href => "#"}
    Essentials
  %a{:href => "#", :class => "current"}
    Edit Sequencing Question

.container-fluid
  .row-fluid
    .span12
      %form
        .widget-box.admin-outcomes
          .widget-title
            %h5 Create your question below
          .widget-content
            .row-fluid
              .span12
                %h5 Learning Outcome:
                %select.input-xxlarge
                  %option
                    Select a learning outcome
                  %option
                    Ability to control a fire
                  %option{:selected => "true"}
                    Extinguishing a fire with a fire extinguisher
                  %option
                    Ability to identify nearest exit points in the building
                  %option
                    Maintain a high level of assertion when escorting residents in an emergency

                %h5 Question Content
                %textarea{:type => "text", :rows => "6", :class => "input-xxlarge"}
                  Study the answers below. Reorder the image sequence to accurately represent the correct procedure you should follow when attempting to extinguish a fire.

                .control-group
                  %label{:class => "checkbox-inline"}
                    %input{:type => "checkbox", :id => "inlineCheckbox1", :value => "option1", :checked => "true"} Upload Image?   

                %hr

            .row-fluid
              .span7
                %h5 Answer:
                %em Drag Answers into their correct order
                %ul.sortable.admin-sortable 
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 1
                      .span10
                        %input{:class => "input-block-level", :value => "A picture of a man locating the nearest fire extinguisher"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                    .admin-sortable-image
                      .row-fluid
                        .span12
                          .upload-options
                            %input{:type => "file"}
                            %a{:href => "#", :class => "btn btn-mini btn-danger pull-right"} 
                              Delete Image
                          %h5 Uploading a new image will replace your existing image.
                      .row-fluid
                        .span12
                          %img{:src => "http://placehold.it/539x302"}
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 2
                      .span10
                        %input{:class => "input-block-level", :value => "Pulling the pin from the fire extinguisher handle"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                    .admin-sortable-image
                      .row-fluid
                        .span12
                          .upload-options
                            %input{:type => "file"}
                            %a{:href => "#", :class => "btn btn-mini btn-danger pull-right"} 
                              Delete Image
                          %h5 Uploading a new image will replace your existing image.
                      .row-fluid
                        .span12
                          %img{:src => "http://placehold.it/539x302"}
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 3
                      .span10
                        %input{:class => "input-block-level", :value => "Smothering the flames with foam until fire is extinguished."}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                    .admin-sortable-image
                      .row-fluid
                        .span12
                          .upload-options
                            %input{:type => "file"}
                            %a{:href => "#", :class => "btn btn-mini btn-danger pull-right"} 
                              Delete Image
                          %h5 Uploading a new image will replace your existing image.
                      .row-fluid
                        .span12
                          %img{:src => "http://placehold.it/539x302"}
                %hr
                %a.btn.btn-large.btn-success.pull-right
                  Add Option
        
        .widget-box.admin-outcomes
          .widget-content
            .row-fluid
              .span7
                %h5 Answer:
                %em Drag Answers into their correct order
                %ul.sortable.admin-sortable 
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 1
                      .span10
                        %input{:class => "input-block-level", :value => "Assure everyone that everything will be ok"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 2
                      .span10
                        %input{:class => "input-block-level", :value => "Establish a leadership role and communicate your intent as the leader"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 3
                      .span10
                        %input{:class => "input-block-level", :value => "Be firm about not letting residents back in the building once exited."}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 4
                      .span10
                        %input{:class => "input-block-level", :value => "Take a head count of all residents before exiting"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 5
                      .span10
                        %input{:class => "input-block-level", :value => "Direct people out of the building along the safest path"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 6
                      .span10
                        %input{:class => "input-block-level", :value => "Remain last in the group until everyone is outside"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                %hr
                %a{:href => "#", :class => "btn btn-large btn-success pull-right"} 
                  Add Option   
        %a.btn.btn-large.btn-success
          Save
        %a.btn.btn-large.btn-primary
          Save &amp; Add Another Question
