#content-header
  %h1 Add Fill the Gaps Question: Fire Safety

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessments
  %a{:href => "#"}
    Essentials
  %a{:href => "#", :class => "current"}
    New

.container-fluid
  .row-fluid
    .span12
      %form
        .widget-box
          .widget-title
            %h5 Create your question below
          .widget-content
            .row-fluid
              .span12
                %h5 Learning Outcome:
                %select.input-xxlarge
                  %option
                    Select a learning outcome
                  %option
                    Ability to control a fire
                  %option
                    Extinguishing a fire with a fire extinguisher
                  %option
                    Ability to identify nearest exit points in the building
                  %option
                    Maintain a high level of assertion when escorting residents in an emergency
                %hr
            .row-fluid
              .span6
                .fg-define-words
                  %em Add question content below. Use '[fill]' to indicate where you'd like to include the answer options in your question.
                  .row-fluid
                    .span12
                      %textarea{:name => "fgQuestion", :class => "input-block-level", :rows => "10", :placeholder => "This is an example of a question. When using a fire extinguisher, you should always be sure to pull out the [fill] before pointing the nozzle at the flame and letting her rip. If you don't do this, then you run the risk of setting yourself on fire which is very, very bad."} 
                      %hr/ 
                  .row-fluid
                    .span12
                      %em Add word options and indicate the correct answer below. Be sure to include distraction words to make the user think hard about the correct answer.
                      %table.table.table-bordered.add-value
                        %tr
                          %th{:colspan => "3"}
                            Add word options and select correct answer:
                        %tr
                          %td.full-width
                            %input{:type => "text", :class => "input-block-level", :placeholder => "Word option 1"} 
                          %td
                            %label{:class => "radio"}
                              %input{:type => "radio", :name => "radios2", :id => "optionsRadios3", :value => "option3"}
                          %td 
                            %a.btn.btn-mini.btn-danger
                              Delete
                        %tr 
                          %td.full-width
                            %input{:type => "text", :class => "input-block-level", :placeholder => "Word option 2"}
                          %td
                            %label{:class => "radio"}
                              %input{:type => "radio", :name => "radios2", :id => "optionsRadios3", :value => "option3"}
                          %td 
                            %a.btn.btn-mini.btn-danger
                              Delete
                        %tr 
                          %td.full-width
                            %input{:type => "text", :class => "input-block-level", :placeholder => "Word option 3"}
                          %td
                            %label{:class => "radio"}
                              %input{:type => "radio", :name => "radios2", :id => "optionsRadios3", :value => "option3"}
                          %td 
                            %a.btn.btn-mini.btn-danger
                              Delete
                        %tr 
                          %td
                            %input{:type => "text", :class => "input-block-level", :placeholder => "Word option 4"}
                          %td
                            %label{:class => "radio"}
                              %input{:type => "radio", :name => "radios2", :id => "optionsRadios3", :value => "option3"}
                          %td 
                            %a.btn.btn-mini.btn-danger
                              Delete
                        %tr 
                          %td
                            %input{:type => "text", :class => "input-block-level", :placeholder => "Word option 5"}
                          %td
                            %label{:class => "radio"}
                              %input{:type => "radio", :name => "radios2", :id => "optionsRadios3", :value => "option3"}
                          %td 
                            %a.btn.btn-mini.btn-danger
                              Delete
                        %tr 
                          %td{:colspan => "3"}
                            %a.btn.btn-small.btn-success.pull-right
                              Add

                / .fg-words
                /   // The order of the words needs to be randomised each page load. They should never load in the correct sequence.
                /   %h4 Word Pane
                /   %hr
                /   %span.draggable.ui-widget-content
                /     Bed
                /   %span.draggable.ui-widget-content
                /     Meaningful
                /   %span.draggable.ui-widget-content
                /     Seratonin
                /   %span.draggable.ui-widget-content
                /     Pug
                /   %span.draggable.ui-widget-content
                /     Brunei
                /   %span.draggable.ui-widget-content
                /     Isoceles
                /   %span.draggable.ui-widget-content
                /     Bangkok
                /   %span.draggable.ui-widget-content
                /     Jack


                / %ol.fg-list 
                /   // The answer will need to validate if dropped. If it's incorrect, it should snap back to the starting position.
                /   %li 
                /     A decrease in the hormone called <span class="droppable"></span> as people age can result in difficulties falling and staying asleep.             
                /   %li 
                /     An out of <span class="droppable"></span> monitor can assist carers to check on a resident without entering the room.
                /   %li 
                /     If an older person with dementia is awake at night it may be helpful for them to engage in a <span class="droppable"></span> activity.
                /   %li 
                /     All work and no play makes <span class="droppable"></span> a dull boy
                /   %li 
                /     That's an <span class="droppable"></span> triangle, you idiot!
                /   %li 
                /     The capital of Thailand is <span class="droppable"></span>.
                /   %li 
                /     The ugliest dog in the world is known as a <span class="droppable"></span>.
                /   %li 
                /     The richest man in the world is the Sultan of <span class="droppable"></span>.

        %a.btn.btn-large.btn-success
          Save
        %a.btn.btn-large.btn-primary
          Save &amp; Add Another Question