#content-header
  %h1 Fire Safety Essentials: Assessments

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety Essentials
  %a{:href => "#", :class => "current"}
    Assessments


.container-fluid
  .row-fluid
    .span12
      %p
        The assessment summaries below have been grouped according to their learning outcomes. 
      .row-fluid
        .span6
          .widget-box.assessment-summary
            .widget-title
              %h4
                Ability to control a fire.
              %span.label.label-default 25%
            .accordion#accordion1
              .accordion-group
                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseOne", :data => {:toggle => "collapse", :parent => "#accordion1"}} 
                      %h4 
                        True or False
                        %span.down &darr;
                        %span.up &uarr;
                  #collapseOne.accordion-body.collapse
                    .accordion-inner                
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              TF101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              TF103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseTwo", :data => {:toggle => "collapse", :parent => "#accordion1"}} 
                      %h4 
                        Multiple Choice
                        %span.down &darr;
                        %span.up &uarr;
                  #collapseTwo.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              MC101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              MC103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseThree", :data => {:toggle => "collapse", :parent => "#accordion1"}} 
                      %h4 
                        Sequencing
                        %span.down &darr;
                        %span.up &uarr;                        
                  #collapseThree.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              SQ101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              SQ103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

          .widget-box.assessment-summary
            .widget-title
              %h4
                Extinguishing a fire with a fire extinguisher.
              %span.label.label-default 25%
            .accordion#accordion2
              .accordion-group
                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseFour", :data => {:toggle => "collapse", :parent => "#accordion2"}}  
                      %h4 
                        True or False
                        %span.down &darr;
                        %span.up &uarr;
                  #collapseFour.accordion-body.collapse
                    .accordion-inner                
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              TF101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              TF103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseFive", :data => {:toggle => "collapse", :parent => "#accordion2"}} 
                      %h4 
                        Multiple Choice
                        %span.down &darr;
                        %span.up &uarr;
                  #collapseFive.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              MC101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              MC103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseSix", :data => {:toggle => "collapse", :parent => "#accordion2"}} 
                      %h4 
                        Sequencing
                        %span.down &darr;
                        %span.up &uarr;                        
                  #collapseSix.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              SQ101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              SQ103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00



          .widget-box.assessment-summary
            .widget-title
              %h4
                Ability to identify nearest exit points in the building.
              %span.label.label-default 25%
            .accordion#accordion3
              .accordion-group
                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseSeven", :data => {:toggle => "collapse", :parent => "#accordion3"}}  
                      %h4 
                        True or False
                        %span.down &darr;
                        %span.up &uarr;
                  #collapseSeven.accordion-body.collapse
                    .accordion-inner                
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              TF101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              TF103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseEight", :data => {:toggle => "collapse", :parent => "#accordion3"}} 
                      %h4 
                        Multiple Choice
                        %span.down &darr;
                        %span.up &uarr;
                  #collapseEight.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              MC101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              MC103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseNine", :data => {:toggle => "collapse", :parent => "#accordion3"}} 
                      %h4 
                        Sequencing
                        %span.down &darr;
                        %span.up &uarr;                        
                  #collapseNine.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              SQ101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              SQ103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

          .widget-box.assessment-summary
            .widget-title
              %h4
                Maintain a high level of assertion when escorting resid...
              %span.label.label-default 25%
            .accordion#accordion4
              .accordion-group
                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseTen", :data => {:toggle => "collapse", :parent => "#accordion4"}}  
                      %h4 
                        True or False
                        %span.down &darr;
                        %span.up &uarr;
                  #collapseTen.accordion-body.collapse
                    .accordion-inner                
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              TF101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              TF103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              TF104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseEleven", :data => {:toggle => "collapse", :parent => "#accordion4"}} 
                      %h4 
                        Multiple Choice
                        %span.down &darr;
                        %span.up &uarr;
                  #collapseEleven.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              MC101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              MC103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              MC104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00

                .widget-content
                  .accordion-heading
                    %a{:class => "accordion-toggle collapsed", :href => "#collapseTwelve", :data => {:toggle => "collapse", :parent => "#accordion4"}} 
                      %h4 
                        Sequencing
                        %span.down &darr;
                        %span.up &uarr;                        
                  #collapseTwelve.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-bordered
                        %tr
                          %th
                            Question ID
                          %th
                            Attempts
                          %th
                            Successful
                          %th
                            Unsuccessful
                          %th
                            Pass Rate (%)
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ100
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr 
                          %td
                            %a{:href => "#"} 
                              SQ101
                          %td
                            100
                          %td 
                            70
                          %td 
                            30
                          %td 
                            70.00                   
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ102
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00
                        %tr 
                          %td 
                            %a{:href => "#"} 
                              SQ103
                          %td
                            250
                          %td
                            200
                          %td
                            50
                          %td
                            80.00
                        %tr
                          %td
                            %a{:href => "#"} 
                              SQ104
                          %td
                            100
                          %td
                            67
                          %td
                            33
                          %td
                            67.00