#content-header
  %h1 Edit Matching Type Question: Fire Safety

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessments
  %a{:href => "#"}
    Essentials
  %a{:href => "#", :class => "current"}
    Edit Matching Type Question

.container-fluid
  .row-fluid
    .span12
      %form
        .widget-box
          .widget-title
            %h5 Create your question below
          .widget-content.sortable-match-admin
            .row-fluid
              .span12
                %h5 Learning Outcome:
                %select.input-xxlarge
                  %option
                    Select a learning outcome
                  %option
                    Ability to control a fire
                  %option{:selected => "true"}
                    Extinguishing a fire with a fire extinguisher
                  %option
                    Ability to identify nearest exit points in the building
                  %option
                    Maintain a high level of assertion when escorting residents in an emergency

                %h5 Directions
                %textarea{:type => "text", :rows => "6", :class => "input-xxlarge"}
                  Drag and drop to reorder the items in the right column to match their corresponding answers on the left.
                %hr
            
            .row-fluid
              .span6
                %h5
                  Enter answer options below. Components on the left will be fixed. Only components on the right can be moved by the user.
                %table.table.table-bordered
                  %tr 
                    %th{:colspan => "2"}
                      Fixed Answer Options
                    %th{:colspan => "2"}
                      Matching Answer Options
                  %tr 
                    %th
                      Position
                    %th
                      Option 
                    %th
                      Position
                    %th
                      Option 
                  %tr 
                    %td
                      1. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :value => "Entering a resident's room without a torch"}  
                    %td
                      A. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :value => "May frustrate the resident even more"} 
                  %tr 
                    %td
                      2. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :value => "Orientating a residents bed towards the toilet"}  
                    %td
                      B. 
                    %td 
                      %input{:type => "text", :class => "input-block-level", :value => "May make unnecessary noise"} 
                  %tr 
                    %td
                      3. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :value => "Using an out of bed monitor"}  
                    %td
                      C. 
                    %td 
                      %input{:type => "text", :class => "input-block-level", :value => "May help staff to identify triggers to waking"} 
                  %tr 
                    %td
                      4. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :value => "Keeping records of night time behavior"}  
                    %td
                      D. 
                    %td 
                      %input{:type => "text", :class => "input-block-level", :value => "May prevent residents from hitting out"} 
                  %tr 
                    %td
                      5. 
                    %td
                      %input{:type => "text", :class => "input-block-level", :value => "Putting your phone on silent"}  
                    %td
                      E. 
                    %td 
                      %input{:type => "text", :class => "input-block-level", :value => "May make them feel valuable"} 
                  %tr 
                    %td{:colspan => "4"}
                      %a{:href => "#", :class => "btn btn-success pull-right"} 
                        Add

        %a.btn.btn-large.btn-success
          Save