#content-header
  %h1 Question Summary for GF3412

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessment Summary
  %a{:href => "#", :class => "current"}
    GF3412

.container-fluid
  .row-fluid
    .span6
      %table.table.table-bordered.table-padded
        %tr
          %th
            Question ID
          %th 
            Attempts
          %th 
            Successful
          %th 
            Unsuccessful
          %th 
            Pass Rate
        %tr
          %td
            GF3412
          %td
            456
          %td 
            200
          %td 
            256
          %td 
            43.86%
      %table.table.table-bordered.table-padded
        %tr
          %th 
            Learning Outcome
        %tr 
          %td
            Extinguishing a fire with a fire extinguisher.
      %form
        .widget-box
          .widget-title
            %h5 Drag and drop the correct word into the gap to complete the sentence.
          .widget-content
            // User will need to enter the values for each word. Clicking 'add' will add the input value to the word pane.
            %em Use the correct word from the Word Pane to fill the gap word in the statement below.
            %ul.unstyled.fg-list
              // The answer will need to validate if dropped. If it's incorrect, it should snap back to the starting position.
              %li 
                %h4 Correct Answer
                %hr
                A decrease in the hormone called <span class="droppable">Serotonin</span> as people age can result in difficulties falling and staying asleep. Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain. Bender, being God isn't easy. If you do too much, people get dependent on you, and if you do nothing, they lose hope. You have to use a light touch. Like a safecracker.

            %hr

            .fg-words
              // The order of the words needs to be randomised each page load. They should never load in the correct sequence.
              %h4 Word Pane
              %hr
              %span.draggable.ui-widget-content
                Dopamine
              %span.draggable.ui-widget-content
                Adrenalin
              %span.draggable.ui-widget-content
                Serotonin
              %span.draggable.ui-widget-content
                Testosterone
              %span.draggable.ui-widget-content
                Two Words
          
        %a.btn.btn-primary.pull-right
          Edit