#content-header
  %h1 Question Summary for TF100

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessment Summary
  %a{:href => "#", :class => "current"}
    TF100

.container-fluid
  .row-fluid
    .span12
      .row-fluid
        .span6    
          %table.table.table-bordered.table-padded
            %tr
              %th
                Question ID
              %th 
                Attempts
              %th 
                Successful
              %th 
                Unsuccessful
              %th 
                Pass Rate
            %tr
              %td
                TF100
              %td
                456
              %td 
                200
              %td 
                256
              %td 
                43.86%
          %table.table.table-bordered.table-padded
            %tr
              %th 
                Learning Outcome
            %tr 
              %td
                Ability to identify nearest exit points in the building
          %table.table.table-bordered.table-padded
            %tr 
              %th{:colspan => "5"}
                Question
            %tr
              %td{:colspan => "5"}
                If there is a fire in the building, you should always fix your own oxygen mask on your face first before helping others fit theirs. The reason for this is it allows you to tend to others without compromising your own health.
 
          %table.table.table-bordered.table-padded
            %tr 
              %th{:colspan => "5"}
                Answer
            %tr
              %td{:colspan => "5"}
                "True"

          %a{:href => "#", :class => "btn btn-primary pull-right"}                        
            Edit