#content-header
  %h1 Question Summary for SQ100

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessment Summary
  %a{:href => "#", :class => "current"}
    SQ100

.container-fluid
  .row-fluid
    .span12
      .row-fluid
        .span6    
          %table.table.table-bordered.table-padded
            %tr
              %th
                Question ID
              %th 
                Attempts
              %th 
                Successful
              %th 
                Unsuccessful
              %th 
                Pass Rate
            %tr
              %td
                SQ100
              %td
                456
              %td 
                200
              %td 
                256
              %td 
                43.86%
          %table.table.table-bordered.table-padded
            %tr
              %th 
                Learning Outcome
            %tr 
              %td
                Extinguishing a fire with a fire extinguisher.
          %table.table.table-bordered.table-padded
            %tr 
              %th{:colspan => "5"}
                Question
            %tr
              %td{:colspan => "5"}
                In which steps would you put out a fire? Drag the text boxes into the correct order.

          %table.table.table-bordered.table-padded.table-sequence
            %tr 
              %th{:colspan => "5"}
                Correct Answer Sequence
            %tr
              %td{:colspan => "5"}
                %ol 
                  %li 
                    Locate the fire extinguisher
                  %li 
                    Pull the pin on the fire extinguisher
                  %li 
                    Point the nozzle directly at the flame
                  %li 
                    Pull the trigger on the handle
                  %li
                    Smother the flames until fire is extinguished

          %a{:href => "#", :class => "btn btn-primary pull-right"}                        
            Edit