#content-header
  %h1 Add Sequencing Question: Fire Safety

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessments
  %a{:href => "#"}
    Essentials
  %a{:href => "#", :class => "current"}
    Add a Sequencing Question

.container-fluid
  .row-fluid
    .span12
      %form
        .widget-box.admin-outcomes
          .widget-title
            %h5 Create your question below
          .widget-content
            .row-fluid
              .span12
                %h5 Learning Outcome:
                %select.input-xxlarge
                  %option
                    Select a learning outcome
                  %option
                    Ability to control a fire
                  %option
                    Extinguishing a fire with a fire extinguisher
                  %option
                    Ability to identify nearest exit points in the building
                  %option
                    Maintain a high level of assertion when escorting residents in an emergency

                %h5 Question Content
                %textarea{:type => "text", :rows => "6", :class => "input-xxlarge", :placeholder => "Compose your question."}

                .control-group
                  %label{:class => "checkbox-inline"}
                    %input{:type => "checkbox", :id => "inlineCheckbox1", :value => "option1", :checked => "true"} Upload Images?

                %hr

            .row-fluid
              .span7
                %h5 Answer:
                %em Drag Answers into their correct order
                %ul.sortable.admin-sortable 
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 1
                      .span10
                        %input{:class => "input-block-level", :placeholder => "Type your answer here..."}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                    .admin-sortable-image
                      .row-fluid
                        .span12
                          .upload-options
                            %input{:type => "file"}
                            %a{:href => "#", :class => "btn btn-mini btn-danger pull-right"} 
                              Delete Image
                          %h5 Uploading a new image will replace your existing image.
                      .row-fluid
                        .span12
                          %img{:src => "http://placehold.it/539x302"}
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 2
                      .span10
                        %input{:class => "input-block-level", :placeholder => "Type your answer here..."}                   
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                    .admin-sortable-image
                      .row-fluid
                        .span12
                          .upload-options
                            %input{:type => "file"}
                            %a{:href => "#", :class => "btn btn-mini btn-danger pull-right"} 
                              Delete Image
                          %h5 Uploading a new image will replace your existing image.
                      .row-fluid
                        .span12
                          %img{:src => "http://placehold.it/539x302"}
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 3
                      .span10
                        %input{:class => "input-block-level", :placeholder => "Add another answer/option"}                   
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                    .admin-sortable-image
                      .row-fluid
                        .span12
                          .upload-options
                            %input{:type => "file"}
                            %a{:href => "#", :class => "btn btn-mini btn-danger pull-right"} 
                              Delete Image
                          %h5 Uploading a new image will replace your existing image.
                      .row-fluid
                        .span12
                          %img{:src => "http://placehold.it/539x302"}
                %hr
                %a.btn.btn-large.btn-success.pull-right
                  Add Option

        .widget-box.admin-outcomes
          .widget-content
            .row-fluid
              .span7
                %h5 Answer:
                %em Drag Answers into their correct order
                %ul.sortable.admin-sortable 
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 1
                      .span10
                        %input{:class => "input-block-level", :value => "This is an answer/option"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 2
                      .span10
                        %input{:class => "input-block-level", :value => "This is an answer/option"}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                  %li.well.span12.ui-state-default
                    .row-fluid
                      .span1 
                        %span{:class => " badge badge-default admin-badge"} 3
                      .span10
                        %input{:class => "input-block-level", :placeholder => "Field that has just been added."}
                      .span1
                        %a{:href => "#", :class => "btn btn-mini btn-danger"} 
                          Delete
                %hr
                %a{:href => "#", :class => "btn btn-large btn-success pull-right"} 
                  Add Option                        

        %hr
        %a.btn.btn-large.btn-success
          Save
        %a.btn.btn-large.btn-primary
          Save &amp; Add Another Question