#content-header
  %h1 Edit True/False Question: Fire Safety

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessments
  %a{:href => "#"}
    Essentials
  %a{:href => "#", :class => "current"}
    Edit True/False Question

.container-fluid
  .row-fluid
    .span12
      %form
        .widget-box
          .widget-title
            %h5 Create your question below
          .widget-content
            .row-fluid
              .span12
                %h5 Learning Outcome:
                %select.input-xxlarge
                  %option
                    Select a learning outcome
                  %option
                    Ability to control a fire
                  %option
                    Extinguishing a fire with a fire extinguisher
                  %option{:selected => "true"}
                    Ability to identify nearest exit points in the building
                  %option
                    Maintain a high level of assertion when escorting residents in an emergency

                %h5 Question Content
                %textarea{:type => "text", :rows => "6", :class => "input-xxlarge"}
                  When you have located an exit point in the building during a fire emergency, you should always touch the door handle to see if it's hot before pulling it open to avoid backdraft.

                .control-group
                  %label{:class => "checkbox-inline"}
                    %input{:type => "checkbox", :id => "inlineCheckbox1", :value => "option1", :checked => "true"} Upload Image?
                %hr

            .row-fluid
              .span12
                .upload-options
                  %input{:type => "file"}
                  %a{:href => "#", :class => "btn btn-mini btn-danger pull-right"} 
                    Delete Image
                %h5 Uploading a new image will replace your existing image.
            .row-fluid
              .span12
                %img{:src => "http://placehold.it/539x302"}

                .control-group
                %label
                  Image Caption
                %textarea{:type => "text", :rows => "3", :value => "Image of some guy doing something", :class => "input-xxlarge"}

            .row-fluid
              .span12
                %h5 Correct Answer:
                .control-group
                  %label{:class => "radio"}
                    %input{:type => "radio", :name => "radios", :id => "optionsRadios1", :value => "option1", :checked => "true"} True
                .control-group
                  %label{:class => "radio"}
                    %input{:type => "radio", :name => "radios", :id => "optionsRadios2", :value => "option2"} False
        %a.btn.btn-large.btn-success
          Save