#content-header
  %h1 Question Summary for MT2345

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#"}
    Assessment Summary
  %a{:href => "#", :class => "current"}
    MT2345

.container-fluid
  .row-fluid
    .span10
      %table.table.table-bordered.table-padded
        %tr
          %th
            Question ID
          %th 
            Attempts
          %th 
            Successful
          %th 
            Unsuccessful
          %th 
            Pass Rate
        %tr
          %td
            MT2345
          %td
            456
          %td 
            200
          %td 
            256
          %td 
            43.86%
      %table.table.table-bordered.table-padded
        %tr
          %th 
            Learning Outcome
        %tr 
          %td
            Extinguishing a fire with a fire extinguisher.
      %table.table.table-bordered.table-padded
        %tr
          %th 
            Question Directions
        %tr 
          %td
            Match the tasks on the right with their corresponding answers.
      %form
        .widget-box
          .widget-title
            %h5 Correct Answer
          .widget-content
            // User will need to enter the values for each word. Clicking 'add' will add the input value to the word pane.
            .sortable-match
              .row-fluid
                .span6
                  .sortable-match-left
                    %ol.sortable-text.sortable-disabled
                      %li.ui-state-default
                        %span 1.
                        Entering a resident's room with a torch
                      %li.ui-state-default
                        %span 2.
                        Orientating a resident's bed towards the toilet
                      %li.ui-state-default
                        %span 3.
                        Using an out of bed monitor
                      %li.ui-state-default
                        %span 4.
                        Putting your phone on silent
                      %li.ui-state-default
                        %span 5.
                        Keeping records of night time behaviour
                      %li.ui-state-default
                        %span 6.
                        Giving medication in the morning
                      %li.ui-state-default
                        %span 7.
                        Allowing residents to choose their bed time and awakening times
                      %li.ui-state-default
                        %span 8.
                        Allowing residents to perform meaningful tasks at night
                      %li.ui-state-default
                        %span 9.
                        Arguing with a resident who cannot sleep
                      %li.ui-state-default
                        %span 10.
                        Wearing a different staff uniform at night

                .span6
                  .sortable-match-right
                    %ol.sortable-text.sortable-disabled
                      %li.ui-state-default
                        %span J.
                        Shake hands with them and call them the Sheriff
                      %li.ui-state-default
                        %span A.
                        May frustrate the resident even more
                      %li.ui-state-default
                        %span C.
                        May help staff to identify triggers to waking
                      %li.ui-state-default
                        %span B.
                        May avoid making unnecessary noise 
                      %li.ui-state-default
                        %span D.
                        May wake and disorientate the resident at night
                      %li.ui-state-default
                        %span E.
                        May assist carers to check a resident without entering the room
                      %li.ui-state-default
                        %span F.
                        May prevent residents from hitting out
                      %li.ui-state-default
                        %span H.
                        May help signal to residents that it's time to go to bed
                      %li.ui-state-default
                        %span I.
                        Make them wear funny hats
                      %li.ui-state-default
                        %span G.
                        May make them feel valuable
          
        %a.btn.btn-primary.pull-right
          Edit