#content-header
  %h1 Add Sequence Question: Fire Safety

#breadcrumb
  %a{:href => "#"}
    %i{:class => "home icon-home"}
    Home
  %a{:href => "#"}
    Programs
  %a{:href => "#"}
    Fire Safety
  %a{:href => "#", :class => "current"}
    New

.container-fluid
  .row-fluid
    .span12
      .well.well-large
        %h1 Template index
        %hr
        %ul
          %li
            %a{:href => "/admin/wireframes/acc007-admin-create-sequence"} View: Admin Create Sequencing Question
          %li 
            %a{:href => "/admin/wireframes/acc007-admin-create-true-false"} View: Admin Create TF Question
          %li
            %a{:href => "/admin/wireframes/acc007-admin-create-multiple-choice"} View: Admin Create MC Question
          %li
            %a{:href => "/admin/wireframes/acc007-admin-create-fg"} View: Admin Create FG Question
          %li
            %a{:href => "/admin/wireframes/acc007-admin-create-mt"} View: Admin Create MT Question
          %li
            %a{:href => "/admin/wireframes/acc007-admin-single-question-summary-tf"} View: Admin Show TF Question
          %li
            %a{:href => "/admin/wireframes/acc007-admin-single-question-summary-mc"} View: Admin Show MC Question         
          %li
            %a{:href => "/admin/wireframes/acc007-admin-single-question-summary-sq"} View: Admin Show Sequencing Question
          %li
            %a{:href => "/admin/wireframes/acc007-admin-single-question-summary-fg"} View: Admin Show FG Question
          %li
            %a{:href => "/admin/wireframes/acc007-admin-single-question-summary-mt"} View: Admin Show MT Question
          %li 
            %a{:href => "/admin/wireframes/acc007-admin-edit-true-false"} View: Admin Edit TF Question 
          %li 
            %a{:href => "/admin/wireframes/acc007-admin-edit-multiple-choice"} View: Admin Edit MC Question 
          %li 
            %a{:href => "/admin/wireframes/acc007-admin-edit-sequence"} View: Admin Edit Sequencing Question 
          %li 
            %a{:href => "/admin/wireframes/acc007-admin-edit-fg"} View: Admin Edit FG Question 
          %li
            %a{:href => "/admin/wireframes/acc007-admin-edit-mt"} View: Admin Edit MT Question
          %li
            %a{:href => "/admin/wireframes/acc007-admin-assessment-summary"} View: Admin for Assessment Criteria        
