<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td width="70" align="left" valign="top"><img src="http://dev.createur.com.au/edm/acc/images/hello-icon-2x.gif" alt="" width="70" height="50" /></td>
    <td width="570" align="left" valign="top" class="intro">
      <h1>Hello <%= @user %></h1>
      <p>This is your weekly <strong>coordinator update</strong> <span>for <strong><%= @service %></strong></span> <span>for week ending <strong><%= Time.zone.now.to_s(:aus) %></strong></span></p>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <img align="left" class="hide" src="http://dev.createur.com.au/edm/acc/images/services-icon@2x.gif" alt="" width="30" height="20" /><h2><%= @service %></h2>
      <ul>
        <li class="green"><%= pluralize @service.employment_learning_plans.completed.where(completed_at: [1.week.ago..Time.zone.now]).count, "Learning Plan" %> completed this week.</li>
        <li class="green"><%= pluralize @service.programs_viewed_this_week.count, "Program" %> viewed this week.</li>
        <li class="orange"><%= pluralize @service.active_users.not_logged_in_for_30_days.count, "User has", "Users have" %> not logged in for more than 30 days (out of <%= @service.active_users.count %> total users).</li>
        <li class="red"><%= pluralize @service.employment_learning_plans.overdue.count, "Learning Plan is", "Learning Plans are" %> currently overdue.</li>
        <li class="orange"><%= pluralize @service.employment_learning_plans.active.count, "Learning Plan is", "Learning Plans are" %> currently active.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <img align="left" class="hide" src="http://dev.createur.com.au/edm/acc/images/learning-icon-2x.gif" alt="" width="30" height="20" /><h2>Learning Plan Status</h2>
      <br>
    </td>
  </tr>
  <% @service.learning_plans.each do |plan| %>
    <tr>
      <td align="left" valign="top" class="block">
        <h3><%= plan %></h3>
        <p class="red"><strong><%= pluralize plan.employment_learning_plans.overdue.count, "user" %></strong> overdue</p>
        <ul>
          <% plan.employment_learning_plans.overdue.each do |employment| %>
            <li><%= employment.employment_name %></li>
          <% end %>
        </ul>
        <p class="orange"><strong><%= pluralize plan.employment_learning_plans.active.count, "user" %></strong> active </p>
        <p class="green"><strong><%= pluralize plan.employment_learning_plans.completed.count, "user" %></strong> completed </p>
      </td>
    </tr>
    <tr>
      <td height="10"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
    </tr>
  <% end %>
</table>

<% if @service.active_users.not_logged_in_for_30_days.any? %>
  <table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
    <tr>
      <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
    </tr>
    <tr>
      <td align="left" valign="top" class="contentblock">
        <img align="left" class="hide" src="http://dev.createur.com.au/edm/acc/images/user-icon-2x.gif" alt="" width="30" height="20" /><h2>User Status</h2>
        <p class="orange">Users who have not logged in for <strong>30 days</strong></p>
        <ul>
          <% @service.active_users.not_logged_in_for_30_days.each do |user| %>
            <li><%= user %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
    </tr>
  </table>
<% end %>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <img align="left" class="hide" src="http://dev.createur.com.au/edm/acc/images/program-icon-2x.gif" alt="" width="30" height="20" /><h2>Program Status</h2>
      <p class="green"><strong><%= @service.programs_viewed_this_week.count %> programs</strong> viewed this week</p>
    </td>
  </tr>
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <p>Sincerely,<br>
      The ACC Team.</p>
    </td>
  </tr>
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="left" class="button">
        <tr>
          <td width="15">&nbsp;</td>
          <td height="40" align="center" valign="middle"><%= link_to "Log In", root_url %></td>
          <td width="15">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="40" /></td>
  </tr>
</table>