<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td width="70" align="left" valign="top"><img src="http://dev.createur.com.au/edm/acc/images/hello-icon-2x.gif" alt="" width="70" height="50" /></td>
    <td width="570" align="left" valign="top" class="intro">
      <h1>Hello <%= @user %></h1>
      <p>This is your weekly <strong>Group Coordinator update</strong> <span>for <strong><%= @group %></strong></span> <span>for week ending <strong><%= Time.zone.now.to_s(:aus) %></strong></span></p>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <img align="left" class="hide" src="http://dev.createur.com.au/edm/acc/images/groups-icon@2x.gif" alt="" width="30" height="20" /><h2>Group Summary</h2>
      <ul>
        <li class="green"><%= pluralize @group.employment_learning_plans.completed.where(completed_at: [1.week.ago..Time.zone.now]).count, "Learning Plan" %> completed this week.</li>
        <li class="green"><%= pluralize @group.programs_viewed_this_week.count, "Program" %> viewed this week.</li>
        <li class="orange"><%= pluralize @group.employment_users.not_logged_in_for_30_days.count, "User has", "Users have" %> not logged in for more than 30 days (out of <%= @group.employment_users.count %> total users).</li>
        <li class="red"><%= pluralize @group.employment_learning_plans.overdue.count, "Learning Plan is", "Learning Plans are" %> currently overdue.</li>
        <li class="orange"><%= pluralize @group.employment_learning_plans.active.count, "Learning Plan is", "Learning Plans are" %> currently active.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <img align="left" class="hide" src="http://dev.createur.com.au/edm/acc/images/services-icon@2x.gif" alt="" width="30" height="20" /><h2>Service Summary</h2>
      <br>
    </td>
  </tr>
  <% @group.services.active.each do |service| %>
    <tr>
      <td align="left" valign="top" class="block">
        <h3><%= service %></h3>
        <ul>
          <li class="green"><%= pluralize service.employment_learning_plans.completed.where(completed_at: [1.week.ago..Time.zone.now]).count, "Learning Plan" %> completed this week.</li>
          <li class="green"><%= pluralize service.programs_viewed_this_week.count, "Program" %> viewed this week.</li>
          <li class="orange"><%= pluralize service.active_users.not_logged_in_for_30_days.count, "User has", "Users have" %> not logged in for more than 30 days (out of <%= service.active_users.count %> total users).</li>
          <li class="red"><%= pluralize service.employment_learning_plans.overdue.count, "Learning Plan is", "Learning Plans are" %> currently overdue.</li>
          <li class="orange"><%= pluralize service.employment_learning_plans.active.count, "Learning Plan is", "Learning Plans are" %> currently active.</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td height="10"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
    </tr>
  <% end %>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <p>Sincerely,<br>
      The ACC Team.</p>
    </td>
  </tr>
  <tr>
    <td height="40"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="40" /></td>
  </tr>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="left" class="button">
        <tr>
          <td width="15">&nbsp;</td>
          <td height="40" align="center" valign="middle"><%= link_to "Log In", root_url %></td>
          <td width="15">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="40" /></td>
  </tr>
</table>