%h2 Searching

%p 
  Enter your search criteria by selecting from the drop downs. You can search by multiple criteria at once. Press the
  %strong Search
  button and the search results will automatically display. 
%p
  %a{:href => "http://support.acctv.co/entries/21852363-advanced-searching", :target => "_blank"}
    %strong Read More