.box
  %section
    %header
      %h1
        Sign In
    = simple_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
      = f.input :email
      = f.input :password, :as => :password
      .control-group.submit
        .controls
          = f.button :submit, value: "Sign In", class: "btn btn-success"
      = link_to "Forgot Password", new_user_password_path
    %hr
      %p
        Don't have an account?
      = link_to "Register", new_user_registration_path