= content_for :title do
  New Users Import -
  = @service.name

.alert.alert-info
  %strong We require first name, last name and a valid email address
  For an easy guide on how to extract information from Excel in this format please see the
  = link_to 'support article', 'http://support.acctv.co/entries/21778291-CSV-Import-Template'

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    = simple_form_for [:admin, @service, @user_import], html: {class: 'form-horizontal'} do |f|
      = f.input :csv_file, as: :file, label: 'CSV file'
      = f.input :service_id, as: :hidden
      .form-actions
        = f.submit 'Import Users', class: 'btn btn-primary'
