= content_for :title do
  New Employment - #{@service.name}

= content_for :contextual_menu do
  .btn-group
    = link_to admin_service_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Service' do
      %i.icon-home

-# # TODO: Find a better way to handle this in the controllers
- if @questionable
  - if @questionable.user && @questionable.user.errors.any?
    - @questionable.user.errors.messages.each do |msg|
      .alert.alert-danger #{msg[0].capitalize.to_s.humanize} #{msg[1].join(", ")}
  - elsif @questionable.employment && @questionable.employment.errors.any?
    - @questionable.employment.errors.messages.each do |msg|
      .alert.alert-danger #{msg[0].capitalize.to_s.humanize} #{msg[1].join(", ")}

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    = simple_form_for @user, url: admin_service_questionable_index_path(@service), html: {class: 'form-horizontal'} do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email, required: true

      = f.input :activation_token, as: :hidden
      = f.input :role, as: :radio_buttons, collection: @roles
      .form-actions
        = f.button :submit, value: "Create Employment", class: 'btn btn-primary'
