= content_for :title do
  Dashboard

.span12.center{style: "text-align: center;"}
  %ul.stat-boxes
    %li
      .right
        %strong= @users_count
        Users
    %li
      .right
        %strong= @employment_learning_plans_upcoming_count
        Plans
    %li
      .right
        %strong= @program_views_count
        Views