name,status,days_till_due,programs,users,activation_date,created_at,updated_at
<% @learning_plans.each do |lp| %><%= [lp.name, lp.status, lp.days_till_due, lp.programs.count, lp.users.count, lp.active_at.to_s(:aus), lp.created_at.to_s(:aus), lp.updated_at.to_s(:aus)].join(",") %>
<% end %>
