= content_for :title do
  Learning Plans for Service -
  = @service.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_service_learning_plans_path(@service, format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Learning Plans' do
      %i.icon-download

- if @service.learning_plans.any?
  .widget-box
    .widget-title
      %h5 Learning Plans
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Plan Name
            %th Status
            %th Days to Complete
            %th Program Count
            %th User Count
            %th Activation Date
        %tbody
          - @service.learning_plans.each do |learning_plan|
            %tr
              %td= link_to learning_plan.name, admin_service_learning_plan_path(@service, learning_plan)
              %td= learning_plan.status
              %td= learning_plan.days_till_due
              %td= learning_plan.programs.count
              %td= learning_plan.users.count
              %td= learning_plan.active_at.to_s(:aus)
- else
  %p.alert.alert-info
    There are no learning plans for this service
