= content_for :title do
  Learning Plan -
  = @learning_plan.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_service_learning_plans_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Learning Plans' do
      %i.icon-play

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td Plan name
          %td= @learning_plan.name
        %tr
          %td Status
          %td= @learning_plan.status
        %tr
          %td Days to Complete
          %td= @learning_plan.days_till_due


-if @learning_plan.description.present?
  .widget-box
    .widget-title
      %h5 Description
    .widget-content
      %p= @learning_plan.description

.widget-box
  .widget-title
    %h5 Programs
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Code
          %th Title
          %th Essentials
          %th Extension
          %th Evidence
      %tbody
        - @learning_plan.learning_plan_programs.each do |program|
          %tr
            %td= link_to program.code, admin_program_path(program)
            %td= program.title
            %td= check_box_tag program.essentials, nil, program.essentials?, disabled: true
            %td= check_box_tag program.extension, nil, program.extension?, disabled: true
            %td= check_box_tag program.evidence, nil, program.evidence?, disabled: true

- if @learning_plan.employment_learning_plans.not_completed.any?
  .widget-box
    .widget-title
      %h5 Users not complete
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Name
            %th Status
            %th Programs Viewed
            %th Assessments Completed
        %tbody
          - @learning_plan.employment_learning_plans.not_completed.each do |employment|
            %tr{"data-id" => employment.id}
              %td= link_to employment.user_name, admin_user_learning_plan_path(employment.user, employment)
              %td= employment.status.capitalize
              %td #{employment.programs_viewed_completed_ids.count} / #{employment.programs_count}
              %td #{employment.program_assessments_completed_ids.count} / #{employment.assessment_required_count}

- if @learning_plan.employment_learning_plans.completed.any?
  .widget-box
    .widget-title
      %h5 Users completed
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Name
            %th Status
            %th Programs Viewed
            %th Assessments Completed
        %tbody
          - @learning_plan.employment_learning_plans.completed.each do |employment|
            %tr{"data-id" => employment.id}
              %td= link_to employment.user_name, admin_user_learning_plan_path(employment.user, employment)
              %td= employment.status.capitalize
              %td #{employment.programs_viewed_completed_ids.count} / #{employment.programs_count}
              %td #{employment.program_assessments_completed_ids.count} / #{employment.assessment_required_count}
