%h2 Group Coordinators

%p Listed are all the Group Coordinators for #{@name}. These users have complete access to all Services and Users which belong to the Group. Group Coordinators can create new job titles, remove users, create Learning Plans, create Group Sessions and run reports. We recommend only granting Group Coordinator powers to people you really trust. 

%p
  %a{:href => "http://support.acctv.co/entries/24797708-Group-Coordinators", :target => "_blank"}
    %strong Read More