= content_for :title do
  Edit Profile -
  = @profile.name

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    = simple_form_for [:admin, @profile], url: admin_profile_path, html: {class: 'form-horizontal'} do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email, as: :email
      = f.input :password, as: :password, label: "New password"
      = f.input :password_confirmation, as: :password, label: "Confirm new password"
      .form-actions
        = f.submit 'Update Profile', class: 'btn btn-primary'