= content_for :title do
  New Group Coordinator -
  = @group

= content_for :contextual_menu do
  .btn-group
    = link_to admin_group_path(@group), class: 'btn btn-large tip-bottom', title: 'Show Group' do
      %i.icon-groups

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    - if @user.existing_email?
      %h2 Note: This email address already belongs to an active member. Would you like to invite them to this group?
      = simple_form_for [:admin, @group, @group.coordinators.new(user: @user.existing_user)], html: {class: 'form-horizontal'} do |f|
        = f.input :user_id, as: :hidden
        .form-actions
          = f.submit "Invite User"

    = simple_form_for [:admin, @group, @user], html: {class: 'form-horizontal'} do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email, as: :email
      = f.input :gender, as: :radio_buttons, collection: gender_list
      .form-actions
        = f.submit "Create Group Coordinator", class: 'btn btn-primary'
