.widget-box
  .widget-title
    - if f.object.new_record?
      %h5 Create your question below
    - else
      %h5 Edit your question below
  .widget-content
    = f.input :learning_outcome_id, collection: f.object.possible_learning_outcomes, input_html: { class: 'input-xxlarge' }
    = f.input :directions, input_html: { class: 'input-xxlarge', rows: 6 }

    .row-fluid
      .span6
        %p.simple-form-instructions
          Enter answer options below. Components on the left will be fixed. Only components on the right can be moved by the user.

        %table#items.table.table-bordered.add-value.table-nested-form.table-with-row-numbers.table-with-centered-content
          %thead
            %tr
              %th{colspan: 2}
                Fixed Answer Options
              %th{colspan: 2}
                Matching Answer Options
              %th
                &nbsp;
            %tr
              %th
                Position
              %th
                Option
              %th
                Position
              %th
                Option
              %th
                &nbsp;
          %tbody
            = f.simple_fields_for :items, f.object.items do |child_form|
              = render "item_fields", :f => child_form
          %tfoot
            %td.links{:colspan => "5"}
              = link_to_add_association "Add", f, :items, :class => "btn btn-success pull-right",'data-association-insertion-node' => 'table#items tbody', 'data-association-insertion-method' => 'append'

= f.button :submit, class: 'btn btn-large btn-success', value: "Save"
= f.button :submit, t(:save_and_add_another_question), :class => 'btn btn-large btn-primary' if resource.new_record?
