%tr.nested-fields
  %td.table-with-row-numbers-line-number-cell
    &nbsp;
    = f.input :id, as: 'hidden'
  %td
    = f.input :text, input_html: { :class => "input-block-level", :placeholder => "Enter fixed answer option." }
  %td.table-with-row-numbers-alpha-line-number-cell
    &nbsp;
  %td
    = f.input :answer, input_html: { :class => "input-block-level", :placeholder => "Enter draggable answer option." }
  %td
    = link_to_remove_association "Delete", f, :class => "btn btn-mini btn-danger"
