= content_for :title do
  = resource_class.model_name.human.pluralize

= content_for :contextual_menu do
  .btn-group
    - if can? :create, resource_class
      = link_to url_for(action: 'new'), class: 'btn btn-large tip-bottom', title: "New #{resource_class.model_name.human}" do
        %i.icon-plus
    = link_to url_for(format: :csv), class: 'btn btn-large tip-bottom', title: "Export #{resource_class.model_name.human.pluralize}" do
      %i.icon-download

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th= resource_class.human_attribute_name(:directions)
          %th= resource_class.human_attribute_name(:items)
          %th
      %tbody
        = content_tag_for :tr, collection do |resource|
          %td.directions
            = link_to resource.directions, [:admin, parent, resource]
          %td.items
            = resource.items.map{|item| "#{item.text}: #{item.answer}" }.join(", ")

          %td.actions
            = link_to "Show", [:admin, parent, resource] if can? :view, resource_class
            |
            = link_to 'Edit', edit_polymorphic_path([:admin, parent, resource]) if can? :manage, resource_class

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: "Search #{resource_class.model_name.human.pluralize}", class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white
