= simple_form_for [:admin, @program], html: {class: 'form-horizontal'} do |f|
  = f.input :code
  = f.input :title
  = f.input :video, as: :file
  = f.simple_fields_for :thumb, (@program.thumb.present? ? @program.thumb : @program.build_thumb) do |t|
    = t.input :image, as: :file
    - if t.object.image.present? # TODO: Bootstrap style
      .control-group
        %label.control-label Existing Image
        .controls
          = image_tag t.object.image.thumb('300x200').url
      = t.input :image_delete, as: :boolean, label: "Delete Image?"

  = f.input :classification, as: :select, collection: Program::Classification.all

  = f.association :packages, multiple: true, collection: @packages if @packages.any?

  = f.input :program_type_id, as: :select, collection: ProgramType.all

  = f.input :category_id, as: :grouped_select, collection: @program_category_parents, group_method: :children

  = f.input :description, as: :text, wrapper_html: {class: "markdown"}

  = f.input :accreditation, as: :grouped_select, collection: [["Australia", ["S1", "S2", "S3", "S4"]]], group_method: :last

  = f.input :duration

  .form-actions
    = f.button :submit, class: 'btn btn-primary'

#uploading
  #progress.bar
    #progressbar
    #percents