= content_for :title do
  Edit Program -
  = @program.title

= content_for :contextual_menu do
  .btn-group
    = link_to admin_program_path(@program), class: 'btn btn-large tip-bottom', title: 'Show Program' do
      %i.icon-play
    = link_to admin_programs_path, class: 'btn btn-large tip-bottom', title: 'Show Programs' do
      %i.icon-play

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    = render partial: 'form'