= content_for :title do
  Programs

= content_for :contextual_menu do
  .btn-group
    - if can? :create, Program
      = link_to new_admin_program_path, class: 'btn btn-large tip-bottom', title: 'New Program' do
        %i.icon-plus
    = link_to admin_programs_path(format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Programs' do
      %i.icon-download

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th= Program.human_attribute_name(:code)
          %th= Program.human_attribute_name(:title)
          %th= Program.human_attribute_name(:classification)
          %th= Program.human_attribute_name(:category)
          %th= Program.human_attribute_name(:views)
          %th{width: 75}
      %tbody
        - for program in @programs
          %tr
            %td= link_to program.code, admin_program_path(program)
            %td= link_to program.title, admin_program_path(program)
            %td= Program::Classification.find(program.classification)
            %td= program.category.try(:name)
            %td= program.learning_records.count
            %td
              = link_to "Show", admin_program_path(program) if can? :view, Program
              |
              = link_to 'Edit', edit_admin_program_path(program) if can? :update, Program

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Programs', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white