<%= %w(title code processing category created_at updated_at).map{|attribute| Program.human_attribute_name(attribute) }.join(",") %>
<% for program in @programs %><%= [program.title, program.code, program.processing, program.category.try(:name), program.created_at, program.updated_at] %>
<% end %>