= content_for :title do
  New Program

= content_for :contextual_menu do
  .btn-group
    = link_to admin_programs_path, class: 'btn btn-large tip-bottom', title: 'Show Programs' do
      %i.icon-play

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    = render partial: 'form'