= content_for :title do
  Program -
  = @program.title

= content_for :contextual_menu do
  .btn-group
    - if can? :update, Program
      = link_to edit_admin_program_path(@program), class: 'btn btn-large tip-bottom', title: 'Edit Program' do
        %i.icon-pencil
    - if can? :create, LearningResource && @program.classification == 'program'
      = link_to new_admin_program_learning_resource_path(@program), class: 'btn btn-large tip-bottom', title: 'New Learning Resource' do
        %i.icon-new-learning-resource
    - if can? :destroy, Program
      = link_to admin_program_path(@program), method: :delete, class: 'btn btn-large btn-danger tip-bottom', title: 'Delete Program', confirm: "Are you sure you want to DELETE the program #{@program.title}? This action cannot be undone." do
        %i.icon-minus

- if @program.processing?
  %p.alert
    We're still
    = link_to 'processing this program', "https://app.zencoder.com/jobs/#{@program.zencoder_id}", target: '_blank'
    \- we'll send you an email when it's finished
  %p.alert
    Programs are not
    %b NOT
    displayed on user program reels until they have been processed by Zencoder
- else
  %p.alert.alert-info
    This program has been processed by
    = link_to 'Zencoder', "https://app.zencoder.com/jobs/#{@program.zencoder_id}", :target => '_blank'

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td= Program.human_attribute_name(:title)
          %td= @program.title
        %tr
          %td= Program.human_attribute_name(:code)
          %td= @program.code
        %tr
          %td= Program.human_attribute_name(:programs_completed)
          %td= @program.learning_records.count
        - if @program.accreditation
          %tr
            %td= Program.human_attribute_name(:accreditation)
            %td= @program.accreditation
        - if @program.program_type
          %tr
            %td= Program.human_attribute_name(:program_type)
            %td= @program.program_type
        - if @program.duration
          %tr
            %td= Program.human_attribute_name(:duration)
            %td= @program.duration
        - if @program.category.present?
          %tr
            %td= Program.human_attribute_name(:category)
            %td= link_to @program.category, [:admin, @program.category]
          - if @program.category.parent.present?
            %tr
              %td= Program.human_attribute_name(:category_parent)
              %td= link_to @program.category.parent, [:admin, @program.category.parent]
          - else
            %tr
              %td
        %tr
          %td Created At
          %td #{@program.created_at.to_s(:long_ordinal)} by #{@program.created_by.name if @program.created_by}
        %tr
          %td Updated At
          %td #{@program.updated_at.to_s(:long_ordinal)} by #{@program.updated_by.name if @program.updated_by}

- unless @program.processing
  .widget-box
    .widget-title
      %h5 Program
    .widget-content
      = render(:partial => "layouts/shared/program", :locals => { :program => @program })

.widget-box
  .widget-title
    %h5 Assessment
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.program_assessments
      %tbody
        %tr
          %th
            &nbsp;
          %th
            = Program::Assessment.human_attribute_name(:status)
          %th
            Pass Mark
          %th
            Attempts
          %th
            Successful
          %th
            Unsuccessful
          %th
            = Program::Assessment.human_attribute_name(:pass_rate)
          %th

        - @program.assessments.each do |assessment|
          %tr
            %td.sub= link_to assessment, admin_program_program_assessment_path(@program, assessment)
            %td.sub= assessment.status
            %td.sub= assessment.pass_mark
            %td.sub= assessment.answer_attempts_count
            %td.sub= assessment.answer_successful_count
            %td.sub= assessment.answer_unsuccessful_count
            %td.sub= number_to_percentage_or_na(assessment.pass_rate * 100)
            %td
              - if can? :manage, resource_class
                = link_to "Edit", edit_admin_program_program_assessment_path(@program, assessment)

- if @program.learning_resources.any?
  #learning_resources.widget-box
    .widget-title
      %h5 Learning Resources
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Name
            %th Resource
            %th Coordinator only?
            %th Last updated by
        %tbody
          - for learning_resource in @program.learning_resources
            %tr
              %td= learning_resource.name
              %td= link_to "Download Resource", download_admin_program_learning_resource_path(@program, learning_resource)
              %td= learning_resource.coordinators_only ? "true" : "false"
              %td
                = learning_resource.updated_by.name + ', ' if learning_resource.updated_by
                = distance_of_time_in_words_to_now learning_resource.updated_at
                ago
              %td
                = link_to 'Edit', edit_admin_program_learning_resource_path(@program, learning_resource) if can? :update, LearningResource
                = link_to 'Delete', admin_program_learning_resource_path(@program, learning_resource), method: :delete if can? :destroy, LearningResource

- if @program.packages.any?
  .widget-box
    .widget-title
      %h5= Package.model_name.human.pluralize
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        = render 'admin/packages/table_content', packages: @program.packages
