= f.input :employee_number

- if @employment.service.independent?
  = f.input :job_title_id, label: "Job Title", as: :select, collection: @employment.service.job_titles
- else
  = f.input :job_title_id, label: "Job Title", as: :select, collection: @employment.service.group.job_titles.default_order

= f.input :role, as: :radio_buttons, collection: @roles
.form-actions
  = f.button :submit, class: 'btn btn-primary'
