= content_for :title do
  Edit Employment -
  = @employment.user.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_user_path(@employment.user), class: 'btn btn-large tip-bottom', title: 'Show User' do
      %i.icon-user
    = link_to end_admin_service_employment_path(@employment.service, @employment), class: 'btn btn-large btn-danger tip-bottom tip-bottom', title: 'Terminate Employment', method: 'put' do
      %i.icon-switch

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    = simple_form_for [:admin, @user, @employment], html: {class: 'form-horizontal'} do |f|
      = render partial: 'form', locals: { f: f }