.contentblock
  %section
    %header.clearfix
      %h1.pull-left= @name
      %ul.inline.unstyled.actions.pull-right
        %li
          %a.edit_plan.btn.btn-success.pull-right{:href => ''}
            Edit
        %li
          %a#delete_plan.btn.btn-danger.pull-right{:href => ''}
            Delete
    %p= @description
    %hr
      %ul.iconlist.unstyled
        - if @active
          %li
            %span.active.label.label-success
              active
        - else
          %li
            %span.icon
              C
            %span{title: @active_at}= @days_till_active + " Days until this plan becomes active " + @formatted_active_at
        %li
          %span.icon
            C
          = @days_till_due + " Days"
        %li
          %span.icon
            U
          = @employments_count + " Users"
        %li
          %span.icon
            F
          = @programs_count + " Programs"