= simple_form_for [:admin, @program, @learning_resource], html: {class: 'form-horizontal'} do |f|
  = f.input :name
  = f.input :resource, as: :file, required: false
  = f.input :coordinators_only, hint: "Use this for resources like answer sheets"
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
