= content_for :title do
  New Learning Resource

= content_for :contextual_menu do
  .btn-group
    = link_to admin_program_path(@program), class: 'btn btn-large tip-bottom', title: 'Show Program' do
      %i.icon-play

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    = render partial: 'form'