<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td width="70" align="left" valign="top"><img src="http://dev.createur.com.au/edm/acc/images/hello-icon-2x.gif" alt="" width="70" height="50" /></td>
    <td width="570" align="left" valign="top" class="intro">
      <h1>Hello <%= @user %></h1>
      <p>You are now a <strong>Group Coordinator</strong> for <strong><%= @group %></strong>.</p>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <p>You will have <strong>Group Coordinator</strong> access to all Services which belong to <strong><%= @group %></strong>.</p>
      <p>You may update your current activations in the <%= link_to "settings area", root_url + "settings" %>.</p>
      <p>Sincerely,<br>
      The ACC Team.</p>
    </td>
  </tr>
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="left" class="button">
        <tr>
          <td width="15">&nbsp;</td>
          <td height="40" align="center" valign="middle"><%= link_to "Log In", root_url %></td>
          <td width="15">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="40" /></td>
  </tr>
</table>