#nav.navbar
  .navbar-inner
    .container
      %a#logo-phone
        %img{src: asset_path("acc-logo-block-phone.png"), class: 'visible-phone', alt: 'ACC Logo'}
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a.home{:href => '/'}
              Home
          %li
            %a.programs{:href => '/programs'}
              Programs
          %li
            %a.my-learning{:href => '/my-learning'}
              My Learning
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => 'http://support.acctv.co/login', :target => "_blank", :role => "support"}
              Support
          %li
            %a{:href => '/users/sign_out'}
              Log Out
          %li
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info.btn-settings{:href => '/settings'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9.maincontent#application
      .wrapper
        .clearfix#mainheader
          %img{src: asset_path("acc-logo.png"), class: 'hidden-phone pull-left logo', alt: 'ACC Logo'}
          #welcome.welcome.content
            %section
              %h1 Fire Safety: The Principles
              %h2 Essentials Assessment
      .row-fluid
        .span10
          .progress.progress-striped.active
            .bar{:style => "width: 54%"}
        .span2
          %span.timer 0:35:39
      .row-fluid
        #videoWrapper.box-video.span12
          %img{src: asset_path("http://placehold.it/700x392&text=video+placeholder")}
      .row-fluid
        %form.assessment-form
          .question.box.sequence
            %h2 
              Example Question.
              %small
                Drag and drop the below list items into the correct sequence.
            %h3 Arrange the vowels below into their correct order.
            %ol.sortable-disabled.sortable-text
              %li.ui-state-default
                %span A.
                Good news, everyone! I've taught the toaster to feel love!
              %li.ui-state-default
                %span B.
                This is the worst kind of discrimination: the kind against me!
              %li.ui-state-default
                %span C.
                Bender, I didn't know you like cooking? That's so cute.
              %li.ui-state-default
                %span D.
                I was all of history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny! What happens if it goes over 2 lines?
              %li.ui-state-default
                %span E.
                Why would a robot need to drink?
          .question.box.image-question.sequence
            %h2 
              Example Question.
              %small 
                Drag and drop the images into the correct sequence.
            %h3 Arrange the below pictures alphabetically.
            %ul.sortable-disabled.sortable-image
              %li.ui-state-default
                %h3 A.
                %img{src: asset_path("http://placehold.it/400x224&text=Image+Placeholder"), :class => 'drag-image'}
                %p Some text goes here and it could go over 2 or 3 lines depending on how long the caption is.    
              %li.ui-state-default
                %h3 B.
                %img{src: asset_path("http://placehold.it/400x224&text=Image+Placeholder"), :class => 'drag-image'}
                %p Something or other
              %li.ui-state-default
                %h3 C.
                %img{src: asset_path("http://placehold.it/400x224&text=Image+Placeholder"), :class => 'drag-image'}
                %p This is an image that goes onto another line. Yeah.
          .question.sequence
            %h2 
              Question 1.
              %small 
                Drag and drop the below list items into the correct sequence.
            %h3 Order the steps below according to how you should extinguish a fire.
            %ol.sortable.sortable-text
              %li.ui-state-default
                %span A.
                Good news, everyone! I've taught the toaster to feel love!
              %li.ui-state-default
                %span B.
                This is the worst kind of discrimination: the kind against me!
              %li.ui-state-default
                %span C.
                Bender, I didn't know you like cooking? That's so cute.
              %li.ui-state-default
                %span D.
                I was all of history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny! What happens if it goes over 2 lines?
              %li.ui-state-default
                %span E.
                Why would a robot need to drink?
              %li.ui-state-default
                %span F.
                This list could potentially have 7 options.
              %li.ui-state-default
                %span G.
                Knick, knack, paddywhack, give the dog a bone. This old man came rolling home.
          .question.image-question.sequence
            %h2 
              Question 2.
              %small 
                Drag and drop the images into the correct sequence.
            %h3 Arrange the fire blanket instructions below into their correct order.
            %ul.sortable.sortable-image
              %li.ui-state-default
                %h3 A.
                %img{src: asset_path("http://placehold.it/400x224&text=Image+Placeholder"), :class => 'drag-image'}
                %p Some text goes here and it could go over 2 or 3 lines depending on how long the caption is.    
              %li.ui-state-default
                %h3 B.
                %img{src: asset_path("http://placehold.it/400x224&text=Image+Placeholder"), :class => 'drag-image'}
                %p Something or other
              %li.ui-state-default
                %h3 C.
                %img{src: asset_path("http://placehold.it/400x224&text=Image+Placeholder"), :class => 'drag-image'}
                %p This is an image that goes onto another line. Yeah.
          %a.btn.btn-largest.btn-success.pull-right Continue &rarr;  
    .span3
      #sidebar.sidebar 
        %a.btn.btn-large.btn-info#helpbtn
          How can we help?
        %h2
          Learning Workbooks
        %p
          Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
        %hr
        %h2 Status Legend
        %table.table.table-condensed.legend
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-default.icon #
            %td
              Not Required
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-success.icon T
            %td
              Passed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-warning.icon 9
            %td
              Ready
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-pending.icon !
            %td
              Pending
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-important.icon $
            %td
              Failed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-overdue.icon C
            %td
              Overdue
    .row-fluid
      .span12
        .wrapper
          %hr
          .footer
            %nav
              %ul.unstyled
                %li
                  &copy; 2012 ACC. All rights reserved.
                %li
                  %a{:href => 'http://support.acctv.co/entries/21733662-terms-of-use', :role => "terms-of-use", :target => "_blank"}
                    Terms of use
                %li
                  %a{:href => 'http://support.acctv.co/entries/21751698-privacy-policy', :role => "privacy-policy", :target => "_blank"}
                    Privacy
                %li
                  %a{:href => 'http://support.acctv.co/home', :target => "_blank", :role => "contact-us"}
                    Contact Us