#nav.navbar
  .navbar-inner
    .container
      %a#logo-phone
        %img{src: asset_path("acc-logo-block-phone.png"), class: 'visible-phone', alt: 'ACC Logo'}
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a.home{:href => '/'}
              Home
          %li
            %a.programs{:href => '/programs'}
              Programs
          %li
            %a.my-learning{:href => '/my-learning'}
              My Learning
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => 'http://support.acctv.co/login', :target => "_blank", :role => "support"}
              Support
          %li
            %a{:href => '/users/sign_out'}
              Log Out
          %li
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info.btn-settings{:href => '/settings'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9.maincontent#application
      .wrapper
        .clearfix#mainheader
          %img{src: asset_path("acc-logo.png"), class: 'hidden-phone pull-left logo', alt: 'ACC Logo'}
          #welcome.welcome.content
            %section
              %h1 Fire Safety: The Principles
              %h2 Essentials Assessment
      .row-fluid
        .span10
          .progress.progress-striped.active
            .bar{:style => "width: 86%"}
        .span2
          %span.timer 0:49:24
      .row-fluid
        #videoWrapper.box-video.span12
          %img{src: asset_path("http://placehold.it/700x392&text=video+placeholder")}
      .row-fluid
        .span12
          %form.assessment-form
            .question.box.sequence
              %h2 
                Example Question.
                %small
                  Drag and drop the below list items on the right into the correct sequence.
              %h3 Match the actions on the right with the consequences on the left.
              .sortable-match
                .row-fluid
                  .span6
                    .sortable-match-left
                      %ol.sortable-text.sortable-disabled
                        %li.ui-state-default
                          %span 1.
                          Entering a resident's room with a torch
                        %li.ui-state-default
                          %span 2.
                          This is an example question
                        %li.ui-state-default
                          %span 3.
                          Using an out of bed monitor

                  .span6
                    .sortable-match-right
                      %ol.sortable-text.sortable-disabled
                        %li.ui-state-default
                          %span A.
                          May frustrate the resident even more
                        %li.ui-state-default
                          %span B.
                          May avoid making unnecessary noise 
                        %li.ui-state-default
                          %span C.
                          May help staff to identify triggers to waking

            .question.sequence
              %h2 
                Question 1.
                %small
                  Drag and drop the below list items on the right into the correct sequence.
              %h3 Match the actions on the right with the consequences on the left.
              .sortable-match
                .row-fluid
                  .span6
                    .sortable-match-left
                      %ol.sortable-text.sortable-disabled
                        %li.ui-state-default
                          %span 1.
                          Entering a resident's room with a torch
                        %li.ui-state-default
                          %span 2.
                          Orientating a resident's bed towards the toilet
                        %li.ui-state-default
                          %span 3.
                          Using an out of bed monitor
                        %li.ui-state-default
                          %span 4.
                          Putting your phone on silent
                        %li.ui-state-default
                          %span 5.
                          Keeping records of night time behaviour
                        %li.ui-state-default
                          %span 6.
                          Giving medication in the morning
                        %li.ui-state-default
                          %span 7.
                          Allowing residents to choose their bed time and awakening times
                        %li.ui-state-default
                          %span 8.
                          Allowing residents to perform meaningful tasks at night
                        %li.ui-state-default
                          %span 9.
                          Arguing with a resident who cannot sleep
                        %li.ui-state-default
                          %span 10.
                          Wearing a different staff uniform at night

                  .span6
                    .sortable-match-right
                      %ol.sortable.sortable-text
                        %li.ui-state-default
                          %span A.
                          May frustrate the resident even more
                        %li.ui-state-default
                          %span B.
                          May avoid making unnecessary noise 
                        %li.ui-state-default
                          %span C.
                          May help staff to identify triggers to waking
                        %li.ui-state-default
                          %span D.
                          May wake and disorientate the resident at night
                        %li.ui-state-default
                          %span E.
                          May assist carers to check a resident without entering the room
                        %li.ui-state-default
                          %span F.
                          May prevent residents from hitting out
                        %li.ui-state-default
                          %span G.
                          May make them feel valuable
                        %li.ui-state-default
                          %span H.
                          May help signal to residents that it's time to go to bed
                        %li.ui-state-default
                          %span I.
                          Make them wear funny hats
                        %li.ui-state-default
                          %span J.
                          Shake hands with them and call them the Sheriff


          %a.btn.btn-largest.btn-success.pull-right Continue &rarr;  

    .span3
      #sidebar.sidebar 
        %a.btn.btn-large.btn-info#helpbtn
          How can we help?
        %h2
          Learning Workbooks
        %p
          Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
        %hr
        %h2 Status Legend
        %table.table.table-condensed.legend
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-default.icon #
            %td
              Not Required
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-success.icon T
            %td
              Passed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-warning.icon 9
            %td
              Ready
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-pending.icon !
            %td
              Pending
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-important.icon $
            %td
              Failed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-overdue.icon C
            %td
              Overdue
    .row-fluid
      .span12
        .wrapper
          %hr
          .footer
            %nav
              %ul.unstyled
                %li
                  &copy; 2012 ACC. All rights reserved.
                %li
                  %a{:href => 'http://support.acctv.co/entries/21733662-terms-of-use', :role => "terms-of-use", :target => "_blank"}
                    Terms of use
                %li
                  %a{:href => 'http://support.acctv.co/entries/21751698-privacy-policy', :role => "privacy-policy", :target => "_blank"}
                    Privacy
                %li
                  %a{:href => 'http://support.acctv.co/home', :target => "_blank", :role => "contact-us"}
                    Contact Us