#nav.navbar
  .navbar-inner
    .container
      %a#logo-phone
        %img{src: asset_path("acc-logo-block-phone.png"), class: 'visible-phone', alt: 'ACC Logo'}
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a.home{:href => '/'}
              Home
          %li
            %a.programs{:href => '/programs'}
              Programs
          %li
            %a.my-learning{:href => '/my-learning'}
              My Learning
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => 'http://support.acctv.co/login', :target => "_blank", :role => "support"}
              Support
          %li
            %a{:href => '/users/sign_out'}
              Log Out
          %li
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info.btn-settings{:href => '/settings'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9.maincontent#application
      .wrapper
        .clearfix#mainheader
          %img{src: asset_path("acc-logo.png"), class: 'hidden-phone pull-left logo', alt: 'ACC Logo'}
          #welcome.welcome.content
            %section
              %h1 Fire Safety: The Principles
              %h2 Essentials Assessment
      .row-fluid
        .span10
          .progress.progress-striped.active
            .bar{:style => "width: 84%"}
        .span2
          %span.timer 0:47:24
      .row-fluid
        #videoWrapper.box-video.span12
          %img{src: asset_path("http://placehold.it/700x392&text=video+placeholder")}
      .row-fluid
        %form.assessment-form
          .question.feedback.incorrect
            %h2 
              Question 1.
              %small 
                Drag the correct word from the Word Pane into the gap to complete the sentence.
              %span.badge.badge-rounded.badge-smallest.badge-important.icon $

            %ul.unstyled.fg-list.well.well-small.incorrect
              // The answer will need to validate if dropped. If it's incorrect, it should snap back to the starting position.
              %li 
                %h4 Your Answer
              %li 
                The colour of the ACC logo in the top left-hand corner of the screen is
                %span.droppable.example
                  %span.droppable-example Blue

            %ul.unstyled.fg-list.well.well-small.correct
              // The answer will need to validate if dropped. If it's incorrect, it should snap back to the starting position.
              %li 
                %h4 Correct Answer
              %li 
                The colour of the ACC logo in the top left-hand corner of the screen is
                %span.droppable.example
                  %span.droppable-example Blue

          .question.feedback.correct
            %h2 
              Question 2.
              %small 
                Drag the correct word from the Word Pane into the gap to complete the sentence.
              %span.badge.badge-rounded.badge-smallest.badge-success.icon T
            %ul.unstyled.fg-list.well.well-small.correct
              // The answer will need to validate if dropped. If it's incorrect, it should snap back to the starting position.
              %li 
                %h4 Correct Answer
              %li 
                The colour of the ACC logo in the top left-hand corner of the screen is
                %span.droppable.example
                  %span.droppable-example Blue

          %a.btn.btn-largest.btn-success.pull-right Continue &rarr;  

    .span3
      #sidebar.sidebar 
        %a.btn.btn-large.btn-info#helpbtn
          How can we help?
        %h2
          Learning Workbooks
        %p
          Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
        %hr
        %h2 Status Legend
        %table.table.table-condensed.legend
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-default.icon #
            %td
              Not Required
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-success.icon T
            %td
              Passed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-warning.icon 9
            %td
              Ready
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-pending.icon !
            %td
              Pending
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-important.icon $
            %td
              Failed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-overdue.icon C
            %td
              Overdue
    .row-fluid
      .span12
        .wrapper
          %hr
          .footer
            %nav
              %ul.unstyled
                %li
                  &copy; 2012 ACC. All rights reserved.
                %li
                  %a{:href => 'http://support.acctv.co/entries/21733662-terms-of-use', :role => "terms-of-use", :target => "_blank"}
                    Terms of use
                %li
                  %a{:href => 'http://support.acctv.co/entries/21751698-privacy-policy', :role => "privacy-policy", :target => "_blank"}
                    Privacy
                %li
                  %a{:href => 'http://support.acctv.co/home', :target => "_blank", :role => "contact-us"}
                    Contact Us