#nav.navbar
  .navbar-inner
    .container
      %a#logo-phone
        %img{src: asset_path("acc-logo-block-phone.png"), class: 'visible-phone', alt: 'ACC Logo'}
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a.home{:href => '/'}
              Home
          %li
            %a.programs{:href => '/programs'}
              Programs
          %li
            %a.my-learning{:href => '/my-learning'}
              My Learning
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => 'http://support.acctv.co/login', :target => "_blank", :role => "support"}
              Support
          %li
            %a{:href => '/users/sign_out'}
              Log Out
          %li
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info.btn-settings{:href => '/settings'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9.maincontent#application
      .wrapper
        .clearfix#mainheader
          %img{src: asset_path("acc-logo.png"), class: 'hidden-phone pull-left logo', alt: 'ACC Logo'}
          #welcome.welcome.content
            %section
              %h1 Fire Safety: The Principles
              %h2 Essentials Assessment
      .row-fluid
        .span10
          .progress.progress-striped.active
            .bar{:style => "width: 2%"}
        .span2
          %span.timer 0:59:07
      .row-fluid
        #videoWrapper.box-video.span12
          %img{src: asset_path("http://placehold.it/700x392&text=video+placeholder")}
      .row-fluid
        %form.assessment-form
          .question.box
            %h2 
              Example Question.
              %small 
                True or False?
            %h3 There are 365 days in a year.
            %label.radio.inline
              %input{:type => "radio", :name => "radios1", :id => "optionsRadios1", :value => "option1", :checked => "checked", :disabled => "true"}
                True
            %label.radio.inline
              %input{:type => "radio", :name => "radios1", :id => "optionsRadios2", :value => "option2", :disabled => "true"}
                False
          .question.image-question.box
            %h2 
              Example Question.
              %small 
                Study the image below and answer the question. True or False?
            %h3 Bodog is the director of Createur.
            .row-fluid
              .span6
                %img{src: asset_path("http://placehold.it/323x181&text=Image+Placeholder"), :class => 'image-question'}
                %span This is an image caption that describes what is being depicted in the image.
              .span6
                %label.radio
                  %input{:type => "radio", :name => "radios2", :id => "optionsRadios1", :value => "option1", :checked => "checked", :disabled => "true"}
                    True
                %label.radio
                  %input{:type => "radio", :name => "radios2", :id => "optionsRadios2", :value => "option2", :disabled => "true"}
                    False
          .question
            %h2 
              Question 1.
              %small 
                True or False?
            %h3 When a fire starts somewhere, it is always recommended that you let it burn and you don't attempt to put it out.
            %label.radio.inline
              %input{:type => "radio", :name => "radios3", :id => "optionsRadio1", :value => "option1"}
                True
            %label.radio.inline
              %input{:type => "radio", :name => "radios3", :id => "optionsRadios2", :value => "option2"}
                False
          .question.image-question
            %h2 
              Question 2.
              %small 
                Study the image below and answer the question. True or False?
            %h3 Grant Ricker is working on the ACC project.
            .row-fluid
              .span6
                %img{src: asset_path("http://placehold.it/323x181&text=Image+Placeholder"), :class => 'image-question'}
                %span Grant, pictured above, is working on the project.
              .span6
                %label.radio
                  %input{:type => "radio", :name => "radios4", :id => "optionsRadios1", :value => "option1"}
                    True
                %label.radio
                  %input{:type => "radio", :name => "radios4", :id => "optionsRadios2", :value => "option2"}
                    False
          %a.btn.btn-largest.btn-success.pull-right Continue &rarr;  
    .span3
      #sidebar.sidebar 
        %a.btn.btn-large.btn-info#helpbtn
          How can we help?
        %h2
          Learning Workbooks
        %p
          Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
        %hr
        %h2 Status Legend
        %table.table.table-condensed.legend
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-default.icon #
            %td
              Not Required
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-success.icon T
            %td
              Passed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-warning.icon 9
            %td
              Ready
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-pending.icon !
            %td
              Pending
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-important.icon $
            %td
              Failed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-overdue.icon C
            %td
              Overdue
    .row-fluid
      .span12
        .wrapper
          %hr
          .footer
            %nav
              %ul.unstyled
                %li
                  &copy; 2012 ACC. All rights reserved.
                %li
                  %a{:href => 'http://support.acctv.co/entries/21733662-terms-of-use', :role => "terms-of-use", :target => "_blank"}
                    Terms of use
                %li
                  %a{:href => 'http://support.acctv.co/entries/21751698-privacy-policy', :role => "privacy-policy", :target => "_blank"}
                    Privacy
                %li
                  %a{:href => 'http://support.acctv.co/home', :target => "_blank", :role => "contact-us"}
                    Contact Us