#nav.navbar
  .navbar-inner
    .container
      %a#logo-phone
        %img{src: asset_path("acc-logo-block-phone.png"), class: 'visible-phone', alt: 'ACC Logo'}
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a.home{:href => '/'}
              Home
          %li
            %a.programs{:href => '/programs'}
              Programs
          %li
            %a.my-learning{:href => '/my-learning'}
              My Learning
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => 'http://support.acctv.co/login', :target => "_blank", :role => "support"}
              Support
          %li
            %a{:href => '/users/sign_out'}
              Log Out
          %li
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info.btn-settings{:href => '/settings'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9.maincontent#application
      .wrapper
        .clearfix#mainheader
          %img{src: asset_path("acc-logo.png"), class: 'hidden-phone pull-left logo', alt: 'ACC Logo'}
          #welcome.welcome.content
            %section
              %h1 Fire Safety: The Principles
              %h2 Essentials Assessment
      .row-fluid
        .span10
          .progress.progress-striped.active
            .bar{:style => "width: 77%"}
        .span2
          %span.timer 0:14:26
      .row-fluid
        #videoWrapper.box-video.span12
          %img{src: asset_path("http://placehold.it/700x392&text=video+placeholder")}
      .row-fluid
        %form.assessment-form
          .question.feedback.correct
            %h2 
              Question 1.
              %small 
                Multiple choice.
              %span.badge.badge-rounded.badge-smallest.badge-success.icon T
            %h3 How many letters are there in the alphabet?
            .well.well-small.correct
              %h4 Your Answer:
              %label.radio
                %input{:type => "radio", :name => "radios1", :id => "optionsRadios1", :value => "option1", :checked => "true", :disabled => "true"}
                  26
              %label.radio
                %input{:type => "radio", :name => "radios1", :id => "optionsRadios2", :value => "option2", :disabled => "true"}
                  25
              %label.radio
                %input{:type => "radio", :name => "radios1", :id => "optionsRadios3", :value => "option3", :disabled => "true"}
                  24
              %label.radio
                %input{:type => "radio", :name => "radios1", :id => "optionsRadios4", :value => "option4", :disabled => "true"}
                  23
          .question.feedback.incorrect
            %h2 
              Question 2.
              %small 
                Multiple choice.
              %span.badge.badge-rounded.badge-smallest.badge-important.icon $
            %h3 By law, how many fire extinguishers per aged care facility need to be installed?
            .well.well-small.incorrect
              %h4 Your Answer:
              %label.radio
                %input{:type => "radio", :name => "radios2", :id => "optionsRadios1", :value => "option1", :disabled => "true"}
                  2
              %label.radio
                %input{:type => "radio", :name => "radios2", :id => "optionsRadios2", :value => "option2", :disabled => "true"}
                  1
              %label.radio
                %input{:type => "radio", :name => "radios2", :id => "optionsRadios3", :value => "option3", :checked => "true", :disabled => "true"}
                  3
              %label.radio
                %input{:type => "radio", :name => "radios2", :id => "optionsRadios4", :value => "option4", :disabled => "true"}
                  5
            .well.well-small.correct
              %h4 Correct Answer:
              %label.radio
                %input{:type => "radio", :name => "radios3", :id => "optionsRadios1", :value => "option1", :checked => "true", :disabled => "true"}
                  2
              %label.radio
                %input{:type => "radio", :name => "radios3", :id => "optionsRadios2", :value => "option2", :disabled => "true"}
                  1
              %label.radio
                %input{:type => "radio", :name => "radios3", :id => "optionsRadios3", :value => "option3", :disabled => "true"}
                  3
              %label.radio
                %input{:type => "radio", :name => "radios3", :id => "optionsRadios4", :value => "option4", :disabled => "true"}
                  5
          .question.image-question.feedback.incorrect
            %h2 
              Question 3.
              %small 
                Study the image below and choose the correct answer.
              %span.badge.badge-rounded.badge-smallest.badge-important.icon $
            %h3 What safety procedure is being carried out in the image?
            .row-fluid
              .span6
                %img{src: asset_path("http://placehold.it/323x181&text=Image+Placeholder"), :class => 'image-question'}
                %span Aged care workers practice a fire evacuation drill.
              .span6
                .well.well-small.incorrect
                  %h4 Your Answer:
                  %label.radio
                    %input{:type => "radio", :name => "radios4", :id => "optionsRadios1", :value => "option1", :disabled => "true", :checked => "true"}
                      Flood evacuation.
                  %label.radio
                    %input{:type => "radio", :name => "radios4", :id => "optionsRadios2", :value => "option2", :disabled => "true"}
                      Medical emergency.
                  %label.radio
                    %input{:type => "radio", :name => "radios4", :id => "optionsRadios3", :value => "option3", :disabled => "true"}
                      Police emergency.
                  %label.radio
                    %input{:type => "radio", :name => "radios4", :id => "optionsRadios4", :value => "option4", :disabled => "true"}
                      Fire evacuation.
                .well.well-small.correct
                  %h4 Correct Answer:
                  %label.radio
                    %input{:type => "radio", :name => "radios5", :id => "optionsRadios1", :value => "option1", :disabled => "true"}
                      Flood evacuation.
                  %label.radio
                    %input{:type => "radio", :name => "radios5", :id => "optionsRadios2", :value => "option2", :disabled => "true"}
                      Medical emergency.
                  %label.radio
                    %input{:type => "radio", :name => "radios5", :id => "optionsRadios3", :value => "option3", :disabled => "true"}
                      Police emergency.
                  %label.radio
                    %input{:type => "radio", :name => "radios5", :id => "optionsRadios4", :value => "option4", :disabled => "true", :checked => "true"}
                      Fire evacuation.
          .question.image-question.feedback.correct
            %h2 
              Question 4.
              %small 
                Study the image below and choose the correct answer.
              %span.badge.badge-rounded.badge-smallest.badge-success.icon T
            %h3 What safety procedure is being carried out in the image?
            .row-fluid
              .span6
                %img{src: asset_path("http://placehold.it/323x181&text=Image+Placeholder"), :class => 'image-question'}
                %span Aged care workers practice a fire evacuation drill.
              .span6
                .well.well-small.correct
                  %h4 Your Answer:
                  %label.radio
                    %input{:type => "radio", :name => "radios6", :id => "optionsRadios1", :value => "option1", :disabled => "true"}
                      Flood evacuation.
                  %label.radio
                    %input{:type => "radio", :name => "radios6", :id => "optionsRadios2", :value => "option2", :disabled => "true"}
                      Medical emergency.
                  %label.radio
                    %input{:type => "radio", :name => "radios6", :id => "optionsRadios3", :value => "option3", :disabled => "true"}
                      Police emergency.
                  %label.radio
                    %input{:type => "radio", :name => "radios6", :id => "optionsRadios4", :value => "option4", :disabled => "true", :checked => "true"}
                      Fire evacuation.
          %a.btn.btn-largest.btn-success.pull-right Continue &rarr;  
    .span3
      #sidebar.sidebar 
        %a.btn.btn-large.btn-info#helpbtn
          How can we help?
        %h2
          Learning Workbooks
        %p
          Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
        %hr
        %h2 Status Legend
        %table.table.table-condensed.legend
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-default.icon #
            %td
              Not Required
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-success.icon T
            %td
              Passed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-warning.icon 9
            %td
              Ready
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-pending.icon !
            %td
              Pending
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-important.icon $
            %td
              Failed
          %tr
            %td
              %span.badge.badge-rounded.badge-smallest.badge-overdue.icon C
            %td
              Overdue
    .row-fluid
      .span12
        .wrapper
          %hr
          .footer
            %nav
              %ul.unstyled
                %li
                  &copy; 2012 ACC. All rights reserved.
                %li
                  %a{:href => 'http://support.acctv.co/entries/21733662-terms-of-use', :role => "terms-of-use", :target => "_blank"}
                    Terms of use
                %li
                  %a{:href => 'http://support.acctv.co/entries/21751698-privacy-policy', :role => "privacy-policy", :target => "_blank"}
                    Privacy
                %li
                  %a{:href => 'http://support.acctv.co/home', :target => "_blank", :role => "contact-us"}
                    Contact Us