.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
      .pull-right
        %h1 ACC
        %span Group Coordinator
        .toggles.btn-group
          %button.btn.active
            3E's
          %button.btn
            Jobs
          %button.btn
            Reports
      .row-fluid
        .span12
          %h1 Manage Program Assessments
          %form.well.form-search
            .control-group
              .controls
                .input-append
                  %input.searchfield{:type => 'text'}
                  %input.btn.btn-info{:type => 'submit', :value => 'Search'}
          %table.table.table-bordered
            %thead
              %tr
                %th &nbsp;
                %th
                  %label.checkbox
                    %input{:type => 'checkbox'} Essentials
                %th
                  %label.checkbox
                    %input{:type => 'checkbox'} Extension
                %th
                  %label.checkbox
                    %input{:type => 'checkbox'} Evidence
            %tbody
              %tr
                %td
                  %h4 Program Name
                %td{:colspan => '3'} &nbsp;
              %tr
                %td
                  %strong Fire Safety
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
              %tr
                %td
                  %strong Infection Control
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
              %tr
                %td
                  %strong Dementia: Meaningful Activities
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
              %tr
                %td
                  %strong OHS: Safe Lifting
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
              %tr
                %td
                  %strong Diabetes
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
                %td
                  %input{:type => 'checkbox'}
    .span3
      %a.btn.btn-large.btn-info
        How can we help?
      %section
        %h1
          Contextual Help
        %p
          Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
        %h2
          Other Section
        %p
          Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by &quot;devil&quot;, I mean Robot Devil.  And by &quot;metaphorically&quot;, I mean get your coat.
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us