.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      .row-fluid
        .span12
          = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
          .pull-right
            .page-title
              %hgroup
                %h1
                  Service Name
          .toggles.btn-group.pull-right
            %button.btn.active
              Users
            %button.btn
              Plans
            %button.btn
              Sessions
            %button.btn
              Assess
            %button.btn
              Reports
          %hr.clear
          %ul.thumbnails
            %li.span6
              .well
                %h2 Bodog Olah
                %ul.unstyled
                  %li Group coordinator
                  %li Personal Assistant
                  %li 2342
                  %li
                    %a{:href => 'mailto:bodog@createur.com.au'}
                      bodog@createur.com.au
            %li.span6
              %ul.nav.nav-tabs#myTab
                %li
                  %a{:href => '#plans', :data => {:toggle => 'tab'}}
                    Plans
                %li.active
                  %a{:href => '#records', :data => {:toggle => 'tab'}}
                    Records
          %form.well.form-search
            .control-group
              .controls
                .input-append
                  %input.searchfield{:type => 'text'}
                  %input.btn.btn-info{:type => 'submit', :value => 'Search'}
          %h2 Recent Learning records
          %hr
          .well
            %h3 Assessment Failed: Induction Extension
            %h4 1 day ago
          .well
            %h3 Completed Assessment: Induction Extension
            %h4 2 days ago
          .well
            %h3 Viewed Program: Induction
            %h4 2 days ago
          .well
            %h3 Assessment Passed: Dementia Essentials
            %h4 2 days ago
          .well
            %h3 Completed Assessment: Dementia Essentials
            %h4 2 days ago
          .well
            %h3 Viewed Program: Dementia
            %h4 3 days ago
    .span3
      %a.btn.btn-large.btn-info
        How can we help?
      %section
        %h1
          Contextual Help
        %p
          Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
        %h2
          Other Section
        %p
          Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by &quot;devil&quot;, I mean Robot Devil.  And by &quot;metaphorically&quot;, I mean get your coat.
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us