%h1 This is the wf test directory
%p Used for non-ACC styled prototypes for acceptance testing.

%ul
  %li Layout: /app/views/layouts/wf.html.haml
  %li Stylesheet: /app/assets/stylesheets/wf.scss
  %li Javascript: /app/assets/javascripts/wf.js.coffee

%p This directory only includes a raw bootstrap include for css and js, it doesn't include any of the styled assets of javascript for ACC Online.
%p Views are dynamically included from /app/views/wf/* and accessible via wireframes.acctv.co/wf/*