.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
      .pull-right
        %h1 Bricknell Manor
        %span 14/20 Narabang Way
        %br/
        Belrose 2085
        %br/
        NSW, Australia
        .toggles.btn-group
          %button.btn.active
            Users
          %button.btn
            Plans
          %button.btn
            Sessions
          %button.btn
            Reports
      .row-fluid
        .span12
          %ul.thumbnails
            %li.span6
              .well
                %h2 Bodog Olah
                %ul.unstyled
                  %li Group coordinator
                  %li Personal Assistant
                  %li 2342
                  %li
                    %a{:href => 'mailto:bodog@createur.com.au'}
                      bodog@createur.com.au
            %li.span6
              %ul.nav.nav-tabs#myTab
                %li
                  %a{:href => '#plans', :data => {:toggle => 'tab'}}
                    Plans
                %li
                  %a{:href => '#records', :data => {:toggle => 'tab'}}
                    Records
              .tab-content#myTabContent
                .tab-pane.active#plans
                  And there's no trash pickup until January 3rd. Actually, that's still true. Also Zoidberg. Of all the friends I've had&hellip; you're the first.
                .tab-pane#records
                  Second tab content
      .row-fluid
        .span12
          %section
            %header
              %h1 Program Description
      .row-fluid
        .span12
          %form.well.form-search
            .control-group
              .controls
                .input-append
                  %input.searchfield{:type => 'text'}
                  %input.btn.btn-info{:type => 'submit', :value => 'Search'}
      .row-fluid
        .span12
          .well
            .row-fluid
              .span12
                %h3 Fire Safety: The Principles
            .row-fluid
              %ul.thumbnails
                %li.span3
                  %a{:href => '#', :class => 'thumbnail'}
                    = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
                %li.span3
                  %span viewed 2 days ago
                  %span 12/12/2012
                %li.span2
                  %span.badge.badge-success Essentials
                  %span Passed
                %li.span2
                  %span.badge.badge-success Extension
                  %span Passed
                %li.span2
                  %span.badge.badge-default Evidence
                  %span Incomplete
      .row-fluid
        .span12
          .well
            .row-fluid
              .span12
                %h3 Fire Safety: The Principles
            .row-fluid
              %ul.thumbnails
                %li.span3
                  %a{:href => '#', :class => 'thumbnail'}
                    = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
                %li.span3
                  %span viewed 2 days ago
                  %span 12/12/2012
                %li.span2
                  %span.badge.badge-success Essentials
                  %span Passed
                %li.span2
                  %span.badge.badge-success Extension
                  %span Passed
                %li.span2
                  %span.badge.badge-default Evidence
                  %span Incomplete
    .span3
      %a.btn.btn-large.btn-info
        How can we help?
      %section
        %h1
          Contextual Help
        %p
          Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
        %h2
          Other Section
        %p
          Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by &quot;devil&quot;, I mean Robot Devil.  And by &quot;metaphorically&quot;, I mean get your coat.
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us