.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      .row-fluid
        .span12
          = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
          .page-title.pull-right
            %hgroup
              %h1
                Physio
              %h2
                View Learning Plan
      .row-fluid
        .span12
          .well
            .row-fluid
              .span3
                %span.label.label-important
                  %span 107
                  Days Overdue
              .span9
                %h4 Due date: 10/09/2012
                %ul.unstyled
                  %li 3 Programs still to be viewed
                  %li 1 Program already viewed
                %ul.unstyled
                  %li 3 Assessments to complete
      .row-fluid
        .span12
          .well
            %section
              %header
                %h1 Program Description
              %p Welcome to December's training for all staff. You are required to collect your workbooks from reception or download them from this site. Please hand in all completed workbooks to Bodog at the front desk.
      .row-fluid
        .span12
          %section
            %header
              %h2 Programs still to be viewed
      .row-fluid
        .span12
          .well
            .row-fluid
              .span12
                %h3 Infection Control: It's in your hands
            .row-fluid
              %ul.thumbnails
                %li.span3
                  %a{:href => '#', :class => 'thumbnail'}
                    = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
                %li.span3
                  %span viewed 2 days ago
                  %span 12/12/2012
                %li.span2
                  %span.badge.badge-success Essentials
                  %span Passed
                %li.span2
                  %span.badge.badge-success Extension
                  %span Passed
                %li.span2
                  %span.badge.badge-default Evidence
                  %span Incomplete
      .row-fluid
        .span12
          .well
            .row-fluid
              .span12
                %h3 Infection Control: It's in your hands
            .row-fluid
              %ul.thumbnails
                %li.span3
                  %a{:href => '#', :class => 'thumbnail'}
                    = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
                %li.span3
                  %span viewed 2 days ago
                  %span 12/12/2012
                %li.span2
                  %span.badge.badge-success Essentials
                  %span Passed
                %li.span2
                  %span.badge.badge-success Extension
                  %span Passed
                %li.span2
                  %span.badge.badge-default Evidence
                  %span Incomplete
      .row-fluid
        .span12
          %section
            %header
              %h2 Programs already viewed
      .row-fluid
        .span12
          .well
            .row-fluid
              .span12
                %h3 Infection Control: It's in your hands
            .row-fluid
              %ul.thumbnails
                %li.span3
                  %a{:href => '#', :class => 'thumbnail'}
                    = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
                %li.span3
                  %span viewed 2 days ago
                  %span 12/12/2012
                %li.span2
                  %span.badge.badge-success Essentials
                  %span Passed
                %li.span2
                  %span.badge.badge-success Extension
                  %span Passed
                %li.span2
                  %span.badge.badge-default Evidence
                  %span Incomplete
    .span3
      %a.btn.btn-large.btn-info
        How can we help?
      %section
        %h1
          Contextual Help
        %p
          Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
        %h2
          Other Section
        %p
          Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by &quot;devil&quot;, I mean Robot Devil.  And by &quot;metaphorically&quot;, I mean get your coat.
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us