.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
      .pull-right
        %h1 ACFI: Improving Your Documentation
        %span view program
      .row-fluid
        .span12
          %hr
      .row-fluid
        .span12
          .well
            .row-fluid
              .span9
                %a
                  = image_tag('program-vid.jpg', :alt => 'video')
              .span3
                %ul.unstyled
                  %li 45 minutes
                  %li Chronic Diseases and Conditions
                  %li Core
                  %li 01-080409
                  %li S1
      .row-fluid
        .span12
          %hr
          .row-fluid
            %ul.thumbnails
              %li.span2
                %span.badge (graphic)
                %span Essentials
                %span Pending
              %li.span2
                %span.badge (graphic)
                %span Extension
                %span Pending
              %li.span2
                %span.badge (graphic)
                %span Evidence
                %span Not Required
              %li.span6
                &nbsp;
      .row-fluid
        .span12
          %hr
          .row-fluid
            .span6
              %h3 Learning Resources
              .well
                %ul
                  %li
                    %a{:href => '#'} Accreditation: Your Role and Resposibilities Follow Up
                  %li
                    %a{:href => '#'} Accreditation: Your Role and Resposibilities Participant Workbook
            .span6
              %h3 Coordinator Resources
              .well
                %ul
                  %li
                    %a{:href => '#'} Accreditation: Your Role and Resposibilities Coordinator Pack
                  %li
                    %a{:href => '#'} Another link that might possibly span over 2 lines.
      .row-fluid
        .span12
          %hr
          %h1 Related Programs
          %hr
      .row-fluid
        .span4
          %h4 Walking into buildings wearing black
        .span4
          %h4 Cleaning Dentures
        .span4
          %h4 Holding Mouse Backwards. Angry.
      .row-fluid
        .span12
          %ul.thumbnails
            %li.span4
              .thumbnail
                %a{:href => ''}
                  = image_tag('program-thumb-01.jpg', :alt => 'thumbnail')
                  .caption
                    45 minutes
                %a.btn.btn-info.btn-wide
                  view program
            %li.span4
              .thumbnail
                %a{:href => ''}
                  = image_tag('program-thumb-02.jpg', :alt => 'thumbnail')
                  .caption
                    45 minutes
                %a.btn.btn-info.btn-wide
                  view program
            %li.span4
              .thumbnail
                %a{:href => ''}
                  = image_tag('program-thumb-03.jpg', :alt => 'thumbnail')
                  .caption
                    45 minutes
                %a.btn.btn-info.btn-wide
                  view program
    .span3
      %a.btn.btn-large.btn-info
        How can we help?
      %h2
        Learning Workbooks
      %p
        Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us