.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
      .pull-right
        %h1 Plan Name
        %span plan details
      .row-fluid
        .span12
          %hr
          .well
            .row-fluid
              .span2.thumbnail
                Due in 6 days
              .span10
                %ul.unstyled
                  %li Due Date: 20th Dec 2012
                  %li 3 programs pending
                  %li 1 program viewed
      .row-fluid
        .span12
          %hr
          %h2 Pending Programs
          %hr
          .well
            %h3 Infection Control: It's in your hands
            %span Not Viewed
            %hr
            %ul.thumbnails
              %li.span6
                %a{:href => '#', :class => 'thumbnail'}
                  = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
              %li.span2
                %span.badge (graphic)
                %span Essentials
                %span Pending
              %li.span2
                %span.badge (graphic)
                %span Extension
                %span Pending
              %li.span2
                %span.badge (graphic)
                %span Evidence
                %span Not Required
          .well
            %h3 Infection Control: It's in your hands
            %span Not Viewed
            %hr
            %ul.thumbnails
              %li.span6
                %a{:href => '#', :class => 'thumbnail'}
                  = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
              %li.span2
                %span.badge (graphic)
                %span Essentials
                %span Pending
              %li.span2
                %span.badge (graphic)
                %span Extension
                %span Pending
              %li.span2
                %span.badge (graphic)
                %span Evidence
                %span Not Required
          .well
            %h3 Infection Control: It's in your hands
            %span Not Viewed
            %hr
            %ul.thumbnails
              %li.span6
                %a{:href => '#', :class => 'thumbnail'}
                  = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
              %li.span2
                %span.badge (graphic)
                %span Essentials
                %span Pending
              %li.span2
                %span.badge (graphic)
                %span Extension
                %span Not Required
              %li.span2
                %span.badge (graphic)
                %span Evidence
                %span Not Required
          %hr
          %h2 Viewed Programs
          %hr
          .well
            %h3 Infection Control: It's in your hands
            %span viewed 2 days ago
            %hr
            %ul.thumbnails
              %li.span6
                %a{:href => '#', :class => 'thumbnail'}
                  = image_tag('http://placekitten.com/150/150', :alt => 'thumbnail')
              %li.span2
                %span.badge (graphic)
                %span Essentials
                %span Passed
              %li.span2
                %span.badge (graphic)
                %span Extension
                %span Failed
              %li.span2
                %span.badge (graphic)
                %span Evidence
                %span Ready
    .span3
      %a.btn.btn-large.btn-info
        How can we help?
      %section
        %h1
          Contextual Help
        %p
          Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
        %h2
          Other Section
        %p
          Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by &quot;devil&quot;, I mean Robot Devil.  And by &quot;metaphorically&quot;, I mean get your coat.
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us