- content_for :title do
  Change your password

= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :class => 'form-horizontal'} do |f|
  = devise_error_messages!
  = f.input :reset_password_token, as: :hidden
  = f.input :password, as: :password, label: "New password"
  = f.input :password_confirmation, as: :password, label: "Confirm your new password"
  = f.input :activation_code_set_at, as: :hidden, input_html: {value: nil}
  .form-actions
    = f.submit 'Change my password', class: 'btn btn-primary btn-large'
    = render :partial => "devise/shared/links"