- content_for :title do
  Forgot your password?

= simple_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => 'form-horizontal'} do |f|
  = devise_error_messages!
  = f.input :email
  .form-actions
    = f.submit 'Send me reset password instructions', class: 'btn btn-primary'
    = render :partial => "devise/shared/links"