%div{'data-ImagePreview' => true }
  %input{ :type => 'file', 'data-ImagePreview-ImageInput' => true }
  %input{ :type => 'checkbox', 'data-ImagePreview-RemoveImageInput' => true }

  %a{ href: '#', 'data-ImagePreview-DeleteAction' => true }
    Delete Image

  = image_tag 'logo.png', 'data-ImagePreview-Preview' => true, style: 'max-height: 10em'

