<p>Like form-horizontal but for tables.</p>
<table class="assessment table table-bordered table-horizontal">
  <tbody>
    <tr class="time_allowed">
      <th>Time Allowed (Minutes)</th>
      <td>60 minutes</td>
    </tr>
    <tr class="pass_mark">
      <th>Pass mark</th>
      <td>50%</td>
    </tr>
    <tr class="assessment_type">
      <th>Assessment type</th>
      <td>Essentials</td>
    </tr>
  </tbody>
</table>