= f.error_notification

.widget-box
  .widget-title
    %h5
      = resource.new_record? ? 'New' : 'Edit'
  .widget-content.nopadding
    = f.input :name
    = f.input :time_allowed
    = f.input :assessment_type, :as => :hidden
    = f.input :pass_mark

.widget-box.admin-outcomes
  .widget-title
    %h5 1. Learning Outcomes
  .widget-content
    .row-fluid
      #learning_outcomes.unstyled.learning-outcomes-nested-form
        = f.simple_fields_for :learning_outcomes, f.object.learning_outcomes do |child_form|
          = render "learning_outcome_fields", f: child_form
        .links
          = link_to_add_association "Add", f, :learning_outcomes, {class: 'btn btn-small btn-success' }

.widget-box.admin-outcomes
  .widget-title
    %h5 3. Question Type Allocation.
  .widget-content
    %h4 Questions to be asked
    %em Enter the number of questions to be asked for each question type. Enter '0' for sections where there are no questions to be asked.
    .row-fluid
      .span6.allocation-min
        = f.simple_fields_for :sections, f.object.sections.sort_by(&:name) do |child_form|
          = render 'section_fields', f: child_form

= f.button :submit, class: 'btn btn-large btn-success', value: "Save &amp; Continue &rarr;".html_safe
= f.button :submit, class: 'btn btn-large btn-success', value: t('program.assessment.activate'), disabled: resource.active? && ! resource.being_activated?, title: resource.active? && ! resource.being_activated? ? t('program.assessment.already_been_activated') : ''

