.nested-fields.nested-fields-as-table
  .nested-fields-as-table-cell
    = f.input :id, as: 'hidden'
    = f.input :description, as: 'string'
  .nested-fields-as-table-cell
    = render 'admin/shared/slider_with_input', f: f, attribute: 'allocation_percentage'
  .nested-fields-as-table-cell
    = link_to_remove_association "Remove", f
  
