.row-fluid
  .span6
    .widget-box.assessment-summary
      .widget-title
        %h4
          = learning_outcome.description
        %span.label.label-default
          &nbsp;
          = number_to_percentage_or_na(learning_outcome.allocation_percentage.to_f)

      = div_for learning_outcome, :class => 'accordion' do
        .accordion-group
          .widget-content

            = render partial: 'question_type_group_summary', collection: learning_outcome.question_type_groups, as: 'question_type_group'
