.widget-content
  .accordion-heading
    %a{:class => "accordion-toggle collapsed", :href => "##{dom_id(question_type_group)}", :data => {:toggle => "collapse", :parent => "##{dom_id(question_type_group.learning_outcome)}"}}
      %h4
        = question_type_group.question_class.question_type
        %span.down &darr;
        %span.up &uarr;

  = div_for(question_type_group, 'class' => 'accordion-body collapse') do
    .accordion-inner
      %table.table.table-bordered
        %tr
          %th
            = question_type_group.question_class.human_attribute_name(:question_id) # Question ID
          %th
            = question_type_group.question_class.human_attribute_name(:attempts_count) # Attempts
          %th
            = question_type_group.question_class.human_attribute_name(:successful_attempts_count) # Successful
          %th
            = question_type_group.question_class.human_attribute_name(:unsuccessful_attempts_count) # Unsuccessful
          %th
            = question_type_group.question_class.human_attribute_name(:pass_rate) # Pass Rate (%)

        = content_tag_for :tr, question_type_group.questions do |question|
          %td
            = link_to question.question_id, [:admin, question.section, question]
          %td
            = question.attempts_count
          %td
            = question.successful_attempts_count
          %td
            = question.unsuccessful_attempts_count
          %td
            = number_to_percentage_or_na(question.pass_rate * 100)
