= div_for(f.object) do
  = f.input :minimum_number_of_questions, as: 'numeric', input_html: { class: "input-mini" }, label: f.object.question_type
  = f.input :question_type, as: 'hidden'
  = f.input :name, as: 'hidden'
