= content_for :title do
  == Edit #{resource_class.model_name.human} -
  = resource.name

= content_for :contextual_menu do
  .btn-group
    = link_to url_for(action: 'show'), class: 'btn btn-large tip-bottom', title: "Show #{resource_class.model_name.human}" do
      %i.icon-play

.container-fluid
  .row-fluid
    .span12
      = simple_form_for resource, url: url_for(action: :update), method: :put, html: {class: 'form-horizontal'} do |f|
        = render 'form', f: f
