= content_for :title do
  == New #{resource_class.model_name.human}

= content_for :contextual_menu do
  .btn-group
    = link_to url_for(action: 'index'), class: 'btn btn-large tip-bottom', title: "Show #{resource_class.model_name.human.pluralize}" do
      %i.icon-play

.container-fluid
  .row-fluid
    .span12
      = simple_form_for resource, url: url_for(action: :create), html: {class: 'form-horizontal'} do |f|
        = render 'form', f: f

