= content_for :title do
  == #{resource.program.title} - #{resource.name}

= content_for :contextual_menu do
  .btn-group
    - if can? :update, resource_class
      = link_to url_for(action: 'edit'), class: 'btn btn-large tip-bottom', title: "Edit #{resource_class.model_name.human}" do
        %i.icon-pencil

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-horizontal.table-striped{class: resource_class.model_name.human.underscore}
      %tbody
        %tr.time_allowed
          %th= resource_class.human_attribute_name(:time_allowed)
          %td= pluralize(resource.time_allowed, 'minute')
        %tr.pass_mark
          %th= resource_class.human_attribute_name(:pass_mark)
          %td= number_to_percentage_or_na(resource.pass_mark)
        %tr.assessment_type
          %th= resource_class.human_attribute_name(:assessment_type)
          %td= resource.assessment_type
        %tr.average_time
          %th
            Average Time To Complete
          %td= pluralize(resource.average_complete_time, 'minute')
        %tr
          %th= resource_class.human_attribute_name(:status)
          %td= resource.status
        %tr
          %th= resource_class.human_attribute_name(:activated_at)
          %td #{resource.activated_at.to_s(:long_ordinal) if resource.activated_at} #{"by " + resource.activated_by.name if resource.activated_by}


.widget-box
  .widget-title
    %h5 Question Type Allocation
  .widget-content.nopadding
    %table.table.table-bordered.table-horizontal.table-striped{class: resource_class.model_name.human.underscore}
      %thead
        %th
          = resource_class::Section.human_attribute_name(:name)
        %th
          = resource_class::Section.human_attribute_name(:minimum_number_of_questions)
        %th
          = resource_class::Section.human_attribute_name(:total_questions)
        %th
          = resource_class::Section.human_attribute_name(:questions_ratio)
      %tbody
        = content_tag_for :tr, resource.sections.default_order do |section|
          %th
            = link_to section.name, url_for([:admin, section, section.question_class.model_name.route_key]), "data-questions-link" => section.question_class
          %td
            = section.minimum_number_of_questions
          %td
            = section.questions.count
          %td
            = number_to_percentage_or_na(section.question_ratio * 100)

%p
  The assessment summaries below have been grouped according to their learning outcomes.

= render partial: 'learning_outcome_summary', collection: resource.learning_outcomes, as: 'learning_outcome'
