%noscript#no-script.row-fluid
  .span12
    .login
      .logoblock
        = image_tag "logo.png"
      .box
        %section
          %header
            %p This browser does not have javascript enabled, you must enable javascript to use the ACC Online platform.