.image-preview{ 'data-ImagePreview' => true }
  .upload-options
    = f.input :reference_image, as: :file, input_html: {'data-ImagePreview-ImageInput' => true}, wrapper_html: { class: 'image-preview-image-input-control-group' }
    = f.input :remove_reference_image, as: :boolean, input_html: {'data-ImagePreview-RemoveImageInput' => true}, wrapper_html: { class: 'image-preview-remove-image-input-control-group' }
    %a.btn.btn-mini.btn-danger.pull-right{ href: '#', 'data-ImagePreview-DeleteAction' => true }
      Delete Image

  .image-preview-warning
    Uploading a new image will replace your existing image.

  - if f.object.reference_image
    = image_tag f.object.reference_image.thumb('539x302').url, 'data-ImagePreview-Preview' => true
  - else
    = image_tag 'http://placehold.it/539x302', 'data-ImagePreview-Preview' => true
