.control-group
  %label{:class => "checkbox-inline"}
    %input{:type => "checkbox", :value => "option1", role: "toggleImageHelper", checked: f.object.reference_image_uid.present?} Upload Image?

  %div{role: "imageHelper", style: display_image_fieldset(f.object)}
    = render 'admin/programs/assessments/sections/image_preview', f: f
    = f.input :image_caption, as: :text, input_html: { class: 'input-xxlarge', rows: 3 }

