first_name,last_name,email,born_at,gender,sign_in_count,last_sign_in_at
<% for employment in @employments %><%= [employment.first_name, employment.last_name, employment.email, employment.formatted_born_at, employment.gender, employment.sign_in_count, employment.current_sign_in_at].join(",") %>
<% end %>
