= content_for :title do
  Users

= content_for :contextual_menu do
  .btn-group
    = link_to admin_service_users_path(@service, format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Users' do
      %i.icon.icon-download

.alert.alert-info
  Please note a user must be created via a
  = link_to 'Service', admin_services_path

= render 'employments'

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Users', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white
