.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th Name
          %th Email
          %th Service
          %th Role
          %th Last logged in
          %th
      %tbody
        - @employments.each do |employment|
          %tr
            %td= link_to employment, admin_user_path(employment.user)
            %td= mail_to employment.email, employment.email
            %td= link_to employment.service, [:admin, employment.service]
            %td= employment.role.titleize
            %td= last_logged_in employment
            %td
              = link_to 'Show', admin_user_path(employment.user)
              - if can? :update, User
                |
                = link_to 'Edit', edit_admin_user_path(employment.user)
