= content_for :title do
  Job Titles

= content_for :contextual_menu do
  .btn-group
    - if can? :create, Group::JobTitle
      = link_to new_admin_group_job_title_path, class: 'btn btn-large tip-bottom', title: 'New Job Title' do
        %i.icon-plus
    = link_to admin_group_job_titles_path(format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Job Titles' do
      %i.icon-download

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th Name
          %th{width: 75}
      %tbody
        - for job_title in @job_titles
          %tr
            %td= link_to job_title, admin_group_job_title_path(@group, job_title)
            %td
              = link_to "Show", admin_group_job_title_path(@group, job_title) if can? :view, Group::JobTitle
              |
              = link_to 'Edit', edit_admin_group_job_title_path(@group, job_title) if can? :update, Group::JobTitle

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Job Titles', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white
