= content_for :title do
  New Job Title

= content_for :contextual_menu do
  .btn-group
    = link_to admin_group_job_titles_path, class: 'btn btn-large tip-bottom', title: 'Show Job Titles' do
      %i.icon-play

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    -# url must be specified because the url_helper breaks for namespaced routes/models
    = simple_form_for @job_title, url: admin_group_job_titles_path(@group), html: {class: 'form-horizontal'} do |f|
      = render partial: 'form_fields', locals: {f: f}
