// Accordion overrides

.accordion {
  margin-bottom: 0;
}

.accordion-group {
  margin-bottom: 0;
  .widget-content {
    padding: 0;
  }
}

.accordion-heading {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  border-radius: 0;
}


.accordion-toggle {
  h4 {
    position: relative;
    .up {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    .down {
      display: none;
    }
  }
  &.collapsed {
    .down {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    .up {
      display: none;
    }
  }
}

.accordion-inner {
  padding: 0;
  .table {
    border-radius: 0;
    margin-bottom: 0;
  }
}
