.assessment-summary {
  .widget-title {
    position: relative;
    h4 {
      margin-left: 20px;
      line-height: 35px;
      width: 75%;
      height: 34px; //Truncate with CSS
      overflow: hidden;
    }
    .label {
      position: absolute;
    }
    .label {
      margin: 0;
      right: 15px;
      top: 9px;
    }
  }
  .widget-content {
    h4 {
      color: #999;
      text-shadow: 0 1px 0 #fff;
      font-weight: 300;
    }
  }
  table {
    td {
      text-align: center;
    }
  }
}
