@import "compass/css3";

ul.drag_and_drop {
  padding: 5px;
  margin: 10px;
  background: #E5E5E5;
  border: 1px solid #D6D6D6;
  width: 460px;
  float: left;
  min-height: 80px;
  list-style: none;
  li {
    float: left;
    margin: 5px;
    width: 218px;
    height: 80px;
    background: #fff;
    border: 1px solid #D6D6D6;
    img {
      padding: 5px;
      float: left;
    }
    p {
      font-weight: bold;
      padding: 5px;
    }
  }
}