@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/text-shadow";

$default-text-shadow-color: rgba(black, 0.6);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: -1px;
$lightblue : #00a2e5;
$darkblue  : #005fa6;

@mixin fancy-button-base {
  color: #fff;    
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 7px 25px;
  @include single-text-shadow;
  @include border-radius(4px);
}

@mixin fancy-button-green {
  @include fancy-button-base;
  border: solid 1px #226827;
  @include background-with-css2-fallback(linear-gradient(top, #65cc33, #009900),
                      image-url(image_path("green-bg.png")));
}

@mixin fancy-button-blue {
  @include fancy-button-base;
  border: solid 1px #1b4269;
  @include background-with-css2-fallback(linear-gradient(top, $lightblue, $darkblue),
                      image-url(image_path("blue-bg.png")));
}

@mixin fancy-button-red {
  @include fancy-button-base;
  border: solid 1px #aa0000;
  @include background-with-css2-fallback(linear-gradient(top, #ff3334, #cc0000),
                      image-url(image_path("red-bg.png")));
}