.fill-gap-preview {
  .fill-gap-preview-instructions {
    font-style: italic;
    color: #555555;
  }

  .fill-gap-preview-box {
    border: 0.5em solid $blue_d9;
    margin-bottom: 1em;
    padding: 1em;
  }

  .fill-gap-preview-box-title {
    color: black;
    border-bottom: thin solid $gray_ee;
    margin-bottom: 1em;
    padding-bottom: 1em;
    text-transform: capitalize;
  }

  ul.fill-gap-preview-box-answers {
    li {
      background-color: $blue_d9;
      border: thin solid $blue_bc;
      display: inline-block;
      padding: 0.5em 1em;
    }
  }

  .fill-gap-preview-question {
    line-height: 2em;

    .fill-gap-preview-question-answer {
      background-color: $yellow_fc;
      border: thin solid $yellow_fb;
      padding: 0.5em;
    }
  }
}