.form-single-column {
  label.checkbox {
    font-weight: bold;
  }

  label.radio {
    display: block;
    margin-bottom: 9px;
  }

  .control-label {
    font-weight: bold;
  }

  .well {
    margin-left: 0
  }
}
