.image-preview {
  .image-preview-image-input-control-group {
    display: inline-block;
    
    .control-label {
      display: none
    }
  }

  .image-preview-warning {
    font-weight: bold;
  }

  .image-preview-remove-image-input-control-group {
    display: none
  }
}
  
  