@font-face {
  font-family: 'ACC';
  src:url('/assets/ACC.eot');
  src:url('/assets/ACC.eot?#iefix') format('embedded-opentype'),
    url('/assets/ACC.svg#ACC') format('svg'),
    url('/assets/ACC.woff') format('woff'),
    url('/assets/ACC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'ACC';
  font-style: normal;
  speak: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.icon-barcode2:before {
  content: "\63";
}
.icon-home:before {
  content: "\48";
}
.icon-users:before {
  content: "\6d";
}
.icon-user:before {
  content: "\55";
}
.icon-contact:before {
  content: "\41";
}
.icon-plus:before {
  content: "\2b";
}
.icon-file-download:before {
  content: "\44";
}
.icon-checkbox:before {
  content: "\74";
}
.icon-checkmark:before {
  content: "\54";
}
.icon-bookmark:before {
  content: "\49";
}
.icon-board:before {
  content: "\4a";
}
.icon-hash:before {
  content: "\68";
}
.icon-cog:before {
  content: "\4f";
}
.icon-locked:before {
  content: "\70";
}
.icon-calendar:before {
  content: "\64";
}
.icon-drawer:before {
  content: "\6c";
}
.icon-search:before {
  content: "\53";
}
.icon-download:before {
  content: "\35";
}
.icon-clock:before {
  content: "\43";
}
.icon-play:before {
  content: "\46";
}
.icon-movie:before {
  content: "\59";
}
.icon-film:before {
  content: "\6f";
}
.icon-bars:before {
  content: "\42";
}
.icon-list:before {
  content: "\4c";
}
.icon-mail:before {
  content: "\4d";
}
.icon-pencil:before {
  content: "\65";
}
.icon-export:before {
  content: "\56";
}
.icon-meter:before {
  content: "\73";
}
.icon-card:before {
  content: "\6a";
}
.icon-grid-view:before {
  content: "\4b";
}
.icon-refresh:before {
  content: "\52";
}
.icon-switch:before {
  content: "\32";
}
.icon-import-users:before {
  content: "\24";
}
.icon-learning-resources:before {
  content: "\50";
}
.icon-excel-data-dump:before {
  content: "\58";
}
.icon-disable-service:before {
  content: "\27";
}
.icon-delete-service:before {
  content: "\21";
}
.icon-new-service:before {
  content: "\22";
}
.icon-new-learning-resource:before {
  content: "\72";
}
.icon-new-program:before {
  content: "\2a";
}
.icon-delete-program:before {
  content: "\2c";
}
.icon-edit-program:before {
  content: "\2d";
}
.icon-new-program-category:before {
  content: "\2e";
}
.icon-delete-program-category:before {
  content: "\2f";
}
.icon-edit-program-category:before {
  content: "\30";
}
.icon-delete-user:before {
  content: "\31";
}
.icon-edit-user:before {
  content: "\34";
}
.icon-new-group:before {
  content: "\36";
}
.icon-edit-group:before {
  content: "\37";
}
.icon-bolt:before {
  content: "\38";
}
.icon-plus-2:before {
  content: "\39";
}
.icon-admins:before {
  content: "\23";
}
.icon-delete-job-category:before {
  content: "\3a";
}
.icon-edit-job-category:before {
  content: "\3b";
}
.icon-new-job-category:before {
  content: "\3c";
}
.icon-delete-group:before {
  content: "\3d";
}
.icon-disable-group:before {
  content: "\3e";
}
.icon-edit-service:before {
  content: "\3f";
}
.icon-cancel:before {
  content: "\33";
}
.icon-groups:before {
  content: "\47";
}
.icon-minus:before {
  content: "\67";
}
