/* Makes Bootstrap v2.0.4 .pagination compatible with will_paginate 3.0.4. */

.pagination {
  em, span {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
  }

  em, span.disabled {
    color: #999999;
    cursor: default;
    background-color: transparent;
  }
}
