.slider-with-input {
  .slider-with-input-cell {
    display: table-cell;
    padding-right: 2em;
    width: 100%;
    vertical-align: text-bottom;
  }

  .slider-with-input-container {
    display: table;
  }
  
  span.slider-with-input-percent-symbol {
    width: 2em;
  }
  
  .slider-with-input-value {
    white-space: nowrap;

    input {
      display: inline;
      width: 4em;
    }
  }
}