.table-padded {
  &.mc,
  &.table-sequence {
    td {
      text-align: left;
      li {
        margin: 10px 0;
      }
    }
  }

  th {
    padding: 20px;
    font-size: 14px;
  }

  td {
    padding: 20px;
    text-align: center;
    &.question {
      text-align: left;
    }
  }
}
