.table-with-centered-content {
  input {
    margin-bottom: 0;
  }

  .table-with-centered-content-content {
    text-align: center;
    vertical-align: middle;
  }
  
  td, th {
    @extend .table-with-centered-content-content;
  }

  &.table-nested-form th {
    @extend .table-with-centered-content-content;
  }
}