// admin/style_guides/table-horizontal
.table-horizontal {
  th {
    text-align: left;
  }

  // http://stackoverflow.com/questions/8465385/how-can-i-set-the-max-width-of-a-table-cell-using-percentages
  th:first-child {
    width: 25%;
  }
}