.table-with-row-numbers {
  counter-reset: line-number;
  
  td.table-with-row-numbers-line-number-cell:before {
    content: counter(line-number) ".";
  }

  td.table-with-row-numbers-alpha-line-number-cell:before {
    content: counter(line-number, upper-alpha) ".";
  }

  tbody {
    tr {
      counter-increment: line-number;
    }
  }
}