.table-sortable-lookalike {
  border-collapse: separate;
  border-spacing: 1em;
  width: 100%;

  td {
    padding: 1em;
  }

  td.table-sortable-lookalike-match-left {
    background: #fcf8e3;
    border: thin solid #fbeed5;
  }
  
  td.table-sortable-lookalike-match-right {
    background: #d9edf7;
    border: thin solid #bce8f1;
  }
}