@import "compass/css3/border-radius";

.widesearch {
  border: 1px solid #999;
  background-color: #eee;
  padding: 10px;
  margin-bottom: 20px;
  @include border-radius(5px);
  position: relative;
  .input-append {
    width: 100%;
    .searchfield {
      width: 95%;
      z-index: 1;
    }
    .btn {
      position: absolute;
      right: 10px;
      z-index: 2;
    }
  }
}
