= simple_form_for [:admin, @admin], html: {class: 'form-horizontal'} do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email, as: :email
  = f.input :role, as: :radio_buttons, collection: @roles if can? :manage, Admin
  .form-actions
    = f.button :submit, class: 'btn btn-primary'