= content_for :title do
  Edit Admin -
  = @admin.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_admin_path(@admin), class: 'btn btn-large tip-bottom', title: 'Show Admin' do
      %i.icon-admins
    = link_to admin_admins_path, class: 'btn btn-large tip-bottom', title: 'Show Admins' do
      %i.icon-bolt

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    = render partial: 'form'