= content_for :title do
  Admins

= content_for :contextual_menu do
  .btn-group
    - if can? :create, Admin
      = link_to new_admin_admin_path, class: 'btn btn-large tip-bottom', title: 'New Admin' do
        %i.icon-plus
    = link_to admin_admins_path(format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Admins' do
      %i.icon-download

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th= Admin.human_attribute_name(:name)
          %th= Admin.human_attribute_name(:email)
          %th= Admin.human_attribute_name(:last_updated_by)
          %th= Admin.human_attribute_name(:last_logged_in)
          %th
      %tbody
        - for admin in @admins
          %tr
            %td= link_to admin, admin_admin_path(admin)
            %td= mail_to admin.email, admin.email
            %td= render 'last_updated_by', admin: admin
            %td= last_logged_in(admin)
            %td
              = link_to 'Show', admin_admin_path(admin) if can? :view, Admin
              |
              = link_to 'Edit', edit_admin_admin_path(admin) if can? :manage, Admin

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Admins', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white