first_name,last_name,email,sign_in_count,last_sign_in_at
<% for admin in @admins %><%= [admin.first_name, admin.last_name, admin.email, admin.sign_in_count, admin.current_sign_in_at].join(",") %>
<% end %>