= content_for :title do
  New Admin

= content_for :contextual_menu do
  .btn-group
    = link_to admin_admins_path, class: 'btn btn-large tip-bottom', title: 'Show Admins' do
      %i.icon-bolt

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    = render partial: 'form'