= content_for :title do
  Admin -
  = @admin.name

= content_for :contextual_menu do
  .btn-group
    - if can? :update, Admin
      = link_to edit_admin_admin_path(@admin), class: 'btn btn-large tip-bottom', title: 'Edit Admin' do
        %i.icon-pencil
    - if can? :destroy, Admin
      = link_to admin_admin_path(@admin), method: :delete, class: 'btn btn-large btn-danger tip-bottom', title: 'Delete Admin', confirm: "Are you sure you want to DELETE the admin #{@admin.name}? This action cannot be undone." do
        %i.icon-minus

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td= Admin.human_attribute_name(:name)
          %td= @admin.name
        %tr
          %td= Admin.human_attribute_name(:email)
          %td= mail_to @admin.email, @admin.email
        %tr
          %td= Admin.human_attribute_name(:role)
          %td= @admin.role.titleize
        %tr
          %td= Admin.human_attribute_name(:last_updated_by)
          %td= render 'last_updated_by', admin: @admin
        %tr
          %td= Admin.human_attribute_name(:last_logged_in)
          %td= last_logged_in(@admin)
        %tr
          %td Created At
          %td #{@admin.created_at.to_s(:long_ordinal)} by #{@admin.name}
        %tr
          %td Updated At
          %td #{@admin.updated_at.to_s(:long_ordinal)} by #{@admin.name}