= u.input :program_id, as: :hidden
= u.input :selected, as: :boolean, label: program.title, input_html: {class: "selected", checked: !u.object.new_record? }
= u.input :position, as: :hidden, input_html: {class: "position"}
= u.input :_destroy, as: :hidden, input_html: {class: "destroy"}