= content_for :title do
  Edit Program List -
  = @package.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_package_path(@package), class: 'btn btn-large tip-bottom', title: 'Show Package' do
      %i.icon-grid-view

.widget-box
  .widget-title
    %h5 Edit
  .widget-content
    = simple_form_for [:admin, @package, @package_program], html: {class: 'form-hozirontal'} do |f|
      %p.notice Programs are automatically divided by the main program based on if they are an introduction or a closer
      %fieldset
        %legend Introductions
        - for program in Program.introductions
          = f.simple_fields_for :program_lists, build_or_load_package_package_programs(@package_program, program) do |u|
            = render partial: "form_playlist", locals: {u: u, program: program}

      %fieldset
        %legend Closers
        - for program in Program.closers
          = f.simple_fields_for :program_lists, build_or_load_package_package_programs(@package_program, program) do |u|
            = render partial: "form_playlist", locals: {u: u, program: program}

      .form-actions
        = f.submit "Update Package Program", id: "program_package_submit", class: 'btn btn-primary'