%li.record.record-split{"data-id": @id}
  %ul.inline.unstyled
    %li
      %h3= @name
  %ul.inline.unstyled.actions
    %li
      %a.btn.btn-flat.btn-small.btn-warning{role: "edit", 'data-id': @id}
        %span.text
          Edit
    %li
      %a.btn.btn-flat.btn-small.btn-danger{role: "remove-job", "data-id": @id}
        %span.text
          Remove
%li.record.record-split.edit{"data-id": @id}
  %form.form-vertical{role: "update_job"}
    %ul.inline.unstyled
      %li
        %fieldset
          %label{for: "name"} Name
          %input{name: "name", :type => 'text', :value => @name, required: "required"}
    %ul.inline.unstyled.actions
      %li
        %input.btn.btn-flat.btn-small.btn-success{:type => 'submit', :value => 'Update'}
      %li
        %a.btn.btn-flat.btn-small.btn-danger{role: "cancel", 'data-id': @id}
          Cancel