.wrapper
  .clearfix#mainheader
    %img{src: @accLogo, class: 'hidden-phone pull-left logo', alt: 'ACC Logo'}
    #welcome.welcome.content
      %section
        %h1= @name
        %h2 Group Coordinator
    #nav.toggles.btn-group.pull-right
      %a.btn.btn-3d.active{href: "/coordinator/groups/#{@id}/coordinators"}
        Coordinators
      %a.btn.btn-3d{href: "/coordinator/groups/#{@id}/job-titles"}
        Jobs
      %a.btn.btn-3d{href: "/coordinator/groups/#{@id}/reports"}
        Reports
  #groupWrapper
