- content_for :title do
  Sign In

.notices{style: 'padding: 5px'}
  .alert.alert-info
    Having difficulties logging in? Checkout our
    = link_to 'Support Page', 'http://support.acctv.co/entries/21110623-difficulties-logging-in'
    for some tips.

= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'} do |f|
  = f.input :email, :required => false, :autofocus => true
  = f.input :password, :required => false
  = f.input :remember_me, :as => :boolean

  .form-actions
    = f.button :submit, 'Sign in', :class => 'btn-primary btn-large'
    = link_to 'Forgotten your Password?', new_password_path(resource_name), class: 'btn'