.widget-box
  .widget-title
    - if f.object.new_record?
      %h5 Create your question below
    - else
      %h5 Edit your question below
  .widget-content
    = f.input :learning_outcome_id, collection: f.object.possible_learning_outcomes, input_html: { class: 'input-xxlarge' }
    = f.input :question, input_html: { class: 'input-xxlarge', rows: 6 }

    = render 'admin/programs/assessments/sections/toggleable_reference_image', f: f

    .row-fluid
      .span4
        %h5
          = child_class.model_name.human.pluralize

        %table#answers.table.table-bordered.add-value.table-nested-form{ 'data-cocoon' => true }
          %thead
            %tr
              %th{:colspan => "3"}
                Select Correct Answer:
          %tbody
            = f.simple_fields_for :answers, f.object.answers do |child_form|
              = render "answer_fields", :f => child_form
          %tfoot
            %td.links{:colspan => "3"}
              = link_to_add_association "Add Option", f, :answers, :class => "btn btn-success pull-right",'data-association-insertion-node' => 'table#answers tbody', 'data-association-insertion-method' => 'append'

= f.button :submit, class: 'btn btn-large btn-success', value: "Save"
= f.button :submit, t(:save_and_add_another_question), :class => 'btn btn-large btn-primary' if resource.new_record?
