= content_for :title do
  == #{resource_class.model_name.human} - #{resource.name}

= content_for :contextual_menu do
  .btn-group
    - if can? :update, resource_class
      = link_to url_for(action: 'edit'), class: 'btn btn-large tip-bottom', title: "Edit #{resource_class.model_name.human}" do
        %i.icon-pencil
    - if can? :destroy, resource_class
      = link_to [:admin, parent, resource], method: :delete, class: 'btn btn-large btn-danger tip-bottom', title: "Delete #{resource_class.model_name.human}", confirm: "Are you sure you want to DELETE the #{resource_class.model_name.human.downcase} #{resource.name}? This action cannot be undone." do
        %i.icon-minus

.row-fluid
  = div_for(resource, class: 'span6') do
    %table.table.table-bordered.table-padded
      %tr
        %th
          = resource_class.human_attribute_name(:question_id)
        %th
          = resource_class.human_attribute_name(:attempts_count)
        %th
          = resource_class.human_attribute_name(:successful_attempts_count)
        %th
          = resource_class.human_attribute_name(:unsuccessful_attempts_count)
        %th
          = resource_class.human_attribute_name(:pass_rate)
      %tr
        %td
          = resource.question_id
        %td
          = resource.attempts_count
        %td
          = resource.successful_attempts_count
        %td
          = resource.unsuccessful_attempts_count
        %td
          = number_to_percentage_or_na(resource.pass_rate * 100)

    %table.table.table-bordered.table-padded
      %tr
        %th
          = resource_class.human_attribute_name(:learning_outcome_id)
      %tr
        %td
          = resource.learning_outcome.description

    %table.table.table-bordered.table-padded
      %tr
        %th{:colspan => "5"}
          = resource_class.human_attribute_name(:question)
      %tr
        %td{:colspan => "5"}
          = resource.question

    %table.table.table-bordered.table-padded.mc
      %tr
        %th{:colspan => "5"}
          = resource_class.human_attribute_name(:answer)
      %tr
        %td{:colspan => "5"}
          %ul
            - resource.answers.each do |answer|
              %li{ class: ! answer.correct? && 'muted' }
                = answer.answer

    %table.table.table-bordered.table-padded.reference_image
      %tr
        %th{:colspan => "5"}
          = resource_class.human_attribute_name(:reference_image)
      %tr
        %td{:colspan => "5"}
          = image_tag(resource.reference_image.url) if resource.reference_image

    = link_to 'Edit', edit_polymorphic_url([:admin, resource.section, resource]), class: "btn btn-primary pull-right"

