.container
  .row-fluid
    .span12
      .login
        .logoblock
          = image_tag('acc-logo.png', :alt => 'ACC Logo')
        .box
          %section
            %header
              %h1
                Sign In
            %form
              .control-group
                %label.control-label
                  Email
                .controls
                  %input{:type => 'text'}
              .control-group
                %label.control-label
                  Password
                .controls
                  %input{:type => 'password'}
              .control-group.submit
                .controls
                  %input.btn.btn-success{:type => 'submit', :value => 'Sign In'}
              %a
                Forgot Password
            %hr
              %p
                Don't have an account?
              %a
                Register        