.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            #welcome.content
              %section
                %h1
                  The Thomas Sinclair Group
                %h2 Group Coordinator
            .toggles.btn-group.pull-right
              %button.btn.btn-3d.active
                Job Categories
              %button.btn.btn-3d
                Reports
          .row-fluid
            .span12
              .contentblock
                %section
                  %header
                    %h1.pull-left Job Categories
                    %p.pull-right
                      %a.btn.btn-success{:href => ''}
                        %span.icon.prepend
                          +
                        New Job Category
          .row-fluid
            .span12
              #search
                %form
                  .widesearch
                    .control-group
                      .controls
                        .input-append
                          %input.searchfield{:type => 'text'}
                          %input.btn.btn-info{:type => 'submit', :value => 'Search'}
              %ul.box.unstyled.records
                %li.record.record-split
                  %ul.inline.unstyled
                    %li
                      %h3 Assistant in Nursing
                      %p Parent: Care Staff
                  %ul.inline.unstyled.actions
                    %li
                      %a.btn.btn-flat.btn-small.btn-warning
                        %span.text
                          Edit
                    %li
                      %a.btn.btn-flat.btn-small.btn-danger
                        %span.text
                          Remove
                %li.record.record-split
                  %ul.inline.unstyled
                    %li
                      %h3 Assistant in Nursing
                      %p Parent: Care Staff
                  %ul.inline.unstyled.actions
                    %li
                      %a.btn.btn-flat.btn-small.btn-warning
                        %span.text
                          Edit
                    %li
                      %a.btn.btn-flat.btn-small.btn-danger
                        %span.text
                          Remove
                %li.record.record-split
                  %ul.inline.unstyled
                    %li
                      %h3 Assistant in Nursing
                      %p Parent: Care Staff
                  %ul.inline.unstyled.actions
                    %li
                      %a.btn.btn-flat.btn-small.btn-warning
                        %span.text
                          Edit
                    %li
                      %a.btn.btn-flat.btn-small.btn-danger
                        %span.text
                          Remove
              %ul.box.unstyled.records
                %li.record.record-split
                  %form.form-vertical
                    %ul.inline.unstyled
                      %li
                        %fieldset
                          %input{:type => 'text', :value => 'Assistant in Nursing'}
                          %br
                          %select
                            %option{:value => ''}
                              Care Staff
                    %ul.inline.unstyled.actions
                      %li
                        %input.btn.btn-flat.btn-small.btn-success{:type => 'submit', :value => 'Update'}
                      %li
                        %a.btn.btn-flat.btn-small.btn-danger
                          Cancel
                %li.record.record-split
                  %form.form-vertical
                    %ul.inline.unstyled
                      %li
                        %fieldset
                          %input{:type => 'text', :value => 'Assistant in Nursing'}
                          %br
                          %select
                            %option{:value => ''}
                              Care Staff
                    %ul.inline.unstyled.actions
                      %li
                        %input.btn.btn-flat.btn-small.btn-success{:type => 'submit', :value => 'Update'}
                      %li
                        %a.btn.btn-flat.btn-small.btn-danger
                          Cancel
                %li.record.record-split
                  %form.form-vertical
                    %ul.inline.unstyled
                      %li
                        %fieldset
                          %input{:type => 'text', :value => 'Assistant in Nursing'}
                          %br
                          %select
                            %option{:value => ''}
                              Care Staff
                    %ul.inline.unstyled.actions
                      %li
                        %input.btn.btn-flat.btn-small.btn-success{:type => 'submit', :value => 'Update'}
                      %li
                        %a.btn.btn-flat.btn-small.btn-danger
                          Cancel
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us