.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      .header-block
        = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
        .pull-right
          .page-title
            %h1 Service Name
            %span Service Management
          .toggles.btn-group
            %button.btn
              Users
            %button.btn
              Plans
            %button.btn
              Sessions
            %button.btn.active
              Assess
            %button.btn
              Reports
      .row-fluid
        .span12
          %h2 Manage Program Assessments
          %form.well.form-search
            .control-group
              .controls
                .input-append
                  %input.searchfield{:type => 'text'}
                  %input.btn.btn-info{:type => 'submit', :value => 'Search'}
          .assessment-criteria
            %table.table.table-bordered
              %thead
                %tr
                  %th Programs / Assessment Criteria
                  %th
                    %label.checkbox
                    %input{:id => 'optionsCheckbox2', :value => 'option1', :type => 'checkbox', :checked => 'true', :disabled => 'true'} Essentials
                  %th
                    %label.checkbox
                    %input{:type => 'checkbox'} Extension
                  %th
                    %label.checkbox
                    %input{:type => 'checkbox'} Evidence
              %tbody
                %tr
                  %td{:colspan => '4'} &nbsp;
                %tr
                  %th
                    %strong Fire Safety
                  %td
                    %input{:id => 'optionsCheckbox2', :value => 'option1', :type => 'checkbox', :checked => 'true', :disabled => 'true'}
                  %td
                    %input{:type => 'checkbox'}
                  %td
                    %input{:type => 'checkbox'}
                %tr
                  %th
                    %strong Infection Control
                  %td
                    %input{:id => 'optionsCheckbox2', :value => 'option1', :type => 'checkbox', :checked => 'true', :disabled => 'true'}
                  %td
                    %input{:type => 'checkbox', :checked => 'true'}
                  %td
                    %input{:type => 'checkbox'}
                %tr
                  %th
                    %strong Dementia: Meaningful Activities this is a longer title that wraps over 2 lines
                  %td
                    %input{:id => 'optionsCheckbox2', :value => 'option1', :type => 'checkbox', :checked => 'true', :disabled => 'true'}
                  %td
                    %input{:type => 'checkbox', :checked => 'true'}
                  %td
                    %input{:type => 'checkbox'}
                %tr
                  %th
                    %strong OHS: Safe Lifting
                  %td
                    %input{:id => 'optionsCheckbox2', :value => 'option1', :type => 'checkbox', :checked => 'true', :disabled => 'true'}
                  %td
                    %input{:type => 'checkbox'}
                  %td
                    %input{:type => 'checkbox', :checked => 'true'}
                %tr
                  %th
                    %strong Diabetes
                  %td
                    %input{:id => 'optionsCheckbox2', :value => 'option1', :type => 'checkbox', :checked => 'true', :disabled => 'true'}
                  %td
                    %input{:type => 'checkbox'}
                  %td
                    %input{:type => 'checkbox'}
    .span3
      #sidebar
        %a.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by &quot;devil&quot;, I mean Robot Devil.  And by &quot;metaphorically&quot;, I mean get your coat.
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us