.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        %form.form-content
          .wrapper
            .clearfix#mainheader
              = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
              #welcome.content
                %section
                  %h1
                    Bricknell Manor
                  %h2
                    14/20 Narabang Way
                    %br
                    Belrose 2085
                    %br
                    NSW, Australia
              .toggles.btn-group.pull-right
                %button.btn.btn-3d
                  Users
                %button.btn.btn-3d
                  Jobs
                %button.btn.btn-3d
                  Plans
                %button.btn.btn-3d.active
                  Sessions
                %button.btn.btn-3d
                  Reports
            .row-fluid
              .span12
                .contentblock
                  %section
                    %header
                      %h1.pull-left
                        Group Sessions : New Group Session
            .row-fluid
              .span12
                .alert.alert-error
                  ERROR: There were errors while trying to create a group session. Please check issues below.
            .row-fluid
              .span12
                .contentblock
                  %section
                    %header
                      %h1.pull-left
                        1. Choose Program
              #programsearch
                .row-fluid
                  .span12
                    %form
                      .widesearch
                        .control-group
                          .controls
                            .input-append
                              %input.searchfield{:type => 'text', :value => 'Search for programs'}
                              %input.btn.btn-info{:type => 'submit', :value => 'Search'}
            .row-fluid
              .span12
                .box
                  .manager
                    .row-fluid
                      .span12
                        .alert.alert-error
                          ERROR: You must select a program
                        %h2 Search Results
                        %ul.results.results-programs.unstyled
                          %li.item Assessment: Cornell Scale for Depression in Dementia
                          %li.item Assessment: Head to Toe
                          %li.item Assessment &amp; Management: Oral Hygiene
                          %li.item Assessment: Cornell Scale for Depression in Dementia
                          %li.item.selected Assessment: Head to Toe
                          %li.item Assessment &amp; Management: Oral Hygiene
                          %li.item Assessment: Cornell Scale for Depression in Dementia
                          %li.item Assessment: Head to Toe
                          %li.item Assessment &amp; Management: Oral Hygiene
                          %li.item Program: Cornell Scale for Depression in Dementia
                          %li.item Program: Head to Toe
                          %li.item Assessment &amp; Management: Oral Hygiene
            .row-fluid
              .span12
                .contentblock
                  %section
                    %header
                      %h1.pull-left
                        2. Learning Records
            .row-fluid
              .span12
                .box
                  %form.form-vertical.add-input
                    .row-fluid
                      .span12
                        %h3 Program Name: <span>Assessment: Head to Toe</span>
                    .row-fluid
                      .span12
                        .alert.alert-error
                          ERROR: You must enter a date and time in the past
                    .row-fluid
                      .span6
                        %label
                          Date
                        %input.span12{:type => 'text', :placeholder => 'Date'}
                      .span6
                        %label
                          Time
                        %select.timefield
                          %option{:value => ''} HH:MM AMPM
            .row-fluid
              .span12
                .box
                  %form.add-input
                    .row-fluid
                      .span12
                        .alert.alert-error
                          ERROR: You must choose to add a record for a PROGRAM, an ASSESSMENT, or BOTH
                    .row-fluid
                      .span6
                        %label.checkbox
                          %input{:type => 'checkbox', :checked => 'true'}
                            Add program record?
                      .span6
                        %label.checkbox
                          %input{:type => 'checkbox'}
                            Add assessment record?
                    %hr
                    .row-fluid
                      .span6
                        %h3 Select Medium
                        .controls
                          %label.radio
                            %input{:type => 'radio', :name => 'radio', :value => 'Online'}
                              Online
                          %label.radio
                            %input{:type => 'radio', :name => 'radio', :value => 'DVD'}
                              DVD
                          %label.radio
                            %input{:type => 'radio', :name => 'radio', :value => 'Satellite'}
                              Satellite
                      .span6
                        .alert.alert-error
                          ERROR: You must choose AT LEAST ONE ASSESSMENT TYPE
                        %h3.disabled Select Assessment Type
                        %label.checkbox.muted
                          Essentials
                          %input{:type => 'checkbox', :disabled => 'true'}
                        %label.checkbox.muted
                          Assessment
                          %input{:type => 'checkbox', :disabled => 'true'}
                        %label.checkbox.muted
                          Evidence
                          %input{:type => 'checkbox', :disabled => 'true'}
            .row-fluid
              .span12
                .contentblock
                  %section
                    %header
                      %h1.pull-left
                        3. Manage Users
              #programsearch
                .row-fluid
                  .span12
                    %form
                      .widesearch
                        .control-group
                          .controls
                            .input-append
                              %input.searchfield{:type => 'text', :value => 'staff'}
                              %input.btn.btn-info{:type => 'submit', :value => 'Search'}
            .row-fluid
              .span12
                .box
                  .manager
                    .row-fluid
                      .span12
                        .alert.alert-error
                          ERROR: You must choose AT LEAST ONE USER
                    .row-fluid
                      .span5
                        %h2 Search Results
                        %ul.results.results-programs.unstyled
                          %li.item.role
                            %span.icon G
                            Job Title: Staff
                            %span.label.label-info.pull-right 3 Users
                          %li.item.user.inactive.selected
                            %span.icon U
                            Bodog Olah
                          %li.item.user.active
                            %span.icon U
                            Grant Ricker
                          %li.item.user.active
                            %span.icon U
                            Thomas Sinclair
                          %li.item.role.selected
                            %span.icon G
                            Job Title: Nurses
                            %span.label.label-info.pull-right 3 Users
                          %li.item.user.inactive.selected
                            %span.icon U
                            Bodog Olah
                          %li.item.user.active
                            %span.icon U
                            Grant Ricker
                          %li.item.user.active
                            %span.icon U
                            Thomas Sinclair
                          %li.item.role.role-jobtitle.inactive
                            %span.icon G
                            Job Title: Care Workers
                            %span.label.label-info.pull-right 3 Users
                          %li.item.user.inactive
                            %span.icon U
                            Bodog Olah
                          %li.item.user.active
                            %span.icon U
                            Grant Ricker
                          %li.item.user.active
                            %span.icon U
                            Thomas Sinclair
                      .span2
                        .actions
                          %a.btn.btn-success Add &raquo;
                          %a.btn.btn-danger &laquo; Remove
                      .span5
                        %h2 Active Users
                        %ul.results.results-programs.unstyled
                          %li.item
                            %span.icon U
                            Bodog Olah
                          %li.item
                            %span.icon U
                            Grant Ricker
                          %li.item
                            %span.icon U
                            Thomas Sinclair
            .row-fluid
              .span12
                %ul.inline.unstyled.actions.pull-right
                  %li
                    %input.btn.btn-success{:type => 'submit', :value => 'Create Group Session'}
                  %li.cancel
                    %a.cancel cancel
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h2
            Activation Token
          %p
            Your activation token is:
          %p
            %strong d7b580
          %p
            %a{:href => ''}
              reset token
          %hr
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us