.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            #welcome.content
              %section
                %h1
                  Bricknell Manor
                %h2
                  14/20 Narabang Way
                  %br
                  Belrose 2085
                  %br
                  NSW, Australia
            .toggles.btn-group.pull-right
              %button.btn.btn-3d
                Users
              %button.btn.btn-3d
                Jobs
              %button.btn.btn-3d.active
                Plans
              %button.btn.btn-3d
                Sessions
              %button.btn.btn-3d
                Reports
          .row-fluid
            .span12
              .contentblock
                %section
                  %header
                    %h1 Learning Plans
                  %hr
          .content-tabmenu
            .row-fluid
              .span6
                .box
                  .contentblock
                    %section
                      %header.clearfix
                        %h1.pull-left
                          Dementia
                        %ul.inline.unstyled.actions.pull-right
                          %li
                            %a.btn.btn-success.pull-right{:href => ''}
                              Edit
                          %li
                            %a.btn.btn-danger.pull-right{:href => ''}
                              Delete
                      %hr
                        %ul.iconlist.unstyled
                          %li
                            %span.icon
                              C
                            14 Days
                          %li
                            %span.icon
                              U
                            3 Users
                          %li
                            %span.icon
                              F
                            2 Programs
              .span6
                %ul.nav.nav-tabs.nav-xtra.pull-right
                  %li
                    %a
                      %span.icon
                        G
                      Users
                  %li.active
                    %a
                      %span.icon
                        F
                      Programs
          .row-fluid
            .span12
              .contentblock
                %section
                  %header
                    %h1.pull-left
                      Programs
                    %ul.inline.unstyled.actions.pull-right
                      %li
                        %a.btn.btn-success{:href => ''}
                          %span.icon.prepend
                            +
                          Add Program
                      %li.cancel
                        %a.cancel cancel
            #search
              .row-fluid
                .span12
                  %form
                    .widesearch
                      .control-group
                        .controls
                          .input-append
                            %input.searchfield{:type => 'text'}
                            %input.btn.btn-info{:type => 'submit', :value => 'Search'}
          #learningplans
            .row-fluid
              .span12
                %ul.row-fluid.unstyled
                  %li.span4.plan.program.actionable
                    %section
                      %header
                        %h1 Walking Into Buildings Wearing Black
                      .vidthumb
                        %a{:href => ''}
                          = image_tag('program-thumb-01.jpg', :alt => 'thumbnail')
                          .caption
                            %span.icon
                              C
                            45 minutes
                      %a.btn.btn-danger.btn-wide
                        remove program
                  %li.span4.plan.program.actionable
                    %section
                      %header
                        %h1 Cleaning Dentures
                      .vidthumb
                        %a{:href => ''}
                          = image_tag('program-thumb-02.jpg', :alt => 'thumbnail')
                          .caption
                            %span.icon
                              C
                            45 minutes
                      %a.btn.btn-danger.btn-wide
                        remove program
                  %li.span4.plan.program.actionable
                    %section
                      %header
                        %h1 Holding Mouse Backwards. Angry.
                      .vidthumb
                        %a{:href => ''}
                          = image_tag('program-thumb-03.jpg', :alt => 'thumbnail')
                          .caption
                            %span.icon
                              C
                            45 minutes
                      %a.btn.btn-danger.btn-wide
                        remove program
                  %li.span4.plan.program.actionable
                    %section
                      %header
                        %h1 Yellow Bucket, Maroon Sweater
                      .vidthumb
                        %a{:href => ''}
                          = image_tag('program-thumb-04.jpg', :alt => 'thumbnail')
                          .caption
                            %span.icon
                              C
                            45 minutes
                      %a.btn.btn-danger.btn-wide
                        remove program
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us