.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            #welcome.content
              %section
                %h1
                  Bricknell Manor
                %h2
                  14/20 Narabang Way
                  %br
                  Belrose 2085
                  %br
                  NSW, Australia
            .toggles.btn-group.pull-right
              %button.btn.btn-3d
                Users
              %button.btn.btn-3d
                Jobs
              %button.btn.btn-3d
                Plans
              %button.btn.btn-3d
                Sessions
              %button.btn.btn-3d.active
                Reports
          .row-fluid
            .span12
              .contentblock
                %section
                  %header.clearfix
                    %h1.pull-left
                      Reports : Search
                    %ul.nav.nav-tabs.nav-xtra.pull-right
                      %li
                        %a{:href => ''}
                          %span.icon
                            B
                          Charts
                      %li.active
                        %a{:href => ''}
                          %span.icon
                            S
                          Search
                %hr
                %section
                  %header
                    %h1 Search for Users by Report Criteria
                  .box
                    %form.form-content.form-search
                      %fieldset
                        %legend
                          User Specific
                        .control-group
                          .control-label
                            %label
                              Role
                          .controls
                            %select
                              %option
                        .control-group
                          .control-label
                            %label
                              Job Category
                          .controls
                            %select
                              %option
                      %fieldset
                        %legend
                          Programs
                        .control-group
                          .control-label
                            %label
                              Has viewed
                          .controls
                            %select
                              %option
                        .control-group
                          .control-label
                            %label
                              Has NOT viewed
                          .controls
                            %select
                              %option
                      %fieldset
                        %legend
                          Learning Plans
                        .control-group
                          .control-label
                            %label
                              Has completed
                          .controls
                            %select
                              %option
                        .control-group
                          .control-label
                            %label
                              Has NOT completed
                          .controls
                            %select
                              %option
                      %fieldset
                        %legend
                          Program Assessments
                        .control-group
                          .control-label
                            %label
                              Has been assessed
                          .controls
                            %select
                              %option
                        .control-group
                          .control-label
                            %label
                              Has NOT been assessed
                          .controls
                            %select
                              %option
                      .control-group
                        .controls
                          %input.btn.btn-success{:type => 'submit', :value => 'Search'}
                          %a.cancel{:href => ''}
                            cancel
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us