.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      .row-fluid
        .span12
          .header-block
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
            .pull-right
              .page-title
                %hgroup
                  %h1
                    My Learning
                  %span
                    Learning Plans
              .toggles.btn-group
                %button.btn.active
                  Users
                %button.btn
                  Plans
                %button.btn
                  Sessions
                %button.btn
                  Assess
                %button.btn
                  Reports
          %hr.clear
          %ul.thumbnails
            %li.span6
              .well.box
                %h2 Bodog Olah
                %ul.unstyled
                  %li Group coordinator
                  %li Personal Assistant
                  %li 2342
                  %li
                    %a{:href => 'mailto:bodog@createur.com.au'}
                      bodog@createur.com.au
            %li.span6
              %ul.nav.nav-tabs#summaryTab
                %li
                  %a{:href => '#plans', :data => {:toggle => 'tab'}}
                    Plans
                %li.active
                  %a{:href => '#records', :data => {:toggle => 'tab'}}
                    Records
              .tab-content.box
                .tab-pane.active#summaryTab
                  %ul 
                    %li 7 Programs Completed
                    %li 5 Programs Passed
                    %li 2 Programs Failed
                .tab-pane
      .row-fluid
        .span12
          %form.well.form-search
            .control-group
              .controls
                .input-append
                  %input.searchfield{:type => 'text'}
                  %input.btn.btn-info{:type => 'submit', :value => 'Search'}

      .row-fluid
        .span12
          %h2 Recent Learning Records

          %ul.box.unstyled.records
            %li.record
              %ul.inline.unstyled
                %li.assessment
                  %span.badge.badge-important X
                  %span.status-label Extension
                %li.details
                  %h3 Extension Assessment Failed
                  %h4 Infection Control: Encouraging Best Practice in Outbreak Management
                  %span Viewed Online 1 day ago
                %li.timestamp
                  %span.icon d
                  16th Dec
                  %span.icon C
                  2:14pm
                %li.author
                  %span Record created by Bodog Olah

            %li.record
              %ul.inline.unstyled
                %li.assessment
                  %span.badge.badge-success.icon T
                  %span.status-label Essentials
                %li.details
                  %h3 Essentials Completed Assessment
                  %h4 Infection Control: Encouraging Best Practice in Outbreak Management
                  %span Viewed Online 2 days ago
                %li.timestamp
                  %span.icon d
                  16th Dec
                  %span.icon C
                  2:14pm


            %li.record
              %ul.inline.unstyled
                %li.thumbnail
                  = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                %li.details
                  %h3 Viewed Program
                  %h4 Induction
                  %span Viewed Online 2 days ago
                %li.timestamp
                  %span.icon d
                  16th Dec
                  %span.icon C
                  2:14pm

            %li.record
              %ul.inline.unstyled
                %li.thumbnail
                  = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                %li.details
                  %h3 Viewed Program
                  %h4 Fire Safety: The Principles
                  %span Viewed via DVD 4 days ago
                %li.timestamp
                  %span.icon d
                  16th Dec
                  %span.icon C
                  2:14pm
                %li.author
                  %span Record created by Bodog Olah

      .row-fluid
        .span12
          %button.btn.btn-3d.btn-wide
            View More

    .span3
      #sidebar
        %a.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by &quot;devil&quot;, I mean Robot Devil.  And by &quot;metaphorically&quot;, I mean get your coat.
  .row-fluid
    .span12
      %hr
      .footer
        %ul.nav.nav-horizontal
          %li
            &copy; ACC. All rights reserved.
          %li
            %a{:href => '#'}
              Terms of use
          %li
            %a{:href => '#'}
              Privacy
          %li
            %a{:href => '#'}
              Contact Us