.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            #welcome.content
              %section
                %h1
                  Bricknell Manor
                %h2
                  14/20 Narabang Way
                  %br
                  Belrose 2085
                  %br
                  NSW, Australia
            .toggles.btn-group.pull-right
              %button.btn.btn-3d.active
                Users
              %button.btn.btn-3d
                Jobs
              %button.btn.btn-3d
                Plans
              %button.btn.btn-3d
                Sessions
              %button.btn.btn-3d
                Reports
          .content-tabmenu
            .row-fluid
              .span6
                .box
                  .contentblock
                    %section
                      %header.clearfix
                        %h1.pull-left
                          Bodog Olah
                        %a.btn.btn-success.pull-right{:href => ''}
                          Edit
                      %hr
                        %ul.iconlist.unstyled
                          %li
                            %span.icon
                              G
                            Coordinator
                          %li
                            %span.icon
                              G
                            Clinical Nurse Specialist
                          %li
                            %span.icon
                              G
                            123456
                          %li
                            %span.icon
                              M
                            %a{:href => ''}
                              bodog@createur.com.au
              .span6
                %ul.nav.nav-tabs.nav-xtra.pull-right
                  %li
                    %a
                      %span.icon
                        P
                      Plans
                  %li.active
                    %a
                      %span.icon
                        l
                      Records
                  %li
                    %a
                      %span.icon
                        T
                      Assess
          .row-fluid
            .span12
              .contentblock
                %section
                  %header
                    %h1.pull-left
                      Learning Records
            #search
              .row-fluid
                .span12
                  %form
                    .widesearch
                      .control-group
                        .controls
                          .input-append
                            %input.searchfield{:type => 'text'}
                            %input.btn.btn-info{:type => 'submit', :value => 'Search'}
          .row-fluid
            .span12
              %ul.box.records.unstyled
                %li.record.record-split
                  %ul.inline.unstyled
                    %li.thumbnail
                      = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                    %li.details
                      %h3 Dealing with Difficult People
                      %p viewed 19 days ago
                    %li
                    %ul.unstyled.actions.pull-right
                      %li
                        %a.btn.btn-flat.btn-small.btn-info
                          %span.icon
                            D
                          %span.text
                            Downloaded
                      %li
                        %a.btn.btn-flat.btn-small.btn-success
                          %span.icon
                            T
                          %span.text
                            Assessed
                %li.record.record-split
                  %ul.inline.unstyled
                    %li.thumbnail
                      = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                    %li.details
                      %h3 Dealing with Difficult People
                      %p viewed 19 days ago
                    %li
                    %ul.unstyled.actions.pull-right
                      %li
                        %a.btn.btn-flat.btn-small.btn-info
                          %span.icon
                            D
                          %span.text
                            Downloaded
                      %li
                        %a.btn.btn-flat.btn-small.btn-success
                          %span.icon
                            T
                          %span.text
                            Assessed
                %li.record.record-split
                  %ul.inline.unstyled
                    %li.thumbnail
                      = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                    %li.details
                      %h3 Dealing with Difficult People
                      %p viewed 19 days ago
                    %li
                    %ul.unstyled.actions.pull-right
                      %li
                        %a.btn.btn-flat.btn-small.btn-info
                          %span.icon
                            D
                          %span.text
                            Downloaded
                      %li
                        %a.btn.btn-flat.btn-small.btn-success
                          %span.icon
                            T
                          %span.text
                            Assessed
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h2
            Activation Token
          %p
            Your activation token is:
          %p
            %strong d7b580
          %p
            %a{:href => ''}
              reset token
          %hr
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us