.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            #welcome.content
              %section
                %h1
                  Coordinators
                %h2 Groups and Services
          .row-fluid
            .span12
              .contentblock
                %section.groups
                  %header
                    %h1 Groups
                  %ul.iconlist.thumbnails
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        The Thomas Sinclair Group
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            H
                          2 services
                        %li
                          %span.icon
                            U
                          4 users
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        The Thomas Sinclair Group
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            H
                          2 services
                        %li
                          %span.icon
                            U
                          4 users
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        The Thomas Sinclair Group
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            H
                          2 services
                        %li
                          %span.icon
                            U
                          4 users
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        The Thomas Sinclair Group
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            H
                          2 services
                        %li
                          %span.icon
                            U
                          4 users
          .row-fluid
            .span12
              %hr
              .contentblock
                %section.services
                  %header
                    %h1 Services
                  %form
                    .widesearch
                      .control-group
                        .controls
                          .input-append
                            %input.searchfield{:type => 'text'}
                            %input.btn.btn-info{:type => 'submit', :value => 'Search'}
                  %ul.iconlist.thumbnails
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        Bodog's Red Light District
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            U
                          4 users
                        %li
                          %span.icon
                            P
                          2 learning plans
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        Bodog's Red Light District
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            U
                          4 users
                        %li
                          %span.icon
                            P
                          2 learning plans
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        Bodog's Red Light District
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            U
                          4 users
                        %li
                          %span.icon
                            P
                          2 learning plans
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        Bodog's Red Light District
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            U
                          4 users
                        %li
                          %span.icon
                            P
                          2 learning plans
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        Bodog's Red Light District
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            U
                          4 users
                        %li
                          %span.icon
                            P
                          2 learning plans
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        Bodog's Red Light District
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            U
                          4 users
                        %li
                          %span.icon
                            P
                          2 learning plans
                    %li.span4.box.box-shadowed.actionable
                      %h1
                        Bodog's Red Light District
                      %hr
                      %ul.unstyled
                        %li
                          %span.icon
                            U
                          4 users
                        %li
                          %span.icon
                            P
                          2 learning plans
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us