.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => 'hidden-phone', :alt => 'ACC Logo')
            .pull-right#welcome
              %section
                %h1
                  Welcome
                  %span.highlight Grant Ricker
                %h2 your dashboard
          %ul.nav.hidden-phone#dashstats
            %li.stat
              %section
              %h1 21
              %h2 overdue learning plans
            %li.stat
              %h1 29
              %h2 assessments complete
            %li.stat
              %h1 53
              %h2 programs viewed
            %li.stat
              %h1 1
              %h2 program awaiting completion
            %li.stat
              %h1 21
              %h2 services actively employed at
          #dashprogress
            .progress.progress-striped
              .bar{:style => 'width: 74%'}
            .progress-status
              %p learning plans 74% complete
          %hr
          .row-fluid#learningplans
            .span12
              .plansheader
                %section
                  %header
                    %h1 Learning Plans Due to be Completed
            .row-fluid
              .span4
                .plan
                  %section
                    %header
                      %h1 Dementia
                      %p Starter pack for new staff
                    %h2
                      %span.label.label-pending 14
                      days overdue
                    %hr
                    %h3
                      Contains
                      %strong 3
                      programs
                    %h4
                      You have
                      %strong 2
                      remaining  
                    %hr
                    %ul.thumbnails
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
              .span4
                .plan
                  %section
                    %header
                      %h1 Dementia
                      %p Starter pack for new staff
                    %h2
                      %span.label.label-pending 14
                      days overdue
                    %hr
                    %h3
                      Contains
                      %strong 3
                      programs
                    %h4
                      You have
                      %strong 2
                      remaining  
                    %hr
                    %ul.thumbnails
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
              .span4
                .plan
                  %section
                    %header
                      %h1 Dementia
                      %p Starter pack for new staff
                    %h2
                      %span.label.label-pending 14
                      days overdue
                    %hr
                    %h3
                      Contains
                      %strong 3
                      programs
                    %h4
                      You have
                      %strong 2
                      remaining  
                    %hr
                    %ul.thumbnails
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.span4
                        %a.thumbnail{:href => '#'}
                          = image_tag('smallthumb.jpg', :alt => 'thumbnail')
          %hr
          .row-fluid#learningrecords
            .span12
              %section
                %header
                  %h1 Recent Learning Records
                %ul.unstyled#recordslist
                  %li
                    %ul.unstyled.record
                      %li
                        = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.details
                        %h3 Dealing with Difficult People
                        %p was viewed 14 days ago
                    .actions
                      %a.btn.btn-small
                        view record
                  %li.divider-horizontal
                    %hr
                  %li
                    %ul.unstyled.record
                      %li
                        = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.details
                        %h3 Dealing with Difficult People
                        %p was viewed 14 days ago
                    .actions
                      %a.btn.btn-small
                        view record
                  %li.divider-horizontal
                    %hr
                  %li
                    %ul.unstyled.record
                      %li
                        = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.details
                        %h3 Dealing with Difficult People
                        %p was viewed 14 days ago
                    .actions
                      %a.btn.btn-small
                        view record
    .wrapper
      .span3
        #sidebar
          %section
            %h1
              Contextual Help
            %p
              Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
            %hr
            %h2
              Other Section
            %p
              Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us