.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .row-fluid
            .span12
              .alert
                Your password has been set by an activation code, we recommend
                %a{:href => ''}
                  changing your password
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            #welcome
              %section
                %h1
                  Welcome,
                  %span.highlight Grant Ricker
                %h2 your dashboard
          %ul.nav#dashstats
            %li.stat
              %h1 53
              %h2 Programs viewed
            %li.stat
              %h1 29
              %h2 Assessments complete
            %li.stat
              %h1 1
              %h2 Programs awaiting completion
            %li.stat
              %h1 21
              %h2 Overdue learning plans
            %li.stat
              %h1 2
              %h2 Services actively employed at
          #dashprogress
            .progress.progress-striped
              .bar{:style => 'width: 74%'}
            .progress-status
              %p Learning Plans 74% Complete
          %hr
          .box-list
            .row-fluid
              .span12
                .header
                  %section
                    %header
                      %h1 Learning Plans Due to be Completed
                      %a.hidden-phone{:href => ''} view all
              .row-fluid
                .span4
                  .box.actionable
                    %section
                      %header
                        %h1 Dementia
                        %p Starter pack for new staff
                      %h2
                        %span.label.label-pending 14
                        days overdue
                      %hr
                      %h3
                        Contains
                        %strong 3
                        programs
                      %h4
                        You have
                        %strong 2
                        remaining  
                      %hr
                      %ul.thumbnails
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                .span4
                  .box
                    %section
                      %header
                        %h1 Dementia
                        %p Starter pack for new staff
                      %h2
                        %span.label.label-pending 14
                        days overdue
                      %hr
                      %h3
                        Contains
                        %strong 3
                        programs
                      %h4
                        You have
                        %strong 2
                        remaining  
                      %hr
                      %ul.thumbnails
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                .span4
                  .box
                    %section
                      %header
                        %h1 Dementia
                        %p Starter pack for new staff
                      %h2
                        %span.label.label-pending 14
                        days overdue
                      %hr
                      %h3
                        Contains
                        %strong 3
                        programs
                      %h4
                        You have
                        %strong 2
                        remaining  
                      %hr
                      %ul.thumbnails
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                        %li.span4
                          %a.thumbnail{:href => '#'}
                            = image_tag('smallthumb.jpg', :alt => 'thumbnail')
          %hr
          .row-fluid#learningrecords
            .span12
              %section
                %header
                  %h1 Recent Learning Records
                  %a.hidden-phone{:href => ''} view all
                %ul.unstyled#recordslist
                  %li
                    %ul.unstyled.record
                      %li
                        = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.details
                        %h3 Dealing with Difficult People
                        %p was viewed 14 days ago
                    %ul.unstyled.actions
                      %li
                        %a.btn.btn-flat.btn-small.btn-info
                          %span.icon
                            D
                          %span.text
                            Downloaded
                      %li
                        %a.btn.btn-flat.btn-small.btn-success
                          %span.icon
                            T
                          %span.text
                            Assessed
                  %li.divider-horizontal
                    %hr
                  %li
                    %ul.unstyled.record
                      %li
                        = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.details
                        %h3 Dealing with Difficult People
                        %p was viewed 14 days ago
                    %ul.unstyled.actions
                      %li
                        %a.btn.btn-flat.btn-small.btn-info
                          %span.icon
                            D
                          %span.text
                            Downloaded
                      %li
                        %a.btn.btn-flat.btn-small.btn-success
                          %span.icon
                            T
                          %span.text
                            Assessed
                  %li.divider-horizontal
                    %hr
                  %li
                    %ul.unstyled.record
                      %li
                        = image_tag('smallthumb.jpg', :alt => 'thumbnail')
                      %li.details
                        %h3 Dealing with Difficult People
                        %p was viewed 14 days ago
                    %ul.unstyled.actions
                      %li
                        %a.btn.btn-flat.btn-small.btn-info
                          %span.icon
                            D
                          %span.text
                            Downloaded
                      %li
                        %a.btn.btn-flat.btn-small.btn-success
                          %span.icon
                            T
                          %span.text
                            Assessed
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.

  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us