.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .row-fluid#mainheader
            .span3
              = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            .span9              
              #welcome.content.pull-right
                %section
                  %h1
                    Customer Service: Residents' Rights in a Really Long Title to Test Wrapping
                  %h2 view program
          .row-fluid
            #video.span9
              %a
                = image_tag('program-vid.jpg', :alt => 'video')
            #meta.span3
              %ul.unstyled
                %li
                  %span.icon
                    C
                  %span.resourcetitle
                    45 minutes
                %li
                  %span.icon
                    F
                  %span.resourcetitle
                    Chronic Diseases and Conditions
                %li
                  %span.icon
                    L
                  %span.resourcetitle
                    Core
                %li
                  %span.icon
                    h
                  %span.resourcetitle
                    01-080409
                %li
                  %span.icon
                    I
                  %span.resourcetitle
                    S1
          #learningplans
            .row-fluid
              .span12
                .plansheader
                  %section
                    %header
                      %hr
                      %h1 Related Programs
              %ul.row-fluid.unstyled
                %li.span4.plan.program.actionable
                  %section
                    %header
                      %h1 Walking Into Buildings Wearing Black
                    .vidthumb
                      %a{:href => ''}
                        = image_tag('program-thumb-01.jpg', :alt => 'thumbnail')
                        .caption
                          %span.icon
                            C
                          45 minutes
                    %a.btn.btn-info.btn-wide
                      view program
                %li.span4.plan.program.actionable
                  %section
                    %header
                      %h1 Cleaning Dentures
                    .vidthumb
                      %a{:href => ''}
                        = image_tag('program-thumb-02.jpg', :alt => 'thumbnail')
                        .caption
                          %span.icon
                            C
                          45 minutes
                    %a.btn.btn-info.btn-wide
                      view program
                %li.span4.plan.program.actionable
                  %section
                    %header
                      %h1 Holding Mouse Backwards. Angry.
                    .vidthumb
                      %a{:href => ''}
                        = image_tag('program-thumb-03.jpg', :alt => 'thumbnail')
                        .caption
                          %span.icon
                            C
                          45 minutes
                    %a.btn.btn-info.btn-wide
                      view program
                %li.span4.plan.program.actionable
                  %section
                    %header
                      %h1 Yellow Bucket, Maroon Sweater
                    .vidthumb
                      %a{:href => ''}
                        = image_tag('program-thumb-04.jpg', :alt => 'thumbnail')
                        .caption
                          %span.icon
                            C
                          45 minutes
                    %a.btn.btn-info.btn-wide
                      view program
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
          %hr
          %h2
            Learning Resources
          %ul.resources.box.unstyled
            %li
              %span.icon
                P
              %a.resourcetitle{:href => ''}
                Customer Service: Residents' Rights Participant Workbook
            %li
              %span.icon
                P
              %a.resourcetitle{:href => ''}
                Another Resource
          %hr
          %h2
            Coordinator Resources
          %ul.resources.box.unstyled
            %li
              %span.icon
                P
              %a.resourcetitle{:href => ''}
                Customer Service: Residents' Rights Participant Workbook
            %li
              %span.icon
                P
              %a.resourcetitle{:href => ''}
                Another Resource
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us