.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            #welcome.content
              %section
                %h1
                  Settings
                %h2
                  user settings
          .row-fluid
            .span12
              .box
                %form.form-content.form-search
                  %fieldset
                    %legend
                      Profile
                    .control-group
                      .control-label
                        %label
                          First Name
                      .controls
                        %input{:type => 'text'}
                    .control-group
                      .control-label
                        %label
                          Last Name
                      .controls
                        %input{:type => 'text'}
                    .control-group
                      .control-label
                        %label
                          Email Name
                      .controls
                        %input{:type => 'text'}
                    .control-group
                      .control-label
                        %label
                          Password (if changing)
                      .controls
                        %input{:type => 'password'}
                    .control-group
                      .control-label
                        %label
                          Password again
                      .controls
                        %input{:type => 'password'}
                    .control-group
                      .control-label
                        %label
                          Timezone
                      .controls
                        %select
                          %option
                    .control-group
                      .control-label
                        %label
                          DOB (dd/mm/yyyy)
                      .controls
                        %input.input-small{:type => 'text'}
                    .control-group
                      .control-label
                        %label
                          Gender
                      .controls
                        %select.input-small
                          %option
                  .control-group
                    .controls
                      %input.btn.btn-success{:type => 'submit', :value => 'Save Settings'}
                      %a.cancel{:href => ''}
                        cancel
            .row-fluid
              .span12
                %section.contentblock#employments
                  %header
                    %h1.pull-left
                      Current Employments
                    %p.pull-right
                      %a.btn.btn-success{:href => ''}
                        %span.icon.prepend
                          +
                        New Employment
            .row-fluid
              .span12
                .box
                  %form.form-inline.form-content.new-employment
                    %fieldset
                      %legend
                        Add via Token
                      .control-group
                        .controls
                          %input{:type => 'text', :value => 'Enter Token'}
                      .control-group
                        .controls
                          %input.btn.btn-success{:type => 'submit', 'value' => 'Join Service'}
                      .control-group
                        .controls
                          %a.cancel{:href => ''}
                            cancel
                .box
                  %ul.records.unstyled
                    %li.record.record-split
                      .header
                        %h3.pull-left Happy Home
                        %ul.inline.unstyled.actions.clearfix.pull-right
                          %li
                            %a.btn.btn-flat.btn-small.btn-success
                              %span.text
                                Edit
                          %li
                            %a.btn.btn-flat.btn-small.btn-danger
                              %span.text
                                Remove
                      %hr
                      %ul.unstyled
                        %li.span3
                          %strong
                            Role:
                          coordinator
                        %li.span3
                          %strong
                            Job Title:
                          IT Staff
                        %li.span3
                          %strong
                            Employee #:
                          123456
                        %li.span3
                          %strong
                            Start Date:
                          Date
                    %li
                      %form.form-inline.form-content.new-employment
                        %fieldset
                          %legend
                            Edit Employment for Happy Home
                          .control-group
                            .controls
                              %select.input-small
                                %option
                                  Role
                          .control-group
                            .controls
                              %input{:type => 'text', :value => 'Job Title'}
                          .control-group
                            .controls
                              %input.input-small{:type => 'text', :value => 'Employee #'}
                          .control-group
                            .controls
                              %input.btn.btn-success{:type => 'submit', 'value' => 'Update'}
                          .control-group
                            .controls
                              %a.cancel{:href => ''}
                                cancel
            .row-fluid
              .span12
                %section.contentblock#group-coordination
                  %header
                    %h1
                      Group Coordination
                  .box
                    %ul.records.unstyled
                      %li.record.record-split
                        %h3.pull-left
                          Happy Home
                        %ul.inline.unstyled.actions.pull-right
                          %li
                            %a.btn.btn-flat.btn-small.btn-danger
                              %span.text
                                Leave
                      %li.record.record-split
                        %h3.pull-left
                          Happy Home
                        %ul.inline.unstyled.actions.pull-right
                          %li
                            %a.btn.btn-flat.btn-small.btn-danger
                              %span.text
                                Leave
                      %li.record.record-split
                        %h3.pull-left
                          Happy Home
                        %ul.inline.unstyled.actions.pull-right
                          %li
                            %a.btn.btn-flat.btn-small.btn-danger
                              %span.text
                                Leave
    .span3
      #sidebar
        %a#helpbtn.btn.btn-large.btn-info
          How can we help?
        %section
          %h1
            Contextual Help
          %p
            Enough about your promiscuous mother, Hermes! We have bigger problems. Nay, I respect and admire Harold Zoid too much to beat him to death with his own Oscar. I haven't felt much of anything since my guinea pig died.
          %hr
          %h2
            Other Section
          %p
            Good news, everyone! There's a report on TV with some very bad news! And when we woke up, we had these bodies. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat.
  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us