%h2 Status Legend

%table.table.table-condensed.legend
  %tr
    %td
      %span.badge-rounded.badge-smallest.badge.badge-default.icon #
    %td
      Not Required
  %tr
    %td
      %span.badge-rounded.badge-smallest.badge.badge-success.icon T
    %td
      Passed
  %tr
    %td
      %span.badge-rounded.badge-smallest.badge.badge-warning.icon 9
    %td
      Ready
  %tr
    %td
      %span.badge-rounded.badge-smallest.badge.badge-pending.icon !
    %td
      Pending
  %tr
    %td
      %span.badge-rounded.badge-smallest.badge.badge-important.icon $
    %td
      Unsuccessful
  %tr
    %td
      %span.badge-rounded.badge-smallest.badge.badge-overdue.icon C
    %td
      Overdue
