.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      .header-block
        = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
        .pull-right
          .page-title
            %h1 Plan Name
            %span plan details summary
      .row-fluid
        .span12
          .box.single-plan
            .row-fluid
              .span2
                .label.label-info
                  %h2 9 days until due
              .span10
                %ul.unstyled
                  %li
                    %span.icon 
                      d
                    Due Date: 20th Dec 2012
                  %li
                    %span.icon 
                      F
                    3 programs pending
                  %li
                    %span.icon 
                      F
                    1 program viewed
                .set-by
                  Learning plan set by <a href="#">Bodog Olah</a>
          .box.single-plan
            .row-fluid
              .span12
                .description
                  %h2 Plan Description
                  %p With gusto. Bender, being God isn't easy. If you do too much, people get dependent on you, and if you do nothing, they lose hope. You have to use a light touch. Like a safecracker, or a pickpocket. That could be 'my' beautiful soul sitting naked on a couch.
      .row-fluid
        .span12
          %hr
          %h2 Pending Programs
          .box.pending-programs
            .row-fluid
              .span12
                %h3 Infection Control: It's in your hands
                %span Not Viewed
                %hr
            .row-fluid
              %ul.span12
                %li.span3.vidcontainer
                  .vidthumb
                    %a{:href => ''}
                      = image_tag('program-thumb-01.jpg', :alt => 'thumbnail')
                      .caption
                        %span.icon
                          C
                        45 minutes
                  %a.btn.btn-info.btn-wide
                    view program
                %li.span3
                  %span.badge.badge-pending.icon !
                  %span.status-label Essentials
                  %span Pending
                  %a.btn.btn-mini.btn-success Approve
                %li.span3
                  %span.badge.badge-warning.icon 9
                  %span.status-label Extension
                  %span Ready
                  %a.btn.btn-mini.btn-success Approve
                %li.span3
                  %span.badge.badge-default.icon #
                  %span.status-label Evidence
                  %span Not Required
                  %a.btn.btn-mini.btn-success Approve
          .box.pending-programs
            .row-fluid
              .span12
                %h3 Infection Control: It's in your hands
                %span Not Viewed
                %hr
            .row-fluid
              %ul.span12
                %li.span3.vidcontainer
                  .vidthumb
                    %a{:href => ''}
                      = image_tag('program-thumb-01.jpg', :alt => 'thumbnail')
                      .caption
                        %span.icon
                          C
                        45 minutes
                  %a.btn.btn-info.btn-wide
                    view program
                %li.span3
                  %span.badge.badge-success.icon T
                  %span.status-label Essentials
                  %span Passed
                %li.span3
                  %span.badge.badge-success.icon T
                  %span.status-label Extension
                  %span Passed
                %li.span3
                  %span.badge.badge-important.icon $
                  %span.status-label Evidence
                  %span Failed
                  %a.btn.btn-mini.btn-success Approve
          .box.pending-programs
            .row-fluid
              .span12
                %h3 Infection Control: It's in your hands
                %span Not Viewed
                %hr
            .row-fluid
              %ul.span12
                %li.span3.vidcontainer
                  .vidthumb
                    %a{:href => ''}
                      = image_tag('program-thumb-01.jpg', :alt => 'thumbnail')
                      .caption
                        %span.icon
                          C
                        45 minutes
                  %a.btn.btn-info.btn-wide
                    view program
                %li.span3
                  %span.badge.badge-overdue.icon C
                  %span.status-label Essentials
                  %span Overdue
                  %a.btn.btn-mini.btn-success Approve
                %li.span3
                  %span.badge.badge-warning.icon 9
                  %span.status-label Extension
                  %span Ready
                  %a.btn.btn-mini.btn-success Approve
                %li.span3
                  %span.badge.badge-warning.icon 9
                  %span.status-label Evidence
                  %span Ready
                  %a.btn.btn-mini.btn-success Approve
      .row-fluid
        .span12
          %hr
          %h2 Viewed Programs
          .box.viewed-programs
            .row-fluid
              .span12
                %h3 Infection Control: It's in your hands
                %span Viewed on 21/12/2012 at 12:32pm
                %hr
            .row-fluid
              %ul.span12
                %li.span3.vidcontainer
                  .vidthumb
                    %a{:href => ''}
                      = image_tag('program-thumb-01.jpg', :alt => 'thumbnail')
                      .caption
                        %span.icon
                          C
                        45 minutes
                  %a.btn.btn-info.btn-wide
                    view program
                %li.span3
                  %span.badge.badge-success.icon T
                  %span.status-label Evidence
                  %span Passed
                %li.span3
                  %span.badge.badge-success.icon T
                  %span.status-label Evidence
                  %span Passed
                %li.span3
                  %span.badge.badge-success.icon T
                  %span.status-label Evidence
                  %span Passed
    .span3
      #sidebar
        %a.btn.btn-large.btn-info
          How can we help?
        %h2
          Learning Workbooks
        %p
          Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
        %hr
        %h2 Status Legend
        %table.table.table-condensed.legend
          %tr
            %td
              %span.badge.badge-default.icon #
            %td
              Not Required
          %tr
            %td
              %span.badge.badge-success.icon T
            %td
              Passed
          %tr
            %td
              %span.badge.badge-warning.icon 9
            %td
              Ready
          %tr
            %td
              %span.badge.badge-pending.icon !
            %td
              Pending
          %tr
            %td
              %span.badge.badge-important.icon $
            %td
              Failed
          %tr
            %td
              %span.badge.badge-overdue.icon C
            %td
              Overdue
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us