.navbar
  .navbar-inner
    .container
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '#'}
              Home
          %li
            %a{:href => '#'}
              Programs
          %li
            %a{:href => '#'}
              My Learning
          %li
            %a{:href => '#'}
              Coordinator
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            %a.btn.btn-large.btn-info{:href => '#'}
              Settings
              %span{:data => {:icon => 'O'}}
.container
  .row-fluid
    .span9
      .header-block
        = image_tag('acc-logo.png', :class => ['hidden-phone', 'logo', 'pull-left'], :alt => 'Aged Care Channel')
        .pull-right
          .page-title
            %h1 ACFI: Improving Your Documentation
            %span view program
      .row-fluid
        .span12
          .row-fluid
            #video.span9
              %a
                = image_tag('program-vid.jpg', :alt => 'video')
            #meta.span3
              %ul.unstyled
                %li
                  %span.icon C
                  %span.resourcetitle 45 minutes
                %li
                  %span.icon F
                  %span.resourcetitle Chronic Diseases and Conditions
                %li
                  %span.icon L
                  %span.resourcetitle Core
                %li
                  %span.icon h
                  %span.resourcetitle 01-080409
                %li
                  %span.icon I
                  %span.resourcetitle S1
      .row-fluid
        .span12
          %h2 Program Assessment Status
      .box.assessment-status
        .row-fluid
          %ul.span12
            %li.span4
              %span.badge.badge-pending.icon !
              %span.status-label Essentials
              %span Pending
            %li.span4
              %span.badge.badge-pending.icon !
              %span.status-label Essentials
              %span Pending
            %li.span4
              %span.badge.badge-success.icon T
              %span.status-label Evidence
              %span Passed
      .row-fluid
        .span12
          .resources-split
            .row-fluid
              .span6
                %h3 Learning Resources
                .box
                  %ul
                    %li
                      %a{:href => '#'} Accreditation: Your Role and Resposibilities Follow Up
                    %li
                      %a{:href => '#'} Accreditation: Your Role and Resposibilities Participant Workbook
              .span6
                %h3 Coordinator Resources
                .box
                  %ul
                    %li
                      %a{:href => '#'} Accreditation: Your Role and Resposibilities Coordinator Pack
                    %li
                      %a{:href => '#'} Another link that might possibly span over 2 lines.

      .resources-single
        .row-fluid
          .span12
            %h3 Learning Resources
            .box
              %ul
                %li
                  %a{:href => '#'} Accreditation: Your Role and Resposibilities Follow Up
                %li
                  %a{:href => '#'} Accreditation: Your Role and Resposibilities Participant Workbook
      #learningplans
        .row-fluid
          .span12
            .plansheader
              %section
                %header
                  %hr
                  %h1 Related Programs
          %ul.row-fluid.unstyled
            %li.span4.plan.program.actionable
              %section
                %header
                  %h1 Walking Into Buildings Wearing Black
                .vidthumb
                  %a{:href => ''}
                    = image_tag('program-thumb-01.jpg', :alt => 'thumbnail')
                    .caption
                      %span.icon
                        C
                      45 minutes
                %a.btn.btn-info.btn-wide
                  view program
            %li.span4.plan.program.actionable
              %section
                %header
                  %h1 Cleaning Dentures
                .vidthumb
                  %a{:href => ''}
                    = image_tag('program-thumb-02.jpg', :alt => 'thumbnail')
                    .caption
                      %span.icon
                        C
                      45 minutes
                %a.btn.btn-info.btn-wide
                  view program
            %li.span4.plan.program.actionable
              %section
                %header
                  %h1 Holding Mouse Backwards. Angry.
                .vidthumb
                  %a{:href => ''}
                    = image_tag('program-thumb-03.jpg', :alt => 'thumbnail')
                    .caption
                      %span.icon
                        C
                      45 minutes
                %a.btn.btn-info.btn-wide
                  view program
    .span3
      #sidebar
        %a.btn.btn-large.btn-info
          How can we help?
        %h2
          Learning Workbooks
        %p
          Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
        %hr
        %h2 Status Legend
        %table.table.table-condensed.legend
          %tr
            %td
              %span.badge.badge-default.icon #
            %td
              Not Required
          %tr
            %td
              %span.badge.badge-success.icon T
            %td
              Passed
          %tr
            %td
              %span.badge.badge-warning.icon 9
            %td
              Ready
          %tr
            %td
              %span.badge.badge-pending.icon !
            %td
              Pending
          %tr
            %td
              %span.badge.badge-important.icon $
            %td
              Failed
          %tr
            %td
              %span.badge.badge-overdue.icon C
            %td
              Overdue
  .row-fluid
    .span12
      %ul.nav.nav-horizontal
        %li
          &copy; ACC. All rights reserved.
        %li
          %a{:href => '#'}
            Terms of use
        %li
          %a{:href => '#'}
            Privacy
        %li
          %a{:href => '#'}
            Contact Us