.navbar
  .navbar-inner
    .container
      %a#logo-phone
        = image_tag('acc-logo-block-phone.png', :class => 'visible-phone', :alt => 'ACC Logo')
      %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
        .icon-bar
        .icon-bar
        .icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a.current{:href => '#'}
              Home
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Programs
          %li.divider-vertical
          %li
            %a{:href => '#'}
              My Learning
          %li.divider-vertical
          %li
            %a{:href => '#'}
              Coordinator
          %li.divider-vertical
        %ul.nav.nav-sub.pull-right
          %li
            %a{:href => '#'}
              Support
          %li
            %a{:href => '#'}
              Log Out
          %li
            -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
            -# https://github.com/twitter/bootstrap/issues/2071
            .btnwrap
              %a#settingsbtn.btn.btn-large.btn-info{:href => '#'}
                Settings
                %span.icon
                  O
.container
  .row-fluid
    .span9
      .maincontent
        .wrapper
          .clearfix#mainheader
            = image_tag('acc-logo.png', :class => ['hidden-phone', 'pull-left', 'logo'], :alt => 'ACC Logo')
            #welcome.content
              %section
                %h1
                  My Learning
                %h2 Learning Plans
            .toggles.btn-group.pull-right
              %button.btn.btn-3d.active
                Plans
              %button.btn.btn-3d
                Records
          #search
            .row-fluid
              .span12
                %form
                  .widesearch
                    .control-group
                      .controls
                        .input-append
                          %input.searchfield{:type => 'text'}
                          %input.btn.btn-info{:type => 'submit', :value => 'Search'}
          .box-list
            .row-fluid
              .span4
                .box.actionable
                  %section
                    %header
                      %h1 Induction - Mandatories
                    %h2
                      %span.label.label-success Completed
                    %hr
                    %p <strong>12</strong> of <strong>12</strong> programs viewed
                    .progress.progress-plan
                      .bar.bar-success.bartip{:style => 'width: 100%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '12 viewed'}}
                    %hr
                    %p Assessment status
                    .progress.progress-plan
                      .bar.bar-default.bartip{:style => 'width: 33%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '12 Not Required'}}
                      .bar.bar-success.bartip{:style => 'width: 67%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '24 Completed'}}
              .span4
                .box.actionable
                  %section
                    %header
                      %h1 Induction - Mandatories
                    %h2
                      %span.label.label-pending 14
                      days pending
                    %hr
                    %p <strong>9</strong> of <strong>12</strong> programs viewed
                    .progress.progress-plan
                      .bar.bar-success.bartip{:style => 'width: 75%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '9 viewed'}}
                      .bar.bar-pending.bartip{:style => 'width: 25%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '3 pending'}}
                    %hr
                    %p Assessment status
                    .progress.progress-plan
                      .bar.bar-default.bartip{:style => 'width: 25%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => 'Not Required'}}
                      .bar.bar-success.bartip{:style => 'width: 20%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '4 Completed'}}
                      .bar.bar-pending.bartip{:style => 'width: 25%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '5 Pending'}}
                      .bar.bar-warning.bartip{:style => 'width: 5%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '1 Ready'}}
                      .bar.bar-danger.bartip{:style => 'width: 15%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '3 Overdue'}}
                      .bar.bar-overdue.bartip{:style => 'width: 10%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '2 Unsuccessful'}}
              .span4
                .box.actionable
                  %section
                    %header
                      %h1 Induction - Mandatories
                    %h2
                      %span.label.label-overdue 14
                      days overdue
                    %hr
                    %p <strong>9</strong> of <strong>12</strong> programs viewed
                    .progress.progress-plan
                      .bar.bar-success.bartip{:style => 'width: 75%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '9 viewed'}}
                      .bar.bar-pending.bartip{:style => 'width: 25%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '3 pending'}}
                    %hr
                    %p Assessment status
                    .progress.progress-plan
                      .bar.bar-default.bartip{:style => 'width: 25%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => 'Not Required'}}
                      .bar.bar-success.bartip{:style => 'width: 20%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '4 Completed'}}
                      .bar.bar-pending.bartip{:style => 'width: 25%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '5 Pending'}}
                      .bar.bar-warning.bartip{:style => 'width: 5%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '1 Ready'}}
                      .bar.bar-danger.bartip{:style => 'width: 15%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '3 Overdue'}}
                      .bar.bar-overdue.bartip{:style => 'width: 10%', :rel => 'tooltip', :data => {:placement => 'top', 'original-title' => '2 Unsuccessful'}}
          .row-fluid
            .span12
              %button.btn.btn-3d.btn-wide
                view more
              %hr.visible-phone
    .span3
      #sidebar
        %a.btn.btn-large.btn-info
          How can we help?
        %h2
          Learning Workbooks
        %p
          Once you have viewed a program, you must complete a printed participant workbook and return this to your coordinator for assessment. Printed workbooks may be supplied by your coordinator or downloaded from the links below.
        %hr
        %h2 Status Legend
        %table.table.table-condensed.legend
          %tr
            %td
              %span.badge.badge-default.icon #
            %td
              Not Required
          %tr
            %td
              %span.badge.badge-success.icon T
            %td
              Passed
          %tr
            %td
              %span.badge.badge-warning.icon 9
            %td
              Ready
          %tr
            %td
              %span.badge.badge-pending.icon !
            %td
              Pending
          %tr
            %td
              %span.badge.badge-important.icon C
            %td
              Overdue
          %tr
            %td
              %span.badge.badge-overdue.icon $
            %td
              Unsuccessful

  .row-fluid
    .span12
      .wrapper
        %hr
        #footer
          %footer
            %ul.nav.nav-horizontal
              %li
                &copy; #{Time.zone.now.year} ACC. All rights reserved.
              %li
                %a{:href => '#'}
                  Terms of use
              %li
                %a{:href => '#'}
                  Privacy
              %li
                %a{:href => '#'}
                  Contact Us