= content_for :title do
  Editing Program List -
  = @program.title

= content_for :contextual_menu do
  .btn-group
    = link_to admin_group_programs_path(@group), class: 'btn btn-large tip-bottom', title: 'Show Group Programs' do
      %i.icon-play

.widget-box
  .widget-title
    %h5 Edit
  .widget-content
    = simple_form_for [:admin, @group, @group_program], url: admin_group_program_path(@group), method: :put, html: {class: 'form-horizontal'} do |f|
      %fieldset
        %legend Introductions
        - for program in Program.introductions.default_order
          = f.simple_fields_for :program_lists, build_or_load_group_program_group_program_lists(@group_program, program) do |u|
            = render partial: "form_playlist", locals: {u: u, program: program}

      %fieldset
        %legend Closers
        - for program in Program.closers.default_order
          = f.simple_fields_for :program_lists, build_or_load_group_program_group_program_lists(@group_program, program) do |u|
            = render partial: "form_playlist", locals: {u: u, program: program}

      .form-actions
        = f.submit "Update Group Program", id: "group_package_submit", class: 'btn btn-primary'