= content_for :title do
  Programs for
  = @group.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_group_path(@group), class: 'btn btn-large tip-bottom', title: 'Show Group' do
      %i.icon-groups

%p.alert.alert-info
  This section is to edit the introductions and closers for programs, to add additional programs to a group please edit
  = link_to "the package", admin_packages_path

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Code
          %th Title
          %th Programs Playlists
          %th Updated by
          %th
      %tbody
        - for group_program in @group_programs
          %tr
            %td= link_to group_program.program_code, admin_program_path(group_program.program)
            %td= link_to group_program.program_title, admin_program_path(group_program.program)
            %td= group_program.program_lists.count
            %td
              = group_program.program_updated_by.name + ', ' if group_program.program_updated_by
              = distance_of_time_in_words_to_now group_program.program_updated_at
              ago
            %td= link_to 'Edit', edit_admin_group_program_path(@group, group_program.program) if can? :update, Program
