.box
  %section
    %header
      %h1
        Set Password
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
      = f.input :reset_password_token, as: :hidden
      = f.input :activation_code_set_at, as: :hidden, input_html: {value: nil}
      = f.input :password
      = f.input :password_confirmation
      .control-group.submit
        .controls
          = f.button :submit, value: "Set Password and Sign in", class: "btn btn-success"
      = link_to "Back to Sign In", new_user_session_path
    %hr
      %p
        Don't have an account?
      = link_to "Register", new_user_registration_path