.box
  %section
    %header
      %h1
        Forgot Password
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = f.input :email
      .control-group.submit
        .controls
          = f.button :submit, value: "Send me reset password instructions", class: "btn btn-success"
      = link_to "Back to Sign In", new_user_session_path
    %hr
      %p
        Don't have an account?
      = link_to "Register", new_user_registration_path