= content_for :title do
  = "#{@user} - Learning Plans"

= content_for :contextual_menu do
  .btn-group
    = link_to admin_user_path(@user), class: 'btn btn-large tip-bottom', title: 'Show User' do
      %i.icon.icon-user

- if @employment_learning_plans.any?
  .widget-box
    .widget-content.nopadding
      %table.table.table-bordered.table-striped.quicksearch-target
        %thead
          %tr
            %th Name
            %th Service
            %th Status
            %th Programs Completed
            %th Assessments Completed
        %tbody
          - @employment_learning_plans.each do |employment_learning_plan|
            %tr
              %td= link_to employment_learning_plan, admin_user_learning_plan_path(@user, employment_learning_plan)
              %td= link_to employment_learning_plan.service, admin_service_path(employment_learning_plan.service)
              %td{width: 200}= employment_learning_plan.status.titleize
              %td{width: 150}= "#{employment_learning_plan.programs_completed_count} / #{employment_learning_plan.programs_count}"
              %td{width: 150}= "#{employment_learning_plan.program_assessments_completed_ids.count} / #{employment_learning_plan.assessment_required_count}"
- else
  %p.alert.alert-info
    There are no learning plans for this user

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Learning Programs', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white
