= content_for :title do
  = "#{@user} - #{@employment_learning_plan}"

= content_for :contextual_menu do
  .btn-group
    = link_to admin_user_learning_plans_path(@user), class: 'btn btn-large tip-bottom', title: 'Show Learning Plans' do
      %i.icon.icon-board

- if @employment_learning_plan.completed?
  %p.alert.alert-info
    User has completed this learning plan
- elsif @employment_learning_plan.overdue?
  %p.alert.alert-info
    User is overdue on this learning plan

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td Name
          %td= link_to @employment_learning_plan, admin_service_learning_plan_path(@employment_learning_plan.service, @employment_learning_plan.learning_plan)
        %tr
          %td Service
          %td= link_to @employment_learning_plan.service, admin_service_path(@employment_learning_plan.service)
        %tr
          %td Due Date
          %td= "#{@employment_learning_plan.due_at.to_s(:aus)} (#{@employment_learning_plan.days_remaining} days #{@employment_learning_plan.check_status == 1? 'remaining' : 'overdue'})"
        %tr
          %td Status
          %td= @employment_learning_plan.status.capitalize
        %tr
          %td Programs Completed
          %td= "#{@employment_learning_plan.programs_completed_count} / #{@employment_learning_plan.programs_count}"
        %tr
          %td Assessments Completed
          %td= "#{@employment_learning_plan.program_assessments_completed_ids.count} / #{@employment_learning_plan.assessment_required_count}"


-if @employment_learning_plan.description.present?
  %h3 Description
  .widget-box
    .widget-content
      %p= @employment_learning_plan.description

- if @employment_learning_plan.programs_completed.present?
  %h3 Programs Completed
  .widget-box
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Name
            %th Viewed on
            %th Essentials
            %th Extension
            %th Evidence
        %tbody
          - @employment_learning_plan.programs_completed.each do |program|
            %tr
              %td= link_to program.title, admin_program_path(program.program)
              %td= program.viewed_at.to_s(:date_format_minute)
              %td{width: 20}= check_box_tag nil, nil, program.essentials?, disabled: true
              %td{width: 20}= check_box_tag nil, nil, program.extension?, disabled: true
              %td{width: 20}= check_box_tag nil, nil, program.evidence?, disabled: true

- if @employment_learning_plan.program_assessments_completed_objects.present?
  %h3 Assessments Completed
  .widget-box
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Name
            %th Viewed on
            %th Essentials
            %th Extension
            %th Evidence
        %tbody
          - @employment_learning_plan.program_assessments_completed_objects.each do |program|
            %tr
              %td= link_to program.title, admin_program_path(program.program)
              - if program.viewed_at
                %td= program.viewed_at.to_s(:date_format_minute)
              - else
                %td
                  %em Not viewed
              %td{width: 20}= check_box_tag nil, nil, program.essentials?, disabled: true
              %td{width: 20}= check_box_tag nil, nil, program.extension?, disabled: true
              %td{width: 20}= check_box_tag nil, nil, program.evidence?, disabled: true

