<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td width="70" align="left" valign="top"><img src="http://dev.createur.com.au/edm/acc/images/hello-icon-2x.gif" alt="" width="70" height="50" /></td>
    <td width="570" align="left" valign="top" class="intro">
      <h1>Hello <%= @plan.employment_name %></h1>
      <p>Your <strong>Learning Plan</strong> for <strong><%= @service %></strong> is overdue:</p>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <img align="left" class="hide" src="http://dev.createur.com.au/edm/acc/images/learning-icon-2x.gif" alt="" width="30" height="20" /><h2><%= @plan %></h2>
      <br>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <h3 class="red"><strong><%= @plan.days_remaining %> day</strong> overdue.</h3>
      <p>You need to complete this Learning Plan promptly!</p>
      <% unless @plan.description.blank? %>
        <p><%= @plan.description %></p>
      <% end %>
      <p>Sincerely,<br>
      Your Learning Coordinator at <strong><%= @service %></strong>.</p>
    </td>
  </tr>
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="left" class="button">
        <tr>
          <td width="15">&nbsp;</td>
          <td height="40" align="center" valign="middle"><%= link_to "View this Learning Plan", root_url + "my-learning/plan/#{@plan.id}" %></td>
          <td width="15">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="40" /></td>
  </tr>
</table>