= simple_form_for [:admin, @group], html: {class: 'form-horizontal'} do |f|
  = f.input :name, label: "Group Name"
  = f.input :country, collection: @countries, include_blank: false
  = f.association :packages, multiple: true, collection: @packages, hint: "All Services that belong to this Group will inherit the selected packages."
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
