= content_for :title do
  Edit Group -
  = @group.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_group_path(@group), class: 'btn btn-large tip-bottom', title: 'Show Group' do
      %i.icon-groups
    = link_to admin_groups_path, class: 'btn btn-large tip-bottom', title: 'Show Groups' do
      %i.icon-groups

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    = render partial: 'form'