= content_for :title do
  Groups

= content_for :contextual_menu do
  .btn-group
    - if can? :create, Group
      = link_to new_admin_group_path, class: 'btn btn-large tip-bottom', title: 'New Group' do
        %i.icon-plus
    = link_to admin_groups_path(format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Groups' do
      %i.icon-download

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th Name
          %th Country
          %th Services Count
          %th Users Count
          %th
      %tbody
        - for group in @groups
          %tr
            %td
              = link_to group.name, admin_group_path(group)
              - if group.disabled?
                %i.icon-cancel.pull-right(title="Group disabled")
            %td= group.country
            %td= group.services.count
            %td= group.employments_count
            %td
              = link_to "Show", admin_group_path(group) if can? :view, Group
              |
              = link_to 'Edit', edit_admin_group_path(group) if can? :manage, Group

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Groups', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white
