= content_for :title do
  New Group

= content_for :contextual_menu do
  .btn-group
    = link_to admin_groups_path, class: 'btn btn-large tip-bottom', title: 'Show Groups' do
      %i.icon-groups

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    = render partial: 'form'
