= content_for :title do
  Group -
  = @group.name

= content_for :contextual_menu do
  .btn-group
    - if can? :update, Group
      = link_to edit_admin_group_path(@group), class: 'btn btn-large tip-bottom', title: 'Edit Group' do
        %i.icon-pencil
    - if can? :create, Service
      = link_to new_admin_group_service_path(@group), class: 'btn btn-large tip-bottom', title: 'New Service' do
        %i.icon-new-service
    - if can? :create, User
      = link_to new_admin_group_user_path(@group), class: 'btn btn-large tip-bottom', title: 'New Group Coordinator' do
        %i.icon-contact
    = link_to admin_group_job_titles_path(@group, format: "csv"), class: 'btn btn-large tip-bottom', title: 'Export Job Titles' do
      %i.icon-download
    = link_to admin_group_job_titles_path(@group), class: 'btn btn-large tip-bottom', title: 'Show Job Titles' do
      %i.icon-board
    - if @group.programs.any?
      = link_to admin_group_programs_path(@group), class: 'btn btn-large tip-bottom', title: 'Show Programs' do
        %i.icon-play
    - if @group.services.any?
      = link_to admin_group_services_path(@group), class: 'btn btn-large tip-bottom', title: 'Show Services' do
        %i.icon-home
    - if can? :update, Group
      - if can? :destroy, Group
        - if @group.disabled?
          = link_to enable_admin_group_path(@group), title: 'Enable Group', class: 'btn btn-large tip-bottom', method: :put do
            %i.icon-switch
        - else
          = link_to disable_admin_group_path(@group), title: 'Disable Group', class: 'btn btn-large tip-bottom btn-danger', method: :put, confirm: "Are you sure you want to DISABLE the group #{@group.name}? This action has serious implications." do
            %i.icon-switch

- if @group.disabled?
  .alert.alert-danger This Group has been disabled

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td Name
          %td= @group.name
        %tr
          %td Country
          %td= @group.country
        %tr
          %td Status
          %td= @group.status.capitalize
        - if @group.packages.any?
          %tr
            %td Packages
            %td= @group.package_names
        %tr
          %td Created At
          %td #{@group.created_at.to_s(:long_ordinal)}
        %tr
          %td Updated At
          %td #{@group.updated_at.to_s(:long_ordinal)}


- if @group.coordinators.any?
  .widget-box
    .widget-title
      %h5 Group Coordinators
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Name
            %th Last logged in
            %th
        %tbody
          - for coordinator in @group.coordinators.default_order
            %tr
              %td= link_to coordinator.name, admin_user_path(coordinator.user)
              %td= last_logged_in coordinator
              %td= button_to 'Remove Group Coordinator', admin_group_coordinator_path(@group, coordinator), method: :delete, class: 'btn btn-primary'

- if @group.packages.any?
  .widget-box
    .widget-title
      %h5 Packages
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Package
            %th Program Count
        %tbody
          - @group.packages.each do |package|
            %tr
              %td= link_to package.name, admin_package_path(package)
              %td
                = package.programs.count
                - if package.programs.processing.any?
                  = "(#{package.programs.processing.count} pending processing)"
