// Variables
$deep-blue: #0062A3;
$flame-red: #FF3333;
$deep-green: #00a55c;

/* noty bar */
.noty_bar.noty_theme_acc {
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
  font-size: 24px;
}

/* custom container */
.noty_custom_container.noty_theme_acc.noty_layout_inline {
	position: relative;
}

/* custom growl container */
.noty_custom_container.noty_theme_acc.noty_layout_inline .noty_cont.noty_layout_inline {
	position: static;
}
/* custom noty bar */
.noty_custom_container.noty_theme_acc.noty_layout_inline .noty_bar {
	position: static;
}

.noty_custom_container.noty_theme_acc.noty_layout_inline .noty_bar .noty_message {
	padding: 4px;
}

.noty_custom_container.noty_theme_acc.noty_layout_inline .noty_bar .noty_message .noty_buttons {
	margin-top: -1px;
}

/* noty_message */
.noty_bar.noty_theme_acc .noty_message {
	padding: 8px 14px;
}
/* noty_has_close_button */
.noty_bar.noty_theme_acc.noty_closable .noty_message {
	padding: 8px 35px 8px 14px;
}

/* noty_buttons */
.noty_bar.noty_theme_acc .noty_message .noty_buttons {
	float: right;
	margin-top: -5px;
	margin-left: 4px;
}

/* noty_button */
.noty_bar.noty_theme_acc .noty_message .noty_buttons button {
	margin-left: 5px;
}

/* noty close button */
.noty_bar.noty_theme_acc .noty_close {
	position: absolute;
	top: 7px;
	right: 16px;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #000;
	opacity: 0.2;
	text-shadow: 0 1px 0 #fff;
}

/* noty close button hover */
.noty_bar.noty_theme_acc .noty_close:hover {
	opacity: 0.4;
}

.noty_bar.noty_theme_acc .noty_close:after {
	content: "x";
}

/* noty modal */
.noty_modal.noty_theme_acc {
	opacity: 0.7;
}
	
/* LAYOUTS */

/* noty_layout_topLeft & noty_layout_topRight */
.noty_bar.noty_theme_acc.noty_layout_center,
.noty_bar.noty_theme_acc.noty_layout_topCenter,
.noty_bar.noty_theme_acc.noty_layout_topLeft,
.noty_bar.noty_theme_acc.noty_layout_topRight,
.noty_bar.noty_theme_acc.noty_layout_bottomLeft,
.noty_bar.noty_theme_acc.noty_layout_bottomRight {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.noty_bar.noty_theme_acc.noty_layout_topLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_acc.noty_layout_topRight .noty_message .noty_buttons,
.noty_bar.noty_theme_acc.noty_layout_bottomLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_acc.noty_layout_bottomRight .noty_message .noty_buttons {
	float: none;
	border-top: 1px solid #FBEED5;
  margin-left: 0;
  margin-top: 10px;
  padding-top: 10px;
  text-align: right;
}

.noty_bar.noty_theme_acc.noty_layout_center .noty_message .noty_buttons,
.noty_bar.noty_theme_acc.noty_layout_topCenter .noty_message .noty_buttons {
	margin-left: 15px;
	margin-top: -2px
}

.noty_theme_acc.noty_error {
  background: $flame-red;
  border-bottom: 5px solid $flame-red;
  color: #fff;
}

.noty_theme_acc.noty_success {
  background: $deep-green;
  border-bottom: 5px solid $deep-green;
  color: #fff;
}

.noty_theme_acc.noty_information {
  background: $deep-blue;
  border-bottom: 5px solid $deep-blue;
  color: #fff;
}