@import "admin/variables.scss";
@import "admin-unicorn-bootstrap";
@import "simple_form";
@import "sublime.playlists";
@import "admin/accordion";
@import "admin/assessment-summary";
@import "admin/data-boolean-radio-group-set";
@import "admin/slider-with-input";
@import "admin/dnd";
@import "admin/fill-gap-preview";
@import "admin/form-single-column";
@import "admin/image-preview";
@import "admin/learning-outcomes-nested-form";
@import "admin/moo_icons";
@import "admin/nested-fields-as-table";
@import "admin/pagination";
@import "admin/table-horizontal";
@import "admin/table-nested-form";
@import "admin/table-padded";
@import "admin/table-sortable-lookalike";
@import "admin/table-with-centered-content";
@import "admin/table-with-row-numbers";
@import "admin/ui-slider";
@import "admin/upload-options";
@import "admin/widesearch";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

#search input[type="text"]
{
  width: 240px;
}

.error {
  color: red;
  font-weight: bold;
}

.alert-form {
  @include border-radius(0);
  margin-bottom: 0;
  padding-left: 0;
  .message {
    margin-left: 200px;
  }
}

//Unicorn theme overrides

.widget-content {
  .sub {
    text-align: center;
  }
}

.admin-outcomes {
  ul {
    input {
      margin-top: 10px;
    }
  }
  li {
    padding: 10px 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #fff;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  input[type="text"] {
    font-size: 14px;
    padding: 5px;
  }
  .widget-content {
    td {
      vertical-align: middle;
    }
  }
  h4 {
    margin-top: 20px;
  }
}

.slider-group {
  padding-right: 40px;
  li {
    position: relative;
  }
}

.admin-outcomes {
  ul {
    input.amount {
      margin-top: 20px;
      width: 40px;
    }
  }
}

.amount {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 40px;
  + span {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}

.allocation-points {
  span {
    // Change border radius to mixin
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    display: block;
    text-align: center;
    border: 1px solid #0064cd;
    background: #0064cd;
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    color: #fff;
    font-size: 50px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin-top: 40px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    font-weight: 900;
  }
}

.allocation-min {
  margin-top: 20px;
}

.radio {
  padding-left: 0;
  margin-right: 10px;
  .ui-button-text {
    .radio {
      padding-left: 0;
    }
  }
}

form {
  .widget-content {
    h5 {
      margin: 10px 0;
    }
    textarea {
      max-width: 100%;
    }
    img {
      margin: 20px 0;
    }
    .radio {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.multiple-choice {
  th {
    text-align: left;
  }
  .radio {
    margin: 0 0 0 6px;
  }
  input {
    margin-bottom: 0;
  }
}

