@import "admin-unicorn-bootstrap";
@import "sublime.playlists";
@import "admin/dnd";
@import "admin/moo_icons";
@import "admin/upload-options";
@import "admin/ui-slider";
@import "admin/widesearch";

#search input[type="text"]
{
  width: 240px;
}

//Unicorn theme overrides

.widget-content {
  .sub {
    text-align: center;
  }
}

.admin-outcomes {
  ul {
    input {
      margin-top: 10px;
    }
  }
  li {
    padding: 10px 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #fff;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  input[type="text"] {
    font-size: 14px;
    padding: 5px;
  }
  .widget-content {
    td {
      vertical-align: middle;
    }
  }
  h4 {
    margin-top: 20px;
  }
}

.radio input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: 0 10px 0 0;
}

.checkbox-inline input[type="checkbox"] {
  margin-top: -2px;
}

.slider-group {
  padding-right: 40px;
  li {
    position: relative;
  }
}

.admin-outcomes {
  ul {
    input.amount {
      margin-top: 20px;
    }
  }
}

.amount {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 40px;
  + span {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}

.allocation-points {
  span {
    // Change border radius to mixin
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    display: block;
    text-align: center;
    border: 1px solid #0064cd;
    background: #0064cd;
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    color: #fff;
    font-size: 50px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    margin-top: 40px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
    font-weight: 900;
  }
}

.allocation-min {
  margin-top: 20px;
}

.radio {
  padding-left: 0;
  margin-right: 10px;
  .ui-button-text {
    .radio {
      padding-left: 0;
    }
  }
}

.admin-sortable {
  margin-left: 0;
  overflow: auto;
  .well {
    padding: 20px;
    margin: 10px 0;
    .row-fluid {
      margin-top: 0;
    }
  }
  li {
    input {
      margin-top: 0;
    }
  }
  .admin-sortable-image {
    margin-top: 20px;
  }
  .ui-state-default {
    &:hover {
      cursor: pointer;
    }
  }
}

.sortable {
  li {
    display: block;
  }
}

.admin-badge {
  display: block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  padding: 10px;
  width: 14px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

form {
  .widget-content {
    h5 {
      margin: 10px 0;
    }
    textarea {
      max-width: 100%;
    }
    img {
      margin: 20px 0;
    }
    .radio {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.add-value {
  th {
    text-align: left;
  }
  .radio {
    margin: 0;
  }
  input {
    margin-bottom: 0;
  }
  &.table {
    width: auto;
    max-width: 540px;
  }
}

.full-width {
  width: 100%;
}

.table-padded {
  th {
    padding: 20px;
    font-size: 14px;
  }
  td {
    padding: 20px;
    text-align: center;
    &.question {
      text-align: left;
    }
  }
}

// Assessment summary view

.assessment-summary {
  .widget-title {
    position: relative;
    h4 {
      margin-left: 20px;
      line-height: 35px;
      width: 75%;
      height: 34px; //Truncate with CSS
      overflow: hidden;
    }
    .label {
      position: absolute;
    }
    .label {
      margin: 0;  
      right: 15px;
      top: 9px;
    }
  }
  .widget-content {
    h4 {
      color: #999;
      text-shadow: 0 1px 0 #fff;
      font-weight: 300;
    }
  }
  table {
    td {
      text-align: center; 
    }
  }
}

// Accordion overrides

.accordion {
  margin-bottom: 0;
}

.accordion-group {
  margin-bottom: 0;
  .widget-content {
    padding: 0;
  }
}

.accordion-heading {
  background-color: #efefef;
  background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
  border-radius: 0;
}


.accordion-toggle {
  h4 {
    position: relative;
    .up {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    .down {
      display: none;
    }
  }
  &.collapsed {
    .down {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
    .up {
      display: none;
    }
  }  
}

.accordion-inner {
  padding: 0;
  .table {
    border-radius: 0;
    margin-bottom: 0;
  }
}

.table-padded { 
  &.mc,
  &.table-sequence {
    td {
      text-align: left;
      li {
        margin: 10px 0;
      }
    }
  }
}

.fg-list {
  li {
    line-height: 32px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.draggable { 
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 100px;
  height: 20px;
  padding: 2px;
  background: #d9edf7;
  border: 1px solid #bce8f1;
  margin-bottom: 4px;
}

.droppable {
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 5px;
  margin: 0 10px -10px 10px;
  background: #fcf8e3;
  border: 1px solid #fbeed5;
  text-align: center;
  line-height: 20px;
}

.ui-state-active {
  background: #fbeed5;  
}

.fg-words,
.fg-list {
  margin: 20px 0;
  padding: 20px;
  border: 5px solid #d9edf7;
}

.fg-define-words {
  em {
    display: block;
    margin-bottom: 20px;
  }
}

.sortable {
  list-style-type: none;
  padding-left: 0;
  li {
    &:hover {
      cursor: move;
    }
  }
}

.sortable-text { 
  padding-left: 0;
  li {
    position: relative;
    z-index: 0;
    margin: 0 5px 10px -24px;
    padding: 7px 5px 3px 40px;
    font-size: 15px;
    line-height: 21px;
    min-height: 22px;
    background: #d9edf7;
    border: 1px solid #bce8f1;
    span {
      position: absolute;
      z-index: 1;  
      padding: 7px 5px 3px 5px;
      background: #d9edf7;
      height: 22px;
      top: 0;
      left: 0;
    }
  }
}

.sortable-image {
  h3 {
    margin: 10px 0 0 0;
    padding: 0;
    border: none;
    background: none;
  }
  img + p {
    margin-top: 10px;
  }
}

.sortable-disabled {
  list-style-type: none;
  li {  
    &:hover {
      cursor: default;
    }
  }
}

.sortable-match {
  .sortable-text {
    li {
      font-size: 12px;
      height: 44px;
    }
  } 
}

.sortable-match-left {
  li {
    background: #fcf8e3;
    border-color: #fbeed5;
    span {
      background: #fcf8e3;
    }
  }
}

.sequence {
  min-height: 400px;
  &.image-question {
    min-height: 280px;
    .sortable {
      margin-left: 0;
    }
  }
}

.sortable-match-admin {
  .table {
    margin-top: 20px;
    td {
      text-align: center;
      vertical-align: middle;
      input[type="text"] {
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width : 1200px) {

  .sortable-match {
    .sortable-text {
      li {
        height: 65px;
      }
    }
  }
 

}






