//= require jquery.noty.css
//= require _noty.css
//= require fancybox/jquery.fancybox-1.3.4.css
//= require jquery.timepicker.css
//= require jquery-ui.css
//= require jquery_custom.scss
//= require sublime.playlists.css
//= require bootstrap_loader


@font-face {
  font-family: 'acc-custom';
  src: asset-url('/assets/acc-custom.eot', font);
  src: asset-url('/assets/acc-custom.eot?#iefix', font) format('embedded-opentype'),
    asset-url('/assets/acc-custom.svg#miskini-custom', font) format('svg'),
    asset-url('/assets/acc-custom.woff', font) format('woff'),
    asset-url('/assets/acc-custom.ttf', font) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.autocomplete ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0; // override default ul
  list-style: none;
  background-color: #fff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  li {
    line-height: 18px;
    list-style: none;
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    line-height: 18px;
    padding: 3px 15px;
    white-space: nowrap;
  }
  li:hover, li.selected {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
  }
}