@import "compass/css3";
@import "blueprint/grid";

$blueprint-grid-columns : 4;
$blueprint-grid-width   : 230px;
$blueprint-grid-margin  : 5px;

body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

a, a:visited { color: #64cc33; }

body > section {
  position: relative;
  div#header-background {
    height: 171px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
  }

  header {
    @include container;
    position: relative;
    > a {
      position: relative;
      @include column(2);
      h1 { text-decoration: none; color: #fff; }
    }
  }
}

article {
  @include container;
  margin-top: 20px;
  p.notice { @include column(4); }
  aside { @include column(2); }
  section { @include column(2); }
  img { padding-top: 45px; }
  section#left { @include column(1); }
  section#general {
    @include column(2);
    a { font-weight: bold; }
  }
}

aside#text {
  margin: 30px 0 0 50px;
  float: left;

  ul li {
    font-size: 16px;
    padding: 0 0 20px 0;
  }
}

form.formtastic {
  div { padding-bottom: 10px; }
  label { display: block; }
  div.boolean {
    label { display: inline; }
  }
  li {
    p.inline-hints {
      color: #64cc33;
      font-weight: bold; }
  }
  div.radio {
    span {
      padding-top: 5px;
      display: block;
      label { display: inline; }
    }
  }
  a { font-weight: bold; }
}

h1, h2, h3, h4 { font-family: "Museo Sans", Georgia; }