.simple_form {
  .error_notification {
    border: thin solid #b94a48; // $bloodred;
    color: #b94a48; // $bloodred;
    font-weight: bold;
    margin: 1em;
    padding: 1em;
  }

  .control-group.boolean.inline {
    label.checkbox {
      padding: 0;
    }
  }

  .help-block-as-instructions {
    font-style: italic;
    color: #555555;
  }

  p.simple-form-instructions {
    font-style: italic;
    margin-bottom: 1em;
  }

}
