// ACC ONLINE
// .scss file table of contents:

// Ctrl + C section heading, Ctrl + F to locate the section. Much easier.
/////////////////////////////////////////////////////////////////////////

// 1. VARIABLES AND IMPORTS.
// 2. LAYOUTS AND SCAFFOLDING OVERRIDES
// 3. TYPOGRAPHY
// 4. BUTTONS
// 5. PROGRESS BARS
// 6. BOX STYLES
// 7. LABELS & BADGES
// 8. NAVBAR OVERRIDES
// 9. THUMBNAILS OVERRIDES
// 10. SPRITES OVERRIDES
// 11. DATEPICKER OVERRIDES
// 12. LOGIN BOX
// 13. WELCOME AND DASHBOARD
// 14. RECORDS
// 15. LEARNING PLANS
// 16. RESOURCES
// 17. FORM STYLES
// 18. VIDEO THUMBNAILS
// 19. SESSION MANAGER SECTION
// 20. SINGLE PLAN
// 21. SIDEBAR
// 22. FOOTER
// 23. ASSESSMENT SECTION
// 24. SORTABLE UI COMPONENTS
// 25. DRAG AND DROP UI COMPONENTS

/////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////













// 1. VARIABLES AND IMPORTS
/////////////////////////////////////////////////////////////////////////

/* Main bootstrap file from bootstrap-sass */
@import "bootstrap";

@import "bootstrap/variables";
$assetPath:               '/assets/';
$bgImgNoiseLight:         asset-path("bg-noiselight.jpg", image);
$bgImgNoiseDark:          asset-path("bg-noisedark.jpg", image);

$grayLighten:           #ccc; 

// Accent colors
// -------------------------
$blueLight:             #57b6ea;
$blueDark:              #0d63a7;

// Custom colors
$grayBody:                    #f5f5f5;
$bluePastel:                  #00a2e5;
$greenPastel:                 #66cc33;
$btnInfoBackground:           $blueLight;
$btnInfoBackgroundHighlight:  darken($blueLight, 12%);

$maroon:                      #721c15;
$yellow:                      #ffc40d;
$bloodred:                    #b94a48;


// Scaffolding
// Base spatial unit : $gridGutterWidth (20px)
// -------------------------
$bodyBackground:        $grayBody; 
$navbarCollapseWidth:   767px;

// Links
// -------------------------
$linkColor:             $blueDark;

// Typography
// -------------------------
$normal:                400;
$semibold:              600;
$baseFontSize:          13px;
$baseLineHeight:        18px;         // Old line height. Was previously being used for scaffolding. Now it's applied to type only. 
$fontSizeLarge:         $baseFontSize + 5; // ~18px
$fontSizeSmall:         $baseFontSize - 1; // ~12px
$dashStatsFontSize:     50px;

$sansFontFamily:        "proxima-nova", Helvetica, Arial, sans-serif;


$headingsFontWeight:    $semibold;    // instead of browser default, bold
$headingsColor:         $gray; // empty to use BS default, $textColor
 
// Tables
$btnSuccessBackground:              $greenPastel;

$btnWarningBackground:              $orange;

$btnDangerBackground:               #b22222;

// Sprite icons path
// -------------------------
$iconSpritePath:          asset-path("glyphicons-halflings.png", image);
$iconWhiteSpritePath:     asset-path("glyphicons-halflings-white.png", image);

// Hr border color
// -------------------------
$hrBorder:                $grayLighten;

// Navbar
// -------------------------
$navbarHeight:                    60px;
$navbarBackground:                $blueDark;
$navbarBackgroundHighlight:       $blueLight;

$navbarLinkColor:                 $white;

$navbarLinkBackgroundHover:       lighten($navbarBackground, 5%);

$successText:             $greenPastel;

@import "bootstrap/mixins.scss";
@import "bootstrap/layouts.scss";
@import "bootstrap/navbar.scss";
@import "bootstrap/navs.scss";

@import "bootstrap/scaffolding.scss";

// Components - common
@import "bootstrap/type.scss";
@import "bootstrap/sprites.scss";

// Buttons and alerts
@import "bootstrap/buttons.scss";

// Misc. 
@import "bootstrap/progress-bars.scss";
@import "bootstrap/thumbnails.scss";

// Used in our Bootstrap Datepicker
@import "datepicker.scss";

// Reponsive layouts
@import "bootstrap/responsive-utilities.scss";

// Media queries
@import "bootstrap/responsive-768px-979px.scss";
@import "bootstrap/responsive-767px-max.scss";

//Responsive Navbar
@import "bootstrap/responsive-navbar.scss";


// 2. LAYOUTS AND SCAFFOLDING OVERRIDES
/////////////////////////////////////////////////////////////////////////


// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  padding-right: $gridGutterWidth;
  padding-left: $gridGutterWidth;
}

// Reset the margin of li unit for each row. Emulate bootstrap thumbnail behaviour.
ul.row-fluid {
  li {
    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }
}

// 3. TYPOGRAPHY
/////////////////////////////////////////////////////////////////////////


// Icon font declaration - do not override or remove.
[data-icon]:before {
  font-family: 'acc-custom';
  content: attr(data-icon);
  speak: none;
}

body {
  font-family: "proxima-nova",Helvetica,Arial,sans-serif;
  font-weight: 400;
  padding-bottom: $gridGutterWidth * 2;
}

a {
  text-decoration: underline;
  &.btn {
    text-decoration: none;
  }
}

a.done {
  color: $blueDark !important;
  margin-left: 20px;
}

a.cancel {
  color: $red !important;
  margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $blueDark;
  margin-top: 0;
  small {
    color: $gray;
  }
}

h1, h2 {
  font-size: $fontSizeLarge;
  line-height: $baseLineHeight + 6;
}

h2 {
  small {
    font-size: $baseFontSize + 3;
  }
}

h3 {
  font-size: $baseFontSize + 1;
}

h3, h4, h5, h6 {
  line-height: $baseLineHeight;
}

h4 {
  font-size: $fontSizeSmall;
}

h5 {
  font-size: $fontSizeSmall - 1;
}

h6 {
  font-size: $fontSizeSmall - 2;
}

hr {
  border-bottom: none;
}

.highlight {
  color: $blueLight;
}

.timer {
  display: block;
  color: $gray;
  font-size: $fontSizeLarge + 6;
  line-height: $baseLineHeight + 12;
  font-weight: 600;
  text-align: right;
  width: 100%;
}

.question {
  h2 {
    font-size: $fontSizeLarge + 4;
  }
  h3 {
    font-size: $baseFontSize + 3;
    line-height: $baseLineHeight + 3;
    color: $gray;
  }
  h4 {
    font-size: $baseFontSize + 2;
  }
  .correct, .incorrect {
    h3 {
      color: $grayLight;
    }
  }
}

.completed {
  h2 {
    font-size: $fontSizeLarge + 20;
    text-transform: uppercase;
  }
  p {
    font-size: $fontSizeLarge + 4;
    line-height: $baseLineHeight + 6;
  }
  &.correct {
    h2 {
      color: $gray;
    }
    p {
      color: $gray;
    }
  }
  &.incorrect {
    h2 {
      color: $gray;
    }
    p {
      color: $gray;
    }
  }
}


// 4. BUTTONS
/////////////////////////////////////////////////////////////////////////

.btn {
  padding: 4px 10px 4px;
  text-shadow: none;
  box-shadow: none;
  font-family: $sansFontFamily;
  &.btn-3d {
    @include buttonBackground($btnBackground, $btnBackgroundHighlight);
    color: $grayDark;
    font-size: $baseFontSize;
    text-shadow: none;
    &:hover, &.active {
      color: $grayDark;
      text-shadow: none;
    }
  }
  &.btn-flat {
    border: none;
    font-weight: 600;
    text-shadow: none;
    @include buttonBackground($btnBackground, $btnBackground);
  }
  &.btn-wide {
    width: 100%;
    @include box-sizing(border-box);
  }
}

.btn-inverse:hover {
  color: $white;
  text-shadow: none;
}

.btn-primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
  &.btn-flat {
    @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackground);
  }
}

// Warning appears are orange
.btn-warning {
  @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
  &.btn-flat {
    @include buttonBackground($btnWarningBackground, $btnWarningBackground);
  }
}

// Danger and error appear as red
.btn-danger {
  @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
  &.btn-flat {
    @include buttonBackground($btnDangerBackground, $btnDangerBackground);
  }
}

// Success appears as green
.btn-success {
  @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
  &.btn-flat {
    @include buttonBackground(lighten($btnSuccessBackground, 10%), lighten($btnSuccessBackground, 10%));
  }
}

// Info appears as a neutral blue
.btn-info {
  @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
  &.btn-flat {
    @include buttonBackground(lighten($btnInfoBackground, 10%), lighten($btnInfoBackgroundHighlight, 10%));
  }
}

// BUTTON CUSTOMISATIONS

.btn-large {
  font-size: $baseFontSize + 2;
}

.btn-largest { 
  font-size: $fontSizeLarge;
  padding: 10px 20px;
}

.navbar {
  .btn {
  padding: 7px;
  }
  .btn-navbar {
    border-color: inherit;
    box-shadow: none;
  }
}

.settings-btn {
  padding: 10px 30px 10px 10px;
  position: relative;
  margin: 12px 0 12px 5px;
  text-shadow: none;
  @include box-sizing(border-box);
  .icon {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

// 5. PROGRESS BARS
/////////////////////////////////////////////////////////////////////////

// Override base background colour / gradient
.progress {
  @include gradient-vertical(#ccc, #e9e9e9);
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
}

// Danger (red)
.progress-danger .bar, .progress .bar-danger {
  @include gradient-vertical(#cfcfcf, #c1c1c1);
}
.progress-danger.progress-striped .bar, .progress-striped .bar-danger {
  @include gradient-striped(#ee5f5b);
}

// Success (green)
.progress-success .bar, .progress .bar-success {
  @include gradient-vertical(lighten(#468847, 15%), #468847);
}

.progress-success.progress-striped .bar, .progress-striped .bar-success {
  @include gradient-striped(#468847);
}

// Info (teal)
.progress-info .bar, .progress .bar-info {
  @include gradient-vertical(#5bc0de, #339bb9);
}
.progress-info.progress-striped .bar, .progress-striped .bar-info {
  @include gradient-striped(#5bc0de);
}

// Pending (yellow)
.progress-pending .bar, .progress .bar-pending {
  @include gradient-vertical(lighten($yellow, 15%), $yellow);
}
.progress-pending.progress-striped .bar, .progress-striped .bar-pending {
  @include gradient-striped(lighten($yellow, 15%));
}

// Warning (orange)
.progress-warning .bar, .progress .bar-warning {
  @include gradient-vertical(lighten($orange, 15%), $orange);
}
.progress-warning.progress-striped .bar, .progress-striped .bar-warning {
  @include gradient-striped(lighten($orange, 15%));
}

// Overdue (maroon)
.progress-overdue .bar, .progress .bar-overdue {
  @include gradient-vertical(lighten($maroon, 15%), $maroon);
}
.progress-overdue.progress-striped .bar, .progress-striped .bar-overdue {
  @include gradient-striped(lighten($maroon, 15%));
}

// Default (standard gray)
.progress-default .bar, .progress .bar-default {
  @include gradient-vertical(lighten(#999, 15%), #999);
}
.progress-default.progress-striped .bar, .progress-striped .bar-default {
  @include gradient-striped(lighten(#999, 15%));
}

.progress-plan {
  .bar {
    @include box-sizing(border-box);
    float: left;
  }
}

.progress {
  height: 24px;
  p {
    color: $grayLight;
    margin: 3px 5px;
  }
}

.progress .bar {
  height: 24px;
}


// 6. BOX STYLES
/////////////////////////////////////////////////////////////////////////

.box {
  @include border-radius(5px);
  @include box-shadow(0 3px 7px $grayLighten);
  background-color: $white;
  padding: $gridGutterWidth;
  margin: 0 0 ($gridGutterWidth);
  overflow: auto;
  h1 {
    font-size: $fontSizeLarge - 2;
    line-height: $baseLineHeight + 6;
    min-height: 45px;
  }
  h2 {
    line-height: $baseLineHeight;
    font-size: $fontSizeLarge - 2;
    font-weight: 600;
  }
  hr {
    margin: 10px 0;
  }
}

.minheight-overflow {
  min-height: 150px;
  overflow: hidden;
}

.actionable {
  cursor: pointer;
  &:hover {
    @include box-shadow(0 3px 7px $grayLight);
  }
}

.box-list {
  .header {
    margin-bottom: $gridGutterWidth;
    overflow: auto;
    h1 {
      float: left;
    }
    a {
      float: right;
    }
  }
  li, .span4 {
    &.unpad {
      margin-left: 0;
    }
  }
  .box {
    margin-bottom: $gridGutterWidth;
    padding: ($gridGutterWidth / 2);
    h3, h4 {
      font-size: $baseFontSize + 1;
      font-weight: $normal;
      line-height: $baseLineHeight;
    }
  }
  ul {
    &.thumbnails {
      margin: 0;
      > li {
        margin-bottom: $fluidGridGutterWidth;
      }
    }
  }  
}

.unpad {
  padding: 0;
}

.headerblock {
  min-height: 100px;
  max-height: 100px;
}

.input-append {
  .btn-info {
    padding: 5px 10px 5px;
  }
}

// 7. LABELS & BADGES
/////////////////////////////////////////////////////////////////////////


// - All badges should follow the below hierachy
// - '.badge' base styles should not be overriden. Preserve out of the box BS styles for future use.

.badge-rounded {
  @include border-radius(100px);
  padding: 0 0 0 1px;
  display: block;
  text-align: center;
  color: $white;
  font-style: normal !important;
  margin: 0 auto;
}

// Badge sizes

.badge-largest {
  width: 99px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;  
}

.badge-large {
  width: 69px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
}

.badge-medium {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
}

.badge-small {
  width: 39px;
  height: 40px;
  line-height: 40px;
  font-size: $fontSizeLarge;
}

.badge-smallest {
  width: 31px;
  height: 32px;
  line-height: 32px;
  font-size: $baseFontSize + 3;  
}

// Label sizes

.label-large {
  display: inline-block;
  width: 85px;
  height: 90px;
  overflow: hidden;
  text-align: center;
}

.label-small {
  font-size: $fontSizeLarge + 2;
  line-height: $baseLineHeight;
  font-weight: $semibold;
  padding: 4px;
}

// Badge Colours

.badge-pending {
  background-color: $yellow;
}
.badge-overdue {
  background-color: darken($red, 10%);
}

// Label Colours

.label-overdue {
  background-color: $maroon;
}

.label-pending {
  background-color: $yellow;
}

// COLOR OVERRIDES

.muted {
  color: $grayLighten;
}

// 8. NAVBAR OVERRIDES
/////////////////////////////////////////////////////////////////////////


.navbar {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}

// Gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  background: $navbarBackground;
  //padding-left:  inherit;
  //padding-right: inherit;
  //#gradient > .vertical($navbarBackground, $navbarBackground);
  border: none;
  border-radius: 0;
  box-shadow: none;
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin
.navbar .container {
  width: 940px;
}

.navbar .nav {
  &.nav-sub {
    font-size: 11px;
    font-weight: $normal;
    line-height: 11px;
    text-transform: uppercase;
    .btn-large {
      font-size: 13px;
      line-height: 11px;
      text-transform: capitalize;
    }
  }
}
.navbar {
  .nav {
    > li {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 2px;
        height: 59px;
        margin: 0;
        overflow: hidden;
        background-image: asset-url("bg-nav-divider.png", image);
        border-right: none;
      }
      > a {
        line-height: 13px;
        padding: 23px 25px;
        text-shadow: 0 -1px 0 transparentize($black, .75);
        &:hover {
          color: $white;
          text-shadow: 0 -1px 0 $black;
          background-color: $navbarLinkBackgroundHover;
        }
        &.current {
          background-color: darken($navbarBackground, 5%);
        }
      }
    }
  }
  .nav-sub {
    > li {
      &::after {
        display: none;
      }
      > a {
        $elementHeight: 20px;
        padding: (($navbarHeight - $elementHeight) / 2 + 3) 10px;
      }
      > a.btn {
        padding: 10px;
        margin: 12px 0 12px 5px;
      }
    }
  }
}

.navbar {
  .divider-vertical {
    width: 2px;
    margin: 0;
    overflow: hidden;
    background-image: asset-url('bg-nav-divider.png', image);
    border-right: none;
  }
}

.nav-tabs {
  margin-bottom: 0;
  a {
    text-decoration: none;
  }
}

.tab-content {
  padding: $gridGutterWidth;
}

// 9. THUMBNAILS OVERRIDES
/////////////////////////////////////////////////////////////////////////


// The actual thumbnail (can be `a` or `div`)
.thumbnail {
  padding: 0px;
  border: none;
  @include box-shadow(0 1px 1px rgba(0,0,0,.075));
}

// Add a hover state for linked versions only
a.thumbnail:hover {
  border-color: none;
  box-shadow: none
}


// 10. SPRITES OVERRIDES
/////////////////////////////////////////////////////////////////////////


.icon {
  display: inline-block;
  font-family: 'acc-custom';
  vertical-align: text-top;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: asset-path($iconSpritePath, image);
}

.icon-white {
  background-image: asset-path($iconWhiteSpritePath, image);
}

.icon-fullscreen { 
  background-position: -456px -144px; 
}

// 11. DATEPICKER-OVERRIDES
/////////////////////////////////////////////////////////////////////////


// Datepicker for Bootstrap
//
// Copyright 2012 Stefan Petre
// Licensed under the Apache License v2.0
// http://www.apache.org/licenses/LICENSE-2.0
//

.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

.datepicker::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}

.datepicker > div {
  display: none;
}

.datepicker table {
  width: 100%;
  margin: 0;
}

.datepicker td, .datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.old, .datepicker td.new {
color: #999999;
}

.datepicker td.active, .datepicker td.active:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  background-color: #0044cc;
}

.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}

.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td span:hover {
  background: #eeeeee;
}

.datepicker td span.active {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td span.active:hover,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  background-color: #0044cc;
}

.datepicker td span.active:active, .datepicker td span.active.active {
  background-color: #003399 \9;
}

.datepicker td span.old {
  color: #999999;
}

.datepicker th.switch {
  width: 145px;
}

.datepicker thead tr:first-child th {
  cursor: pointer;
}

.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.mini {
  float: left !important;
  margin-right: 10px;
  width: 80px;
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.add-input {
  margin: -10px 0;
  > div {
    margin: 10px 0;
  }  
  h3 {
    margin: 0; 
    span {
      color: $blue;
    }
    &.disabled {
      color: $grayLight;
    }
  }
  .span6 {
    overflow: auto;
    h3 {
      color: $blue;
      margin: 0 0 15px;
    }
  }
  .radio {
    display: block;
    clear: left;
    float: left;
    margin-left: 1px;
    input[type="radio"] {
      margin-top: 0;
    }
  }
  .controls {
    > .radio:first-child {
      padding-top: 0;
    }
  }
}

.icon-arrow-left {
  background: asset-path($iconSpritePath, image);
  background-position: -240px -96px;
}

.icon-arrow-right {
  background: asset-path($iconSpritePath, image);
  background-position: -264px -96px;
}

// 12. LOGIN BOX
/////////////////////////////////////////////////////////////////////////


.login {
  text-align: center;
  margin: $gridGutterWidth auto;
  width: 300px;
  .logoblock {
    background-color: $blueDark;
    margin: $gridGutterWidth 0;
  }
  .submit {
    margin-bottom: $gridGutterWidth * 2;
  }
  .btn {
    width: auto;
  }
}

.nav-xtra {
  margin-bottom: 0;
}

.contentblock {
  header {
    margin-bottom: $gridGutterWidth;
  }
}

.mainheader {
  h1 {
    margin-bottom: $gridGutterWidth;
  }
}

.iconlist {
  margin-bottom: 0;
  li {
    font-size: 14px;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .icon {
    font-size: 14px;
    margin-right: 5px;
    width: 15px;
  }
}

.icon {
  &.prepend {
    margin-right: 5px;     
  }
}
.thumbnails > li {
  margin-bottom: 15px;
  &:nth-child(3n+1) {
    clear: both;
    margin-left: 0;
  }
}

ul.inline {
  li {
    float: left;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.actions {
  li.cancel, li.done {
    padding-top: 5px;
  }
}

// 13. WELCOME AND DASHBOARD
/////////////////////////////////////////////////////////////////////////


.welcome {
  text-align: right;
  margin-bottom: $gridGutterWidth;
  h1 {
    font-size: $fontSizeLarge + 6;
    margin: 0;
  }
  h2 {
    color: $grayLight;
    font-size: $baseFontSize;
    font-style: italic;
    font-weight: $normal;
    line-height: $baseLineHeight - 2;
    margin: 0;
  }
}

.dashboard.wrapper {
  .welcome {
    h1 {
      font-size: $fontSizeLarge;
      color: $gray;
    }
  }
}

.box-dash {
  li {
    padding: 9px 0;
    display: block;
    float: left;
    height: auto;
    text-align: center;
    width: 20%;
  }
  h1 {
    color: $gray;
    font-size: $dashStatsFontSize;
    line-height: 1;
  }
  h2 {
    color: $grayLight;
    font-size: 12px;
    font-style: italic;
    font-weight: $normal;
    line-height: 12px;
  }
}

.box-progress {
  margin: $gridGutterWidth 0 0;
  color: $blueLight;
  text-align: center;
  font-style: italic;
  line-height: $baseLineHeight - 5;
}

.widesearch {
  position: relative;
  width: 100%;
  background: $grayLighter;
  margin-bottom: $gridGutterWidth;
  border: 1px solid $grayLight;
  overflow: none;
  padding: 10px;
  @include border-radius(5px);
  @include box-sizing(border-box);
  .control-group, .input-append {
    margin-bottom: 0;
    .btn {
      margin-left: -13px;
    }
  }
  .controls {
    height: 28px;
  }
  .searchfield {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90%;
  }
  .btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    @include box-sizing(border-box);
  }
}

// 14. RECORDS
/////////////////////////////////////////////////////////////////////////


.records {
  margin: ($gridGutterWidth) 0;
  &.box {
    padding: 0 ($gridGutterWidth);
  }
  .record {
    clear: both;
    display: block;
    overflow: auto;
    .header {
      overflow: auto;
    }
    .thumbnail, .assessment {
      margin-right: 20px;
    }
    .label {
      display: inline-block;
      font-size: 16px;
      line-height: 10px;
      padding: 5px;
      @include box-sizing(border-box);
    }
    .details {
      float: left;
      max-width: 80%;
    }
    .actions {
      float: right;
      .btn-small {
        line-height: $baseLineHeight - 1;
        padding: 2px 10px;
        .icon {
          font-size: 14px;
          line-height: 17px;
          margin-top: -1px;
        }
      }
    }
    h3 {
      font-size: $baseFontSize + 3;
      margin-bottom: 0;
    }
    h4 {
      font-size: $baseFontSize + 1;
      margin: 10px 0 0;
      color: $black;
    }
  }
  .record-split {
    border-bottom: 1px solid $grayLighter;
    padding-bottom: 10px;
    .inline {
      display: inline;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  hr {
    clear: both;
  }
}

.record {
  padding: ($gridGutterWidth) 0;
  border-bottom: 1px solid $grayLighten;
  &:last-child {
    border-bottom: none;
    padding-bottom: 20px;
  }
  .status-label {
    display: block;
    margin-top: 4px;
    text-align: center;
  }
  .inline {
    position: relative;
    display: block;
    overflow: auto;
    .timestamp {
      position: absolute;
      top: 0;
      right: 20px;
      span {
        font-style: normal;
        display: inline-block;
        margin-left: 10px;
      }
    }
    .author {
      position: absolute;
      right: 20px;
      bottom: 0;
    }
  }
}

.box-lr {
  h1 {
    float: left;
    margin-bottom: $gridGutterWidth;
  }
  a {
    float: right;
  }
  .recordslist {
    background-color: $white;
    @include border-radius(5px);
    @include box-sizing(border-box);
    overflow: auto;
    padding: ($gridGutterWidth / 2);
    li {
      &.divider-horizontal {
        hr {
          border-top: 1px solid $grayLighter;
          margin: ($gridGutterWidth / 2) 0;
        }
      }
      display: block;
      overflow: auto;
      ul.record {
        li {
          display: block;
          float: left;
          &.details {
            margin: 0 $gridGutterWidth;
          }
          p {
            margin: 0;
          }
        }
        ul.inline {
          li {
            margin-right: 20px;
          }
        }
      }
      .actions {
        float: right;
        margin-top: 0;
        li {
          float: left;
          margin-left: 5px;
          overflow: hidden;
          .btn-small {
            line-height: $baseLineHeight + 2;
            padding: 1px 10px;
            .icon {
              font-size: 14px;
              line-height: $baseLineHeight - 1;
              margin-top: -1px;
            }
          }
        }
      }
    }
  }
}

.records {
  ul {
    margin-bottom: 0;
    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// 15. LEARNING PLANS
/////////////////////////////////////////////////////////////////////////


li.plan {
  background: $white;
  margin-bottom: $gridGutterWidth;
  @include border-radius(5px);
  @include box-sizing(border-box);
  padding: ($gridGutterWidth / 2);
  h3, h4 {
    font-size: $baseFontSize + 1;
    line-height: $baseLineHeight;
  }
  ul {
    &.thumbnails {
      margin: 0;
      > li {
        margin-bottom: $fluidGridGutterWidth;
      }
    }
  }
}

.program {
  header {
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
  }
  h1 {
    font-size: $fontSizeLarge - 2;
    line-height: $baseLineHeight + 6;
  }
  img {
    width: 100%;
  }
}

// 16. RESOURCES
/////////////////////////////////////////////////////////////////////////


.resources {
  li {
    margin-bottom: $gridGutterWidth / 2;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .icon {
    display: block;
    float: left;
    font-size: 16px;
    line-height: 20px;
  }
  a.resourcetitle {
    display: block;
    margin-left: 22px;
  }
}

.plansheader {
  margin-bottom: $gridGutterWidth / 2;
  @include clearfix;  
  h1 {
    float: left;
  }
  a {
    float: right;
  }
}

.resources-split {
  h3 {
    margin-top: $gridGutterWidth / 2;
    color: $blueDark;
  }
  .box {
    margin-top: $gridGutterWidth / 2;
    min-height: 80px;
  }
}

.resources-single {
  h3 {
    margin-top: $gridGutterWidth / 2;
    color: $blueDark;
  }
  .box {
    margin-top: $gridGutterWidth / 2;
  }
}

// 17. FORM STYLES
/////////////////////////////////////////////////////////////////////////

.form-content {
  fieldset {
    margin-bottom: 30px;
  }
  legend {
    color: $blueDark;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  label {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }
}

.form-inline {
  .control-group {
    float: left;
    margin: 10px 10px 0 0;
  }
}

.form-list {
  padding-top: 10px;
  a {
    color: $black;
    clear: both;
    font-weight: 600;
    overflow: auto;
    .btn {
      padding: 2px 5px;
    }
  }
}

.form-search {
  border: 1px solid $grayLight;
  background-color: $grayLighter;
  position: relative;
  width: 100%;
  @include border-radius(5px);
  @include box-sizing(border-box);
  margin-top: $gridGutterWidth;
  .control-group, .input-append {
    margin-bottom: 0;
    .btn {
      margin-left: -13px;
    }
  }
  .input-append {
    width: 90%;
  }
  .searchfield {
    width: 100%;
  }
  .btn {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    @include box-sizing(border-box);
  }
  &.well {
    padding: 10px;
  }
}

textarea {
  &.fullwidth {
    width: 380px;
  }
}

.plan {
  @include box-shadow(0 3px 7px $grayLighten);
}

.plan {
  &.completed {
    color: $grayLighten;
    h1, h2 {
      color: $grayLighten;
    }
  }
}

.gap {
  margin-top: $gridGutterWidth;
}

.maincontent {
  padding-top: $gridGutterWidth;
}

#mainheader {
  padding-bottom: $gridGutterWidth;
  overflow: auto;
  .logo {
    margin-right: $gridGutterWidth;
  }
}

// 18. VIDEO THUMBNAILS
/////////////////////////////////////////////////////////////////////////

.box-video {
  margin-bottom: 20px;
  video { display: none; }
}

.meta {
  font-size: 14px;
  li {
    color: darken($blueLight, 10%);
    font-weight: 600;
    line-height: 22px;
  }
  .icon {
    color: $grayDark;
    float: left;
    font-size: 16px;
    font-weight: 400;
    width: 30px;
  }
  .resourcetitle {
    display: block;
    margin-left: 30px;
  }
}

.vidthumb {
  border: 1px solid $black;
  width: 205px;
  max-width: 100%;
  height: 120px;
  margin: ($gridGutterWidth / 2) 0;
  overflow: hidden;
  position: relative;
  @include box-sizing(border-box);
  .caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: $white;
    padding: 2px 0 0 5px;
    width: 100%;
    .icon {
      font-size: 12px;
      margin-top: -1px;
      margin-right: 5px;
    }
  }
}

.pending-programs,
.viewed-programs {
  position: relative;
  margin-top: $gridGutterWidth;
  h3 {
    font-size: $baseFontSize + 1;
    span {
      text-align: left;
    }
  }
  .btn {
    right: auto;
    left: 20px;
    top: 60px;
  }
}

.vidcontainer {
  position: relative;
}

.vidthumb {
  .caption {
    .icon {
      font-style: normal;
      text-align: left;
      float: left;
    }
  }
}

// 19. SESSION MANAGER SECTION
/////////////////////////////////////////////////////////////////////////

.new_session {
  overflow: visible;
  .control-group {
    position: relative;
  }
}

.manager {
  h2 {
    font-size: $fontSizeLarge - 2;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .results {
    height: 300px;
    overflow: scroll;
    .item {
      cursor: pointer;
      border-bottom: 1px solid $grayLighten;
      padding: 5px;
      &:first-child {
        border-top: 1px solid $grayLighten;
      }
      &:hover {
        background-color: $grayLighter;
      }
      &.selected {
        background-color: lighten($blueLight, 15%);
        &:hover {
          background-color: $blueLight;
        }
      }
      &.role {
        font-weight: $semibold;
      }
      &.user {
        padding-left: 20px;
      }
      &.active {
        color: $grayLighten;
      }
    }
  }
  .remove {
    margin-top: $gridGutterWidth / 2;
  }
}

// 20. SINGLE PLAN
/////////////////////////////////////////////////////////////////////////


.single-plan {
  ul {
    padding-left: $gridGutterWidth;
  }
  li {
    margin-bottom: 5px;
    span {
    display: inline;
    text-align: left;
    font-style: normal;
    }
  }
  .label-large {
    h2 {
      color: $white;
      white-space: normal;
      padding: 24px 10px 10px;
      font-size: $baseFontSize;
      line-height: $baseLineHeight - 4;
      font-weight: 400;
      margin-top: 10px;
      span {
        margin-top: -10px; // Need to cancel out h2 padding. When the span (numerical value) is removed, text will still be vertically centered.
        margin-bottom: 5px;
        font-style: normal;
        font-size: $fontSizeLarge + 4;
        display: block;
      }
    }
  }
  .description {
    h2 {
      margin: 10px 0;
    }
  }
  .set-by {
    font-style: italic;
    margin-top: 10px;
    padding: 0 20px;
  }
}

.assessment-status, 
.pending-programs,
.viewed-programs {
  margin-top: $gridGutterWidth / 2;
  h3 {
    + span {
      text-align: left;
      margin-top: -10px;
    }
  }
  span {
    display: block;
    text-align: center;
    font-style: italic;
  }
  .status-label {
    display: block;
    font-weight: 700;
    font-style: normal;
    color: $blueDark;
    margin-top: 10px;
  }
  .btn-mini {
    display: block;
    width: 40px;
    margin: 10px auto 0;
  }
}

.pending-programs, 
.viewed-programs {
  .badge {
    margin: 10px auto 0;
  }
}

.assessment-criteria {
  table {
    background-color: $white;
    td {
      text-align: center;
    }
    th {
      max-width: 150px;
    }
    thead {
      background-color: lighten($blueLight, 35%);
      th {
        text-align: center;
        vertical-align: middle;
        &:first-child {
          text-align: left;
          font-size: 14px;
          color: $blueDark;
        }
        input[type="checkbox"] {
          display: block;
          margin: 0 auto 5px;
        }
        label {
          display: block;
          text-align: center;
          padding: 0;
          float: left;
        }
      }
    }
  }
}

// 21. SIDEBAR
/////////////////////////////////////////////////////////////////////////


.sidebar {
  background-image: asset-url('bg-sidebar.jpg', image);
  background-repeat: no-repeat;
  padding: $gridGutterWidth 0 0 $gridGutterWidth;
  color: $grayLight;
  h1, h2, h3, h4, h5, h6 {
    color: $blueDark;
    font-size: 14px;
    line-height: 1;
    margin-bottom: $gridGutterWidth;
  }
  ul { 
    color: $grayLight; 
  }
  #helpbtn {
    margin-bottom: $gridGutterWidth * 2;
    padding: 15px 0;
    width: 100%;
    @include box-sizing(border-box);
  }
}

.legend {
  td {
    vertical-align: middle;
  }
  span {
    text-align: left;
  }
  .badge {
    padding: 0;
    text-align: center;
  }
}

// 22. FOOTER 
/////////////////////////////////////////////////////////////////////////

.footer {
  li {
    float: left;
    margin-right: $gridGutterWidth;
  }
}

// 23. ASSESSMENT SECTION
/////////////////////////////////////////////////////////////////////////


.assessment-brief {
  .btn {
    display: block;
    width: 70px;
    margin-top: $gridGutterWidth;
  }
}

.question,
.completed {
  margin: 0;
  padding: $gridGutterWidth;
  border-bottom: 2px dashed #dcdcdc;
  &:first-of-type {
    margin-top: $gridGutterWidth;
  }
  &:last-of-type {
    margin-bottom: $gridGutterWidth;
  }
  &.box {
    border-bottom: none;
    margin-bottom: $gridGutterWidth * 2;
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      font-size: $fontSizeLarge + 4;
      &::after {
        display: none;
      }
    }
  }
  h2 {
    position: relative;
    &::after {
      content: '?';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background: $blue;
      color: $white;
      text-align: center;
      font-size: $fontSizeLarge + 4;
      font-weight: 600;
      padding: 5px;
      width: 20px;
      height: 20px;
      @include border-radius(100px);
    }
    small {
      display: block;
      font-style: italic;
      font-size: $baseFontSize;
      margin: ($gridGutterWidth) 0;
    }
  }
  h3 {
    margin: ($gridGutterWidth * 2) 0;
    padding: $gridGutterWidth;
    background: $grayLighter;
    @include border-radius(5px);
  }
  .label {
    font-size: $baseFontSize + 2;
    line-height: $baseLineHeight + 2;
  }
  &.feedback {
    @include border-radius(5px);
    border: 1px solid $grayLighten;
    margin-bottom: $gridGutterWidth;
    h2 {
      &::after {
        display: none;
      }
      .badge {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    h3 {
      background: $white;
    }
    &.correct {
      background-color: transparentize($successBackground, .75);
      border-color: $successBorder;
    }
    &.incorrect {
      background-color: transparentize($errorBackground, .75);
      border-color: $errorBorder;
    }
  }
}

.completed {
  padding: $gridGutterWidth * 5;
  text-align: center;
  h2 {
    margin: ($gridGutterWidth * 2) 0;
  }
  p {
    span {
      font-size: $fontSizeLarge + 15;
      font-weight: 900;
    }
  }
}

.feedback {
  .well-small {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.image-question {
  img + span {
    display: block;
    margin-top: 10px;
    font-size: $baseFontSize;
  }
}

.correct {
  background-color: $successBackground;
  border-color: $successBorder;
  &.well-small {
    h4 {
      color: $green;
    }
    .sortable-disabled {
      li {
        background: lighten($successBackground, 5%);
        border-color: $successBorder;
        span {
          background: lighten($successBackground, 5%);
          border-color: $successBorder;        
        }
      }
      &.sortable-image {
        h3 {
          background: none;
        }
        li {
          background: none;
          border: none;
          span {
            background: none;
            border: none;
          }
        }
      }
    }
  }
}

.incorrect {
  background-color: $errorBackground;
  border-color: $errorBorder;
  &.well-small {
    h4 {
      color: $red;
    }
    .sortable-disabled {
      li {
        background-color: lighten($errorBackground, 5%);
        border-color: $errorBorder;
        span {
          background-color: lighten($errorBackground, 5%);
          border-color: $errorBorder;
        }
      }
      &.sortable-image {
        h3 {
          background: none;
        }
        li {
          background: none;
          border: none;
          span {
            background: none;
            border: none;
          }
        }
      }
    }
  }
}

// 24. SORTABLE UI COMPONENTS

// Force min-height on containing element so layout doesn't break when objects are moved.

.sortable {
  list-style-type: none;
  li {
    &:hover {
      cursor: move;
    }
  }
}

.sortable-text { 
  padding-left: 0;
  li {
    position: relative;
    z-index: 0;
    margin: 0 5px 10px -24px;
    padding: 7px 5px 3px 40px;
    font-size: $baseFontSize + 3;
    line-height: $baseLineHeight + 3;
    min-height: 22px;
    background: $infoBackground;
    border: 1px solid $infoBorder;
    span {
      position: absolute;
      z-index: 1;  
      padding: 7px 5px 3px 5px;
      background: $infoBackground;
      height: 22px;
      top: 0;
      left: 0;
    }
  }
}

// Set dimensions for list items
.sortable-image {
  padding-left: 0;
  margin: 0;
  overflow: auto;
  width: 680px; //Width needs to be set in pixel value, otherwise weird offset bug will occur.
  li {
    width: 210px;
    height: 220px;
    overflow: hidden;
    float: left;
    margin: 0 5px;
  }
}

// Revise dimensions for example question layouts
.box {
  .sortable-image {
    li {
      width: 210px;
    }
  }
}

.feedback {
  .sortable-image {
    width: 645px;
    li {
      width: 200px;
    }
  }
}

.sortable-image {
  h3 {
    margin: ($gridGutterWidth / 2) 0 0 0;
    padding: 0;
    border: none;
    background: none;
  }
  img + p {
    margin-top: 10px;
  }
}

.sortable-disabled {
  list-style-type: none;
  li {  
    &:hover {
      cursor: default;
    }
  }
}

.sortable-match {
  .sortable-text {
    li {
      height: 55px;
      font-size: $baseFontSize;
    }
  } 
}

.sortable-match-left {
  padding-right: $gridGutterWidth / 2;
  border-right: 2px dashed $grayLighter;
  li {
    background: $warningBackground;
    border-color: $warningBorder;
    span {
      background: $warningBackground;
    }
  }
}

.sequence {
  min-height: 400px;
  &.image-question {
    min-height: 280px;
    .sortable {
      margin-left: 0;
    }
  }
}

// 25. DRAG AND DROP UI COMPONENTS - USES JQUI

.fg-list {
  li {
    line-height: 32px;
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.draggable,
.draggable-disabled { 
  display: inline-block;
  text-align: center;
  font-size: 14px;
  width: 100px;
  height: 20px;
  padding: 2px;
  background: #d9edf7;
  border: 1px solid #bce8f1;
}

.draggable {
  &:hover {
    cursor: pointer;  
  }
}

.droppable {
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 5px;
  margin: 0 10px -10px 10px;
  background: #fcf8e3;
  border: 1px solid #fbeed5;
  text-align: center;
  line-height: 20px;
  &.example {
    position: relative;
  }
  .droppable-example {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    width: 100px;
    height: 20px;
    padding: 2px;
    background: #d9edf7;
    border: 1px solid #bce8f1;    
  }
}

.ui-state-active {
  background: #fbeed5;  
}

.fg-list {
  margin: 20px 0;
  padding: 20px;
  background: $white;
  border: 5px solid #d9edf7;
  &.correct {
    background: $successBackground;
    border: 1px solid $successBorder;
  }
  &.incorrect {
    background: $errorBackground;
    border: 1px solid $errorBorder;
  }
}

.fg-words {
  h4 {
    border-bottom: 1px solid $grayLighter;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}

.fg-define-words {
  em {
    display: block;
    margin-bottom: 20px;
  }
}


// RESPONSIVE-768px-979px-OVERRIDES

@media (min-width: 768px) and (max-width: 979px) {

  .navbar {
    .container {
      width: 724px;
    }
  }

  .navbar {
    .btn-navbar {
      display: none;
    }
  }

  .nav-collapse,
  .nav-collapse.collapse {
    overflow: visible;
  }

  .navbar {
    .nav-collapse {
      .divider-vertical {
        display: inline-block;
      }
      .nav {
        &.pull-right {
          float: right;
          > li {
            > a {
              font-weight: normal;
            }
          }
        }
        margin: 0;
        > li {
          float: left;
        }
      }
    }
  }

  textarea {
    &.fullwidth {
      width: 285px;
    }
  }

  .span5 {
    input[type="text"] {
      width: 200px;
    }
  }


  .records {
    .record {
      h3 {
        max-width: 250px !important;
      }
      .inline {
        .details {
          width: 80% !important;
        }
      }
    }
  }
  
  .assessment-status,
  .single-plan,
  .pending-programs,
  .viewed-programs {
    span {
      display: block;
      text-align: center; 
      font-style: italic;
    }
    .status-label {
      display: block;
      margin-top: 10px;
    }
  }

  .page-title {
    h1 {
      font-size: 18px;
    }
  }

  .resources-split {
    .box {
      min-height: 100px;
    }
  }

  .box-list {
    .box {
      min-height: 220px; // Force listed boxes to stack correctly on tablet.
    }
  }

}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: $navbarCollapseWidth) {

  body {
    padding: 0;
  }
  
  // Add wrapper class for elements that need padding for phone viewports.
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  // Reset the width to make the navbar comply.
  // Get rid of breaker lines. Not needed.
  .navbar {
    .container {
      width: 100%;
    }
    .nav {
      > li {
        &::after {
          background: none !important;
        }
      }
    }
  }

  // Negative indent the now static "fixed" navbar
  // Remove padding on container given explicit padding set on body
  .container-fluid {
    padding: 0;
  }

  // TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows and thumbnails
  .row,
  .thumbnails {
    margin-left: 0;
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    @include input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }
  
  // Custom
  li[class*="span"] {
    float: left !important;
    margin-right: 10px !important;
  }

  .sidebar {
    padding: 0 $gridGutterWidth; 
  }

  .timestamp, .author {
    position: relative !important;
    float: right !important;
    margin-top: 10px !important;
    display: block !important;
  }

  .records {
    .record {
      h3 {
        max-width: 100%;
      }
      .inline {
        .details {
          width: 75% !important;
          float: right !important;
        }
      }
    }
  }

  .single-plan {
    ul {
      margin-top: $gridGutterWidth;
      padding-left: 0;
    }
    .description {
      margin-top: $gridGutterWidth;
      padding-left: 0;
      border-left: none;
      .description-container {
        height: auto;
        overflow-y: auto;
      }
      h2 {
        margin-bottom: 10px;
      }
    }
  }

  .single-plan {
    span {
      text-align: center;
    }
    .status-label {
      font-size: 20px;
    }
  }

  .pending-programs,
  .viewed-programs {
    h3 + span {
      display: block;
      margin-bottom: $gridGutterWidth * 2;
    }
    .btn {
      right: auto;
      left: 20px;
      top: 60px;
    }
    ul {
      li {
        float: left;
        &:first-child {
          width: 100%;
          display: block;
          margin-bottom: 10px;
        }
      }
    }
    .vidthumb {
      margin-bottom: 10px;
    }
  }

  .assessment-status,
  .pending-programs,
  .viewed-programs {
    span {
      display: block;
      text-align: center; 
      font-style: italic;
      font-size: 11px;
    }
    span {
      &.badge-largest {
        width: 39px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
      }
    }
    .status-label {
      display: block;
      margin-top: 10px;
    }
  }

  .legend {
    .badge {
      margin: 0 -30px 0 0;
    }
  }

}

// RESPONSIVE-NAVBAR-OVERRIDES

// Tablets and below
// -----------------
@media (max-width: 480px) {

  // Unfix the top bar
  // ----------------
  // Remove any padding from the body
  body {
    padding-top: 0;
  }
  // Unfix the navbar
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: static;
  }
  .navbar-fixed-top {
    margin-bottom: $gridGutterWidth;
  }
  .navbar-fixed-bottom {
    margin-top: $gridGutterWidth;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  // Account for brand name
  .navbar .brand {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 0 -5px;
  }

  // Collapsible navbar
  // ------------------
  // Nav collapse clears brand
  .nav-collapse {
    clear: both;
  }
  // Block-level the nav
  .nav-collapse .nav {
    float: none;
    margin: 0 0 ($gridGutterWidth / 2);
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: $navbarText;
    text-shadow: none;
  }
  // Nav and dropdown links in navbar
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 15px 20px;
    color: $navbarLinkColor;
    @include border-radius(0);
  }

  .nav-collapse {
    .dropdown-menu {
      li {
        + li {
          a {
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .nav-collapse .nav > li > a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background-color: $navbarBackground;
  }
  // Buttons in the navbar
  .nav-collapse.in {
    .btn-group {
      margin-top: 5px;
      padding: 0;
    }
  }
  // Dropdowns in the navbar
  .nav-collapse {
    .dropdown-menu {
      position: static;
      top: auto;
      left: auto;
      float: none;
      display: block;
      max-width: none;
      margin: 0 15px;
      padding: 0;
      background-color: transparent;
      border: none;
      @include border-radius(0);
      @include box-shadow(none);
    }
  }

  .nav-collapse {
    // Navbar buttons
    .btn {
      padding: 4px 10px 4px;
      font-weight: normal;
      @include border-radius(4px);
    }
    .settings-btn {
      margin: 10px 20px;
    }
    .dropdown-menu {
      &::before, &::after {
        display: none;
      }
      .divider {
        display: none;
      }
    }
    // Forms in navbar
    .navbar-form, .navbar-search {
      float: none;
      padding: ($gridGutterWidth / 2) 15px;
      margin: ($gridGutterWidth / 2) 0;
      border-top: 1px solid $navbarBackground;
      border-bottom: 1px solid $navbarBackground;
      @include box-shadow("inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1)");
    }
  }

  // Pull right (secondary) nav content
  .navbar {
    .nav-collapse {
      .nav.pull-right {
        float: none;
        margin-left: 0;
      }
    }
  }
  // Hide everything in the navbar save .brand and toggle button */
  .nav-collapse,
  .nav-collapse.collapse {
    overflow: hidden;
    height: 0;
  }
  // Navbar button
  .navbar { 
    .btn-navbar {
      display: block;
      float: right;
      padding: 7px 10px;
    }
  }

  // Static Navbar
  // -------------
  .navbar-inner {
    padding: 0;
  }

  // Custom
  .welcome {
    float: left;
    text-align: left;
  }
  
  .wrapper {
    padding: 0 10px;
  }
  
  #mainheader {
    margin-bottom: 0;
  }
  
  .maincontent {
    margin-right: 0;
  }
  
  .vidthumb {
    float: left;
    height: 100px;
    max-width: 50%;
    margin: 0;
  }
  
  .box-list {
    .thumbnail {
      display: inline-block;
    }
  }
  
  .nav-tabs {
    &.pull-right {
      clear: both;
    }
  }
  
  .plan {
    width: 100% !important;
  }
  
  li.plan {
    margin-bottom: $gridGutterWidth;
    width: 100%;
    h1 {
      font-size: 14px;
    }
  }
  .program {
    position: relative;
    header {
      min-height: 0;
      float: right;
      width: 45%;
    }
    .meta {
      float: right;
      margin-top: $gridGutterWidth / 2;
      width: 65%;
    }
    .btn {
      float: right;
      margin-top: $gridGutterWidth / 2;
      padding: 4px 0 4px;
      position: absolute;
      bottom: $gridGutterWidth / 2;
      right: $gridGutterWidth / 2;
      width: 43%;
    }
  }
  
  .box-dash {
    margin-top: $gridGutterWidth;
    padding-bottom: 0;
    li.stat {
      border-bottom: 1px solid $grayLighter;
      clear: both;
      display: block;
      float: none;
      overflow: auto;
      width: 100%;
    &:last-child {
      border-bottom: none;
    }
      h1 {
        display: inline;
        float: left;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 0;
      }
      h2 {
        display: inline;
        float: right;
        font-size: 16px;
        line-height: 36px;
      }
    }
  }
  
  #search form {
    margin-bottom: 0;
  }
  
  .box-lr {
    .recordslist {
      li {
        ul.record {
          overflow: auto;
          input, select {
            margin-bottom: $gridGutterWidth / 2 !important;
          }
        }
        .actions {
          clear: both;
          float: none;
          margin-top: 10px;
          li:first-child {
            margin-left: 0;
          }
          .btn-small {
            @include box-sizing(border-box);
            .text {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
  
  .sidebar {
    background: none;
    margin: 0;
    padding: 10px;
    h1, h2, h3, h4, h5, h6 {
      font-size: 18px;
      line-height: 18px;
    }
    p {
      font-size: 14px;
      line-height: 18px;
    }
  }
  
  body {
    padding-left: inherit;
    padding-right: inherit;
  }

  // Custom
  li[class*="span"] {
    float: left !important;
    margin-right: 10px !important;
  }

  .timestamp, .author {
    position: relative !important;
    float: right !important;
    margin-top: 10px !important;
    display: block !important;
  }

  .records {
    .record {
      .inline {
        .details {
          width: 65% !important;
          float: right !important;
        }
      }
    }
  }

  .record {
    .badge {
      &.badge-important {
        line-height: 65px; 
      }
    }
  }

}


// Utility classes
@import "bootstrap/utilities.scss"; // Has to be last to override when necessary