<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td height="30" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td width="70" align="left" valign="top"><img src="http://dev.createur.com.au/edm/acc/images/hello-icon-2x.gif" alt="" width="70" height="50" /></td>
    <td width="570" align="left" valign="top" class="intro">
      <h1>Hello <%= @resource.to_s %></h1>
      <p>You or someone else has requested a <strong>password reset</strong>.</p>
    </td>
  </tr>
  <tr>
    <td height="10" colspan="2"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="10" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td height="30"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="30" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="contentblock">
      <p>To set a new password, please
        <% if @resource.kind_of?(User) %>
          <%= link_to 'click here', edit_user_password_url(reset_password_token: @resource.reset_password_token) %>
        <% else %>
          <%= link_to 'click here', edit_admin_password_url(reset_password_token: @resource.reset_password_token) %>.
        <% end %>
        </p>
      <p>If you didn't request this, please ignore this email.<p>
      <p>Your password won't change until you action the password reset link.<p>
      <p>Sincerely,<br>
      The ACC Team.</p>
    </td>
  </tr>
  <tr>
    <td height="20"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="20" /></td>
  </tr>
</table>

<table width="640" cellpadding="0" cellspacing="0" border="0" class="split">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="left" class="button">
        <tr>
          <td width="15">&nbsp;</td>
          <td height="40" align="center" valign="middle">
            <% if @resource.kind_of?(User) %>
              <%= link_to 'Set a New Password', edit_user_password_url(reset_password_token: @resource.reset_password_token) %>
            <% else %>
              <%= link_to 'Set a New Password', edit_admin_password_url(reset_password_token: @resource.reset_password_token) %>.
            <% end %>
          </td>
          <td width="15">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"><img src="http://dev.createur.com.au/edm/acc/images/spacer.gif" width="1" height="40" /></td>
  </tr>
</table>