.widget-box
  .widget-title
    %h5= title
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th{width: 200} Service
          %th{width: 200} Group
          %th{width: 150} Role
          %th Job Title
          %th{width: 100} Employee No.
          %th{width: 100} Started at
          - unless modify
            %th{width: 100} Finished at
          %th{width: 150}
      %tbody
        - for employment in employments
          %tr
            %td= link_to employment.service.name, admin_service_path(employment.service)
            %td= link_to employment.service_group, admin_group_path(employment.service_group) if employment.service_group
            %td= employment.role.titleize
            %td= employment.try(:job_title)
            %td= employment.employee_number
            %td= employment.started_at.to_s(:aus)
            - unless modify
              %td= employment.ended_at.to_s(:aus)
            %td
              - if can? :update, Employment && modify
                = link_to 'Modify Employment', edit_admin_user_employment_path(@user, employment)
