= f.input :first_name
= f.input :last_name
= f.input :email, as: :email

- unless @user.resent_welcome_email
  - if @user.last_email_status == 'bounced' || @user.last_email_status == 'soft-bounced'
    %div.alert.alert-error.alert-form
      - if @user.last_email_status == 'bounced'
        %span.message.error (INVALID EMAIL)
      - else
        %span.message.error (DELIVERY ERROR)

= f.input :time_zone, as: :select, collection: timezone_list, label: "Timezone"
= f.input :gender, as: :radio_buttons, collection: gender_list
= f.input :born_at, label: "Date of Birth", use_month_numbers: true, start_year: 50.years.ago.year, end_year: 16.years.ago.year, :order => [:day, :month, :year]
.form-actions
  = f.button :submit, class: 'btn btn-primary'