= content_for :title do
  Edit User -
  = @user.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_user_path(@user), class: 'btn btn-large tip-bottom', title: 'Show User' do
      %i.icon-user
    = link_to admin_users_path, class: 'btn btn-large tip-bottom', title: 'Show Users' do
      %i.icon-users

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    = simple_form_for [:admin, @user], html: {class: 'form-horizontal'} do |f|
      = render partial: 'form', locals: {f: f}