first_name,last_name,email,born_at,gender,sign_in_count,last_sign_in_at
<% for user in @users %><%= [user.first_name, user.last_name, user.email, user.formatted_born_at, user.gender, user.sign_in_count, user.current_sign_in_at].join(",") %>
<% end %>