= content_for :title do
  Users

= content_for :contextual_menu do
  .btn-group
    = link_to admin_users_path(format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Users' do
      %i.icon.icon-download

.alert.alert-info
  Please note a user must be created via a
  = link_to 'Service', admin_services_path
.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.users
      %thead
        %tr
          %th Name
          %th Email
          %th Last logged in
          %th Actions
      %tbody
        - for user in @users
          %tr
            %td= link_to user, admin_user_path(user)
            %td
              = mail_to user.email, user.email
              - unless user.resent_welcome_email
                - if user.last_email_status == 'bounced' || user.last_email_status == 'soft-bounced'
                  - if user.last_email_status == 'bounced'
                    %span.error (INVALID EMAIL)
                  - else
                    %span.error (DELIVERY ERROR)
            %td= last_logged_in user
            %td
              = link_to 'Show', admin_user_path(user)
              - if can? :update, User
                |
                = link_to 'Edit', edit_admin_user_path(user)

    = will_paginate @users, renderer: WillPaginate::ActionView::LinkRenderer

= content_for :search do
  = form_tag({}, method: 'get') do
    = text_field_tag :q, params[:q], placeholder: 'Search Users', autofocus: 'autofocus'
    = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
      %i.icon-search.icon-white
