= content_for :title do
  New User -
  = @service.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_admins_path, class: 'btn btn-large tip-bottom', title: 'Show Admins' do
      %i.icon-bolt

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    - if @user.existing_email? && !@service.email_is_not_employed?(@user.email)
      .alert Note: This email address already belongs to an active member. Would you like to invite them to this service?
      = simple_form_for [:admin, @service, @service.employments.new(user: @user.existing_user)], html: {class: 'form-horizontal'} do |f|
        = f.input :user_id, as: :hidden
        .form-actions
          = f.submit 'Invite User', class: 'btn btn-primary'

    = simple_form_for [:admin, @service, @user] do |f|
      = render partial: 'form', locals: {f: f}