= content_for :title do
  User -
  = @user.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_user_learning_plans_path(@user), class: 'btn btn-large tip-bottom', title: 'Show Learning Plans' do
      %i.icon-board
    = link_to admin_user_activities_path(@user), class: 'btn btn-large tip-bottom', title: 'Show Learning Records' do
      %i.icon-board
    - if can? :update, User
      = link_to edit_admin_user_path(@user), class: 'btn btn-large tip-bottom', title: 'Edit User' do
        %i.icon-pencil
      = link_to reset_admin_user_passwords_path(@user), method: :put, class: 'btn btn-large tip-bottom', title: 'Reset Password' do
        %i.icon-refresh
    - if can? :destroy, User
      = link_to admin_user_path(@user), method: :delete, class: 'btn btn-large btn-danger tip-bottom', title: 'Delete User', confirm: "Are you sure you want to DELETE the user #{@user.name}? This action cannot be undone." do
        %i.icon-minus

- if @user.resent_welcome_email
  .alert.alert-success User has been re-sent their welcome email because you changed their email address.

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td Name
          %td= @user.name
        %tr
          %td Email
          %td
            %a{href: "mailto:#{@user.email}"}= @user.email
            - unless @user.resent_welcome_email
              - if @user.last_email_status == 'bounced' || @user.last_email_status == 'soft-bounced'
                - if @user.last_email_status == 'bounced'
                  %span.error (INVALID EMAIL)
                - else
                  %span.error (DELIVERY ERROR)

        - if @user.born_at
          %tr
            %td Date of Birth
            %td= @user.born_at.to_s(:aus)
        - if @user.time_zone
          %tr
            %td Timezone
            %td= @user.time_zone
        - if @user.gender.present?
          %tr
            %td Gender
            %td= @user.gender.capitalize
        %tr
          %td Last logged in
          %td= last_logged_in @user
        %tr
          %td Created At
          %td #{@user.created_at.to_s(:long_ordinal)} by #{@user.name}
        %tr
          %td Updated At
          %td #{@user.updated_at.to_s(:long_ordinal)} by #{@user.name}


- if @user.employments.active.empty? and @user.groups.empty?
  .alert.alert-info This user has no active employments

- if @user.employments.active.not_group_coordinator.any?
  = render partial: "employments", locals: { employments: @user.employments.active.not_group_coordinator, title: "Current Employments", modify: true }

- if @user.groups.any?
  .widget-box
    .widget-title
      %h5 Managing Groups
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Group
        %tbody
          - for group in @user.groups
            %tr
              %td= link_to group.name, admin_group_path(group)
