= simple_form_for [:admin, @package], html: {class: 'form-horizontal'} do |f|
  = f.input :name, label: "Package Name"
  %fieldset#package_boxes
    %legend Programs
    .widesearch
      .input-append
        = text_field_tag :search_field, params[:search_field], placeholder: 'Search Programs', class: 'searchfield quicksearch'
        = button_tag "Search", type: 'button', class: 'btn btn-info', title: 'Search'

    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th Code
          %th Name
          %th Included
      %tbody
        - for program in @programs
          = f.simple_fields_for :package_programs, build_or_load_package_program(@package, program) do |u|
            %tr{id: "program_container_#{program.id}"}
              %td= program.code
              %td= u.label :selected, program.title
              %td
                = u.input_field :program_id, as: :hidden
                = u.input_field :selected, as: :boolean, checked: u.object.persisted?

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
