%thead
  %tr
    %th= Package.human_attribute_name(:name)
    %th= Package.human_attribute_name(:programs)
    %th= Package.human_attribute_name(:updated_by)
    %th= Package.human_attribute_name(:used_by)
    %th
%tbody
  = content_tag_for :tr, packages do |package|
    %td= link_to package.name, admin_package_path(package)
    %td= package.programs.count
    %td
      = package.updated_by.name + ',' if package.updated_by
      = distance_of_time_in_words_to_now package.updated_at
      ago
    %td
      = pluralize(package.services.uniq.count, 'Service')
    %td
      = link_to 'Show', admin_package_path(package)
      - if can? :update, Package
        |
        = link_to 'Edit', edit_admin_package_path(package) 