= content_for :title do
  Edit Package -
  = @package.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_package_path(@package), class: 'btn btn-large tip-bottom', title: 'Show Package' do
      %i.icon-grid-view
    = link_to admin_packages_path, class: 'btn btn-large tip-bottom', title: 'Show Packages' do
      %i.icon-grid-view

.widget-box
  .widget-title
    %h5 Edit
  .widget-content
    = render partial: 'form'