= content_for :title do
  Packages

= content_for :contextual_menu do
  .btn-group
    - if can? :create, Package
      = link_to new_admin_package_path, class: 'btn btn-large tip-bottom', title: 'New Package' do
        %i.icon-plus
    = link_to admin_packages_path(format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Packages' do
      %i.icon-download

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      = render 'table_content', packages: @packages

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Packages', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white