= content_for :title do
  New Package

= content_for :contextual_menu do
  .btn-group
    = link_to admin_packages_path, class: 'btn btn-large tip-bottom', title: 'Show Packages' do
      %i.icon-grid-view

.widget-box
  .widget-title
    %h5 New
  .widget-content
    = render partial: 'form'