= content_for :title do
  Package -
  = @package.name

= content_for :contextual_menu do
  .btn-group
    - if can? :update, Package
      = link_to edit_admin_package_path(@package), class: 'btn btn-large tip-bottom', title: 'Edit Package' do
        %i.icon-pencil
    - if can? :manage, Package
      = link_to admin_package_path(@package), method: :delete, class: 'btn btn-large btn-danger tip-bottom', title: 'Delete Package', confirm: "Are you sure you want to DELETE the package #{@package.name}? This action has serious implications." do
        %i.icon-minus

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td Name
          %td= @package.name
        %tr
          %td Programs Count
          %td= @package.programs.count
        %tr
          %td Created At
          %td #{@package.created_at.to_s(:long_ordinal)} by #{@package.created_by.name if @package.created_by}
        %tr
          %td Updated At
          %td #{@package.updated_at.to_s(:long_ordinal)} by #{@package.updated_by.name if @package.updated_by}

- if @package.package_programs.any?
  .widget-box
    .widget-title
      %h5 Package Programs
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Code
            %th Title
            %th Additional Programs Count
            %th
        %tbody
          - for package_program in @package.package_programs
            %tr
              %td= package_program.code
              %td= link_to package_program.title, [:admin, package_program.program]
              %td= package_program.program_lists.count
              %td
                = link_to 'Edit', edit_admin_package_package_program_path(@package, package_program) if can? :update, PackageProgram
