%tables
  %table{ name: "Users Overview" }
    %thead
      %tr
        %th User ID
        %th First Name
        %th Last Name
        %th Email
        %th Born At
        %th Gender
        %th Sign in count
        %th Last signed in at
        %th Employments count
        %th Employee Number(s)
    %tbody
      - group.users.each do |user|
        %tr
          %td= user.id
          %td= user.first_name
          %td= user.last_name
          %td= user.email
          %td= user.formatted_born_at
          %td= user.gender
          %td= user.sign_in_count
          %td= user.current_sign_in_at.try(:to_s, :aus)
          %td= user.employments.where(service_id: services.map(&:id)).count
          %td= user.employments.where(service_id: services.map(&:id)).map(&:employee_number).compact.join(",")

  %table{ name: "Employments Overview" }
    %thead
      %tr
        %th User ID
        %th Employment ID
        %th Employee Number
        %th Service ID
        %th First Name
        %th Last Name
        %th Email
        %th Start Date
        %th End Date
        %th Status
        %th Role
        %th Job Title
    %tbody
      - group.employments.each do |employment|
        %tr
          %td= employment.user_id
          %td= employment.id
          %td= employment.employee_number
          %td= employment.service_id
          %td= employment.user.first_name
          %td= employment.user.last_name
          %td= employment.user.email
          %td= employment.started_at.try(:to_s, :aus)
          %td= employment.ended_at.try(:to_s, :aus)
          %td= employment.status
          %td= employment.role
          %td= employment.job_title

  %table{ name: "Services" }
    %thead
      %tr
        %th Service ID
        %th Name
        %th Country
        %th Current Activation Token
        %th Employments Count
    %tbody
      - services.each do |service|
        %tr
          %td= service.id
          %td= service.name
          %td= service.country
          %td= service.activation_token
          %td= service.employments.count

  %table{ name: "Assigned Learning Plans" }
    %thead
      %tr
        %th User ID
        %th Employment ID
        %th First Name
        %th Last Name
        %th Email
        %th Learning Plan Count
        %th Learning Plan IDs
        %th Learning Plan Statuses
    %tbody
      - group.employments.each do |employment|
        %tr
          %td= employment.user_id
          %td= employment.id
          %td= employment.user.first_name
          %td= employment.user.last_name
          %td= employment.user.email
          %td= employment.employment_learning_plans.count
          %td= employment.employment_learning_plans.map(&:learning_plan_id).join(",")
          %td= employment.employment_learning_plans.map(&:status).join(",")

  %table{ name: "Learning Records" }
    %thead
      %tr
        %th User ID
        %th Employment ID
        %th First Name
        %th Last Name
        %th Email
        %th Learning Records Count
        %th Program IDs
    %tbody
      - group.employments.each do |employment|
        %tr
          %td= employment.user_id
          %td= employment.id
          %td= employment.user.first_name
          %td= employment.user.last_name
          %td= employment.user.email
          %td= employment.learning_records.count
          %td= employment.learning_records.map(&:program_id).join(",")

  %table{ name: "Learning Plans"}
    %thead
      %tr
        %th Learning Plan ID
        %th Name
        %th Service Name
        %th Service ID
        %th Days till due
        %th Employees Overdue count
        %th Employees Completed count
        %th Employees Pending count
    %tbody
      - services.each do |service|
        - service.learning_plans.each do |plan|
          %tr
            %td= plan.id
            %td= plan.name
            %td= plan.service.name
            %td= plan.service_id
            %td= plan.days_till_due
            %td= plan.employment_learning_plans.overdue.count
            %td= plan.employment_learning_plans.completed.count
            %td= plan.employment_learning_plans.pending.count

  %table{ name: "Programs" }
    %thead
      %tr
        %th Program ID
        %th Code
        %th Title
        %th Category Parent
        %th Category Child
        %th Program Type
        %th Accreditation / Quality Standard
        %th Duration (minutes)
    %tbody
      - services.each do |service|
        - service.programs.each do |program|
          %tr
            %td= program.id
            %td= program.code
            %td= program.title
            %td= program.category.try(:parent)
            %td= program.category
            %td= program.program_type
            %td= program.accreditation
            %td= program.duration
