%tables
  %table{ name: "Employments Overview" }
    %thead
      %tr
        %th Employment ID
        %th Employee Number
        %th First Name
        %th Last Name
        %th Email
        %th Born at
        %th Gender
        %th Start Date
        %th End Date
        %th Status
        %th Role
        %th Job Title
        %th Sign in count
        %th Last signed in at
    %tbody
      - service.employments.each do |employment|
        %tr
          %td= employment.id
          %td= employment.employee_number
          %td= employment.user.first_name
          %td= employment.user.last_name
          %td= employment.user.email
          %td= employment.user.formatted_born_at
          %td= employment.user.gender
          %td= employment.started_at.try(:to_s, :aus)
          %td= employment.ended_at.try(:to_s, :aus)
          %td= employment.status
          %td= employment.role
          %td= employment.job_title
          %td= employment.user.sign_in_count
          %td= employment.user.current_sign_in_at.try(:to_s, :aus)

  %table{ name: "Assigned Learning Plans" }
    %thead
      %tr
        %th Employment ID
        %th Name
        %th Email
        %th Completed Learning Plans Count
        %th Pending Learning Plans Count
        %th Overdue Learning Plans Count
        %th Completed Learning Plan IDs
        %th Pending Learning Plan IDs
        %th Overdue Learning Plan IDs
    %tbody
      - service.employments.each do |employment|
        %tr
          %td= employment.id
          %td= employment.user.name
          %td= employment.user.email
          %td= employment.employment_learning_plans.completed.count
          %td= employment.employment_learning_plans.pending.count
          %td= employment.employment_learning_plans.overdue.count
          %td= employment.employment_learning_plans.completed.map(&:learning_plan_id).join(",")
          %td= employment.employment_learning_plans.pending.map(&:learning_plan_id).join(",")
          %td= employment.employment_learning_plans.overdue.map(&:learning_plan_id).join(",")

  %table{ name: "Learning Records" }
    %thead
      %tr
        %th Employment ID
        %th Employee Number
        %th Name
        %th Email
        %th Learning Records Count
        %th Learning Record IDs
    %tbody
      - service.employments.each do |employment|
        %tr
          %td= employment.id
          %td= employment.employee_number
          %td= employment.user.name
          %td= employment.user.email
          %td= employment.learning_records.count
          %td= employment.learning_records.map(&:program_id).join(",")

  %table{ name: "Learning Plans"}
    %thead
      %tr
        %th Learning Plan ID
        %th Name
        %th Days till due
        %th Employees Overdue count
        %th Employees Completed count
        %th Employees Pending count
    %tbody
      - service.learning_plans.each do |plan|
        %tr
          %td= plan.id
          %td= plan.name
          %td= plan.days_till_due
          %td= plan.employment_learning_plans.overdue.count
          %td= plan.employment_learning_plans.completed.count
          %td= plan.employment_learning_plans.pending.count

  %table{ name: "Programs" }
    %thead
      %tr
        %th Program ID
        %th Code
        %th Title
        %th Category Parent
        %th Category Child
        %th Program Type
        %th Accreditation / Quality Standard
        %th Duration (minutes)
    %tbody
      - service.programs.each do |program|
        %tr
          %td= program.id
          %td= program.code
          %td= program.title
          %td= program.category.try(:parent)
          %td= program.category
          %td= program.program_type
          %td= program.accreditation
          %td= program.duration
