= simple_form_for [:admin, @program_category], html: {class: 'form-horizontal'} do |f|
  = f.input :name
  = f.input :parent_id, collection: @parents, label: "Parent" if @parents.any?
  .form-actions
    = f.button :submit, class: 'btn btn-primary'