= content_for :title do
  Edit Program Category -
  = @program_category.name

= content_for :contextual_menu do
  .btn-group
    = link_to admin_program_category_path(@program_category), class: 'btn btn-large tip-bottom', title: 'Show Program Category' do
      %i.icon-movie
    = link_to admin_program_categories_path, class: 'btn btn-large tip-bottom', title: 'Show Program Categories' do
      %i.icon-movie

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    = render partial: 'form'