= content_for :title do
  Admins

= content_for :contextual_menu do
  .btn-group
    - if can? :create, ProgramCategory
      = link_to new_admin_program_category_path, class: 'btn btn-large tip-bottom', title: 'New Program Category' do
        %i.icon-plus
    = link_to admin_program_categories_path(format: :csv), class: 'btn btn-large tip-bottom', title: 'Export Program Categories' do
      %i.icon-download

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped.quicksearch-target
      %thead
        %tr
          %th Name
          %th Parent
          %th Last updated by
          %th
      %tbody
        - for program_category in @program_categories
          %tr
            %td= link_to program_category.name, admin_program_category_path(program_category)
            %td= program_category.parent.try(:name)
            %td
              = program_category.updated_by.name + ',' if program_category.updated_by
              = distance_of_time_in_words_to_now program_category.updated_at
              ago
            %td
              = link_to "Show", admin_program_category_path(program_category) if can? :view, Program
              |
              = link_to 'Edit', edit_admin_program_category_path(program_category) if can? :update, ProgramCategory

= content_for :search do
  = text_field_tag :search_field, params[:search_field], placeholder: 'Search Program Categories', class: 'quicksearch'
  = button_tag "Search", type: 'submit', class: 'tip-right', title: 'Search' do
    %i.icon-search.icon-white