= content_for :title do
  New Program Category

= content_for :contextual_menu do
  .btn-group
    = link_to admin_program_categories_path, class: 'btn btn-large tip-bottom', title: 'Show Program Categories' do
      %i.icon.icon-movie

.widget-box
  .widget-title
    %h5 New
  .widget-content.nopadding
    = render partial: 'form'