= content_for :title do
  Program Category -
  = @program_category.name

= content_for :contextual_menu do
  .btn-group
    - if can? :update, ProgramCategory
      = link_to edit_admin_program_category_path(@program_category), class: 'btn btn-large tip-bottom', title: 'Edit Admin' do
        %i.icon-pencil
    - if can? :destroy, ProgramCategory
      = link_to admin_program_category_path(@program_category), method: :delete, class: 'btn btn-large btn-danger tip-bottom', title: 'Delete Program Category', confirm: "Are you sure you want to DELETE the program category #{@program_category.name}? This action has serious implications." do
        %i.icon-minus

.widget-box
  .widget-content.nopadding
    %table.table.table-bordered.table-striped
      %tbody
        %tr
          %td= ProgramCategory.human_attribute_name(:name)
          %td= @program_category.name
        %tr
          %td= ProgramCategory.human_attribute_name(:all_programs_count)
          %td= @program_category.all_programs_count
        - if @program_category.parent
          %tr
            %td= ProgramCategory.human_attribute_name(:parent)
            %td= link_to @program_category.parent.name, admin_program_category_path(@program_category.parent)
        %tr
          %td Created At
          %td #{@program_category.created_at.to_s(:long_ordinal)} by #{@program_category.created_by.name if @program_category.created_by}
        %tr
          %td Updated At
          %td #{@program_category.updated_at.to_s(:long_ordinal)} by #{@program_category.updated_by.name if @program_category.updated_by}

- if @program_category.children.any?
  .widget-box
    .widget-title
      %h5 Children Program Categories
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th= ProgramCategory.human_attribute_name(:name)
            %th= ProgramCategory.human_attribute_name(:all_programs_count)
        %tbody
          - for program_category in @program_category.children
            %tr
              %td= link_to program_category, admin_program_category_path(program_category)
              %td= program_category.all_programs_count

- if @program_category.programs.any?
  .widget-box
    .widget-title
      %h5 Programs
    .widget-content.nopadding
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th Title
            %th
        %tbody
          - for program in @program_category.programs.default_order
            %tr
              %td= link_to program.title, admin_program_path(program)
              %td
                = link_to 'Edit', edit_admin_program_path(program) if can? :update, Program
