= f.input attribute, wrapper_html: { class: 'slider-with-input', 'data-SliderWithInput' => true } do
  .slider-with-input-container
    .slider-with-input-cell
      %div{'data-SliderWithInput-Slider' => true}
    .slider-with-input-cell.slider-with-input-value
      = f.number_field attribute, readonly: true
      %span.slider-with-input-percent-symbol
        \%
