!!!
%html
  %head
    %title AccOnline - Admin area
    = csrf_meta_tag
    = stylesheet_link_tag 'admin_wireframes'
    = javascript_include_tag 'admin_wireframes'
    = yield :head

  %body
    #header
      %h1{style: 'top: 0px; left: 0px; height: 80px;'}
    #search
      = yield :search
    #user-nav.navbar
      %ul.nav.btn-group
        %li.btn.btn-inverse
          = link_to edit_admin_profile_path do
            %i.icon-user
            %span.text Profile settings
        %li.btn.btn-inverse
          = link_to destroy_admin_session_path do
            %i.icon-switch
            %span.text Sign out

    #sidebar
      %ul
        %li
          = link_to admin_path do
            %i.icon-home
            %span Dashboard
        %li
          = link_to admin_packages_path do
            %i.icon-grid-view
            %span Packages
        %li
          = link_to admin_programs_path do
            %i.icon-play
            %span Programs
        %li
          = link_to admin_program_categories_path do
            %i.icon-movie
            %span Program Categories
        %li
          = link_to admin_groups_path do
            %i.icon-groups
            %span Groups
        %li
          = link_to admin_services_path do
            %i.icon-home
            %span Services
        %li
          = link_to admin_users_path do
            %i.icon-users
            %span Users
        %li
          = link_to admin_admins_path do
            %i.icon-admins
            %span Admins

    #content
      = yield