!!!
%html
  %head
    %title AccOnline - Engage. Inform. Inspire.
    = csrf_meta_tag
    = stylesheet_link_tag 'admin'

  %body
    .container
      .span6.offset2
        .widget-box
          .widget-title
            %h5= yield :title
          .widget-content.nopadding
            .notices{style: 'padding: 5px'}
              - if flash.notice
                .alert.alert-info= notice
              - if flash.alert
                .alert.alert-danger= alert
            = yield

    = javascript_include_tag 'admin'
    = javascript_include_tag 'http://cdn.sublimevideo.net/js/tcuhder6.js'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24556152-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();