!!!
%html
  %head
    %title ACC Online - Engage. Inform. Inspire.
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %meta{:name => 'format-detection', :content => 'telephone=no'}
    :plain
      <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags

  %body
    #nav.navbar
      .navbar-inner
        .container
          %a#logo-phone
            %img{src: asset_path("acc-logo-block-phone.png"), class: 'visible-phone', alt: 'ACC Logo'}
          %a.btn.btn-navbar{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
            .icon-bar
            .icon-bar
            .icon-bar
          .nav-collapse
            %ul.nav
              %li
                %a.home{:href => '/'}
                  Home
              %li
                %a.programs{:href => '/programs'}
                  Programs
              %li
                %a.my-learning{:href => '/my-learning'}
                  My Learning
              - if current_user.is_coordinator
                %li
                  %a.coordinator{:href => '/coordinator'}
                    Coordinator
            %ul.nav.nav-sub.pull-right
              %li
                %a{:href => 'http://support.acctv.co/login', :target => "_blank", :role => "support"}
                  Support
              %li
                %a{:href => '/users/sign_out'}
                  Log Out
              %li
                -# stop-gap wrapper for button hover bug in bootstrap, prefer to remove
                -# https://github.com/twitter/bootstrap/issues/2071
                .btnwrap
                  %a#settingsbtn.btn.btn-large.btn-info.btn-settings{:href => '/settings'}
                    Settings
                    %span.icon
                      O
    .container
      .row-fluid
        #application.span9.maincontent
          %p Loading ACC Online Platform
        #sidebar-parent.span3
          #sidebar.sidebar
            %a#helpbtn.btn.btn-large.btn-info
              How can we help?
            %section
      .row-fluid
        .span12
          .wrapper
            %hr
            .footer
              %nav
                %ul.unstyled
                  %li
                    &copy; 2012 ACC. All rights reserved.
                  %li
                    %a{:href => 'http://support.acctv.co/entries/21733662-terms-of-use', :role => "terms-of-use", :target => "_blank"}
                      Terms of use
                  %li
                    %a{:href => 'http://support.acctv.co/entries/21751698-privacy-policy', :role => "privacy-policy", :target => "_blank"}
                      Privacy
                  %li
                    %a{:href => 'http://support.acctv.co/home', :target => "_blank", :role => "contact-us"}
                      Contact Us

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "http://use.typekit.com/hay8yri.js"
    :javascript
      try{Typekit.load();}catch(e){}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24556152-4']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = javascript_include_tag "http://cdn.sublimevideo.net/js/dt7dcs89.js"
    = javascript_include_tag "libraries"
    = javascript_include_tag "application"

    :javascript
      $(document).ready(function() {
        ACC.User.set({#{@current_user_in_json}});
      });

    = javascript_include_tag "http://asset0.zendesk.com/external/zenbox/v2.4/zenbox.js"
    :css
      @import url('http://asset0.zendesk.com/external/zenbox/v2.4/zenbox.css');