<!DOCTYPE html>
<html>
<head>
  <title>Aged Care Channel - Under maintenance (503)</title>
  <style type="text/css">
    body { 
      background: #E6E6E6;; 
      color: #666; 
      text-align: center; 
      font-family: Helvetica, Arial, sans-serif;
    }
    div.container {
      margin: 4em auto 0 auto;
    }
  
    div.dialog {
      width: 26em;
      margin: 0 auto;
      padding: 0 2em;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
      background: #fff;
    }
    img { padding-bottom: 20px; }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <div class="container">
    <img src="http://img190.imageshack.us/img190/3757/logoxlj.png" alt="Aged Care Channel" />
        
    <div class="dialog">
      <h1>The system is down for <%= reason ? reason : "maintenance" %> as of <%= Time.zone.now.strftime("%H:%M %Z") %>.</h1>
      <p>It'll be back <%= deadline ? deadline : "shortly" %>.</p>
    </div>
  </div>
</body>
</html>