!!!
%html
  %head
    %title ACC Online - Engage. Inform. Inspire.
    %meta{:name => 'viewport', :content => 'width=device-width'}
    = csrf_meta_tag
    = stylesheet_link_tag 'application'

  %body
    .container
      .row-fluid
        .span12
          .login
            .logoblock
              = image_tag "acc-logo.png"
            - if flash.notice
              .alert.alert-info= notice
            - if flash.alert
              .alert.alert-danger= alert
            = yield
        = render partial: "welcome/no_javascript"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24556152-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();