!!!
%html
  %head
    %title ACC Online - Engage. Inform. Inspire.
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %meta{:name => 'format-detection', :content => 'telephone=no'}
    = stylesheet_link_tag "wf", :media => "all"
    = csrf_meta_tags

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

  %body
    = yield
    = javascript_include_tag "wf"