!!!
%html
  %head
    %title ACC Online - Engage. Inform. Inspire.
    %meta{:name => 'viewport', :content => 'width=device-width'}
    %meta{:name => 'format-detection', :content => 'telephone=no'}
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "//get.pictos.cc/fonts/2289/1", :media => "all"
    = csrf_meta_tags

    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = javascript_include_tag "http://use.typekit.com/hay8yri.js"
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    = yield

    = javascript_include_tag "http://cdn.sublimevideo.net/js/dt7dcs89.js"
    = javascript_include_tag "application", "wireframes"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24556152-4']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = javascript_include_tag "http://asset0.zendesk.com/external/zenbox/v2.4/zenbox.js"
    :css
      @import url('http://asset0.zendesk.com/external/zenbox/v2.4/zenbox.css');