= content_for :title do
  Edit Job Title -
  = @job_title

= content_for :contextual_menu do
  .btn-group
    = link_to admin_service_job_title_path(@service, @job_title), class: 'btn btn-large tip-bottom', title: 'Show Job Title' do
      %i.icon-play
    = link_to admin_service_job_titles_path(@service), class: 'btn btn-large tip-bottom', title: 'Show Job Titles' do
      %i.icon-play

.widget-box
  .widget-title
    %h5 Edit
  .widget-content.nopadding
    -# url must be specified because the url_helper breaks for namespaced routes/models
    = simple_form_for @job_title, url: admin_service_job_title_path(@service, @job_title), html: {class: 'form-horizontal'} do |f|
      = render partial: 'form_fields', locals: {f: f}
