= content_for :title do
  = "#{@service} - #{@job_title}"

= content_for :contextual_menu do
  .btn-group
    - if can? :update, Service::JobTitle
      = link_to edit_admin_service_job_title_path(@service, @job_title), class: 'btn btn-large tip-bottom', title: 'Edit Job Title' do
        %i.icon-pencil
    - if can? :destroy, Service::JobTitle
      = link_to admin_service_job_title_path(@service, @job_title), method: :delete, class: 'btn btn-large btn-danger tip-bottom', title: 'Delete Job Title', confirm: "Are you sure you want to DELETE the job title #{@job_title.name}? This action cannot be undone." do
        %i.icon-minus

- if @employments.present?
  = render 'admin/services/users/employments'
- else
  .alert.alert-info
    There are no Employees with this Job Title
