.box
  %section
    %header
      %h1
        Sign Up
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :activation_token, required: true
      .control-group.submit
        .controls
          %input.btn.btn-success{:type => 'submit', :value => 'Sign Up'}
      = link_to "Back to Sign In", new_user_session_path
    %hr
      %p= link_to "Forgot Password", new_user_password_path